@model Recon_proto.Controllers.PreprocessController.partialfetchmodel
@using Newtonsoft.Json.Linq
@{
	JObject json = null;

	if (!string.IsNullOrEmpty(Model?.partialdata))
	{
		json = JObject.Parse(Model.partialdata);
	}
	var comaggcon = json?["comaggcon"];
}
<div class="accordion-wrapper">
	<div class="accordion" id="headingaggregatecondition">
		<input type="checkbox" name="radio-a" id="check21" style="display:none">
		<label class="accordion-label" for="check21">&nbsp;&nbsp;&nbsp;Aggregate Condition</label>
		<div class="accordion-content" id="headingaggregatecondition">
			<div class="row" style="margin-bottom:5px;">
				<div class="col-xs-12" style="margin-top:5px;">
					<div id="gd_aggcondition">
						<div id="grid_aggcondition">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		var data1 = @Html.Raw(comaggcon?.ToString() ?? "[]")
		grid_aggcondition(data1);
	});
	var join_condition_list = "";
	var preprocessagg_field_list = "";
	var preprocessagg_value_list = "";
	var preprocessagg_criteria_list = "";
	function grid_aggcondition(data) {
		$("#grid_aggcondition").kendoGrid({
			dataSource: {
				data: data,
				pageSize: 5,
				sort: [{ field: "preprocessaggcondition_seqno", dir: "asc" }],
				schema: {
					model: {
						fields: {
							preprocessaggcondition_gid: { type: "string", defaultValue: "0" },
							preprocessaggcondition_seqno: { type: "string", defaultValue: "0" },
							preprocessagg_applied_on: { type: "string" },
							preprocessagg_value: { type: "string" },
							preprocessagg_value_code: { type: "string" },
							preprocessagg_field_code: { type: "string" },
							preprocessagg_field: { type: "string" },
							preprocessagg_criteria: { type: "string" },
							preprocessagg_value_flag: { type: "string", editable: false },
							active_status: { type: "string" },
							active_status_desc: { type: "string" },
							open_parentheses_flag: { type: "string", editable: false },
							close_parentheses_flag: { type: "string", editable: false },
						}
					}
				}
			},
			height: 185,
			groupable: false,
			dataBound: function (e) {
				resultData = e.sender._data;
				var rows = $('#grid_aggfunction').data('kendoGrid').tbody.children();
				setColor(rows, resultData);
				if ($("#txtmode").val() == "View") {
					$(".k-grid-save").hide();
					$(".k-grid-delete").hide();
					$(".k-grid-add").hide();
				}
			},
			sortable: false,
			selectable: true,
			filterable: false,
			navigatable: true,
			resizable: true,
			pageable: true,
			pageable: {
				refresh: false,
				pageSizes: true,
				buttonCount: 5
			},
			toolbar: "<a href='javascript:void(0)' onclick='addRowaggcon()' href=''><span class='fa fa-plus' style='color:white'></span></a>",
			columns: [{
				command: [
					{
						name: "save",
						id: "Save",
						template: "<a href=''onclick='saveaggcon()' class='k-grid-save' data-bs-toggle='modal' ><img src = '../Assets/images/topsave.png' style='width:17%;'></a>&nbsp;&nbsp;&nbsp;",
					},
					{
						name: "Delete",
						id: "Delete",
						template: function (dataItem) {
							// Check your condition here to determine whether to show or hide the delete button
							if ($("#txtmode").val() == "View") {
								return ""; // Return empty string to hide the delete button
							} else {
								return "<a href='' onclick='myDeleteJsaggcon()'  data-bs-toggle='modal'><img src = '../Assets/images/del.png'></a>&nbsp;&nbsp;&nbsp;"
							}
						}
					},
				], title: "Action&nbsp;", width: "40px",
			},
			{
				field: "preprocessaggcondition_gid",
				title: "preprocessaggcondition_gid",
				hidden: true,
			},
			{
				field: "preprocessaggcondition_seqno",
				title: "Seq No.",
				width: 50,
				attributes: { style: "text-align: right;" },
				editor: function (container, options) {
					item_rate(container, options.field, '9', '3');
				},
			},
			{
				field: "open_parentheses_flag",
				title: "(", width: 20,filterable: false,
				template: function (dataItem) {
					if (dataItem.themeaggcondition_gid > 0) {
						return '<input type="checkbox" ' + (dataItem.open_parentheses_flag == "Y" ? 'checked="checked"' : '') + ' class="chkbx7">';
					} else {
						return '<input type="checkbox" ' + (dataItem.open_parentheses_flag == "Y" ? 'checked="checked"' : '') + ' class="chkbx7">';
					}
				}
			},
			{
				field: "preprocessagg_field_code",
				title: "preprocessagg_field_code",
				hidden: true,
			},
			{
				field: "preprocessagg_field",
				title: "Condition Field",
				editor: function (container, options) {
					combo_editor_condition(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "preprocessagg_field_code", "grid_aggcondition")
				},
				width: 100,
			},
			{
				field: "preprocessagg_criteria",
				title: "Condition Criteria",
				width: 100,
				editor: function (container, options) {
					combo_editor_conditionCriteria(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "preprocessagg_criteria", "grid_aggcondition")
				},
			},
			{
				field: "preprocessagg_value_flag",
				title: "Value",
				width: 60,
				template: function (dataItem) {
					var isChecked = dataItem.preprocessagg_value_flag == "Y" ? 'checked' : '';
					return `
					<center>
						<label class="switch">
							<input type="checkbox" class="chkbx9" ${isChecked}>
							<span class="slider round"></span>
						</label>
					</center>`;
				},
			},
			{
				field: "preprocessagg_value_code",
				title: "preprocessagg_value_code",
				hidden: true,
			},
			{
				field: "preprocessagg_value",
				title: "Comparison Field/Value",
				width: 100,
				editor: function (container, options) {
					if (options.model.preprocessagg_value_flag === "Y") {
						$('<input name="' + options.field + '" class="k-input k-textbox" />')
						.appendTo(container);
					}
					else {
						combo_editor_conditionvalue(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "preprocessagg_value_code", "grid_aggcondition")
					}
				},
			},
			{
				field: "close_parentheses_flag",
				title: ")", width: 20,filterable: false,
				template: function (dataItem) {
					if (dataItem.themeaggcondition_gid > 0) {
						return '<input type="checkbox" ' + (dataItem.close_parentheses_flag == "Y" ? 'checked="checked"' : '') + ' class="chkbx8">';
					} else {
						return '<input type="checkbox" ' + (dataItem.close_parentheses_flag == "Y" ? 'checked="checked"' : '') + ' class="chkbx8">';
					}
				},
			},
			{
				field: "join_condition",
				title: "Joins",
				editor: function (container, options) {
					combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "join_condition", "grid_comparisionfilter")
				},
				width: 40,
			},
			{
				field: "active_status",
				title: "Status",
				hidden: true
			},
			{
				field: "active_status_desc",
				title: "Status",
				width: 80,
				hidden: true,
			}],
			editable: true,
		});
		join_condition_list = [{ code: '', desc: '' }, { code: 'AND', desc: 'AND' }, { code: 'OR', desc: 'OR' }];
	}
	function addRowaggcon() {
		var grid = $("#grid_aggcondition").data("kendoGrid");
		var dataSource = grid.dataSource;
		// Get the last sequence number and increment it
		var lastSeqNo = grid.dataSource._data.length;
		var newSeqNo = parseInt(lastSeqNo) + 1;
		// Add a new row with the incremented sequence number
		dataSource.add({ preprocessaggcondition_seqno: newSeqNo, preprocessaggcondition_gid: 0, open_parentheses_flag: "N", close_parentheses_flag: "N",preprocessagg_value_flag:'Y' });
		var lastRow = grid.tbody.children().last();
		grid.content.scrollTop(lastRow.position().top);
	}
	$(function () {
		$('#grid_aggcondition').on('click', '.chkbx9', function () {
			var checked = $(this).is(':checked');
			var grid = $('#grid_aggcondition').data().kendoGrid;
			var dataItem = grid.dataItem($(this).closest('tr'));
			var row = $(this).closest('tr');
			if (checked == true) {
				dataItem._set('preprocessagg_value_flag', 'Y');
				dataItem._set('preprocessagg_value', '');
				dataItem._set('preprocessagg_value_code', '');
				var uid = dataItem.uid; // store the edited dataItem UID before refresh
				grid.refresh();
				setTimeout(function() {
					var editedRow = grid.table.find("tr[data-uid='" + uid + "']");
					grid.select(editedRow);
					grid.content.scrollTop(editedRow.position().top);
				}, 100);
			}
			else {
				dataItem._set('preprocessagg_value_flag', 'N');
				dataItem._set('preprocessagg_value', '');
				dataItem._set('preprocessagg_value_code', '');
				var uid = dataItem.uid; // store the edited dataItem UID before refresh
				grid.refresh();
				setTimeout(function() {
					var editedRow = grid.table.find("tr[data-uid='" + uid + "']");
					grid.select(editedRow);
					grid.content.scrollTop(editedRow.position().top);
				}, 100);
			}
			//grid.editCell(row.find("td[data-field='preprocessagg_value']"));
		})
	});
	$(function () {
		$('#grid_aggcondition').on('click', '.chkbx7', function () {
			var checked = $(this).is(':checked');
			var grid = $('#grid_aggcondition').data().kendoGrid;
			var dataItem = grid.dataItem($(this).closest('tr'));
			var row = $(this).closest('tr');
			if (checked == true) {
				dataItem._set('open_parentheses_flag', 'Y');
			}
			else {
				dataItem._set('open_parentheses_flag', 'N');
			}
		})
	})
	$(function () {
		$('#grid_aggcondition').on('click', '.chkbx8', function () {
			var checked = $(this).is(':checked');
			var grid = $('#grid_aggcondition').data().kendoGrid;
			var dataItem = grid.dataItem($(this).closest('tr'));
			var row = $(this).closest('tr');
			if (checked == true) {
				dataItem._set('close_parentheses_flag', 'Y');
			}
			else {
				dataItem._set('close_parentheses_flag', 'N');
			}
		})
	})
	function combo_editor_condition(container, cmbid, datasource, datafield, code_datafield, grid_id, Sdata) {
		var arr1 = [];
		var preprocess_code = $("#txtpreprocesscode").val();
		var in_user_code = sessionStorage.getItem("usrname");
		$.ajax({
			type: "POST",
			url: '../Preprocess/Preprocessfetch',
			dataType: 'json',
			async: false,
			data: JSON.stringify({ preprocess_code: preprocess_code,in_user_code:in_user_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				if (response != null) {
					var result = JSON.parse(response);
					if (result.comaggfun.length > 0) {
						for (i = 0; result.comaggfun.length > i; i++) {
							var list1 = {};
							list1.code = result.comaggfun[i].preprocessagg_field;
							list1.desc = result.comaggfun[i].preprocessaggfield_name;
							arr1.push(list1);
						}
					}
				}
			}
		});
		$('<input  id="' + cmbid + '" data-text-field="desc" data-value-field="desc" data-bind="value:' + datafield + '" name ="' + datafield + '"/>').appendTo(container).kendoComboBox({
			autoBind: false,
			filter: "contains",
			dataSource: arr1,
			change: function (e) {
				var cmb_value = this.value();
				if (cmb_value && this.selectedIndex == -1) {
					this.value("");
				}
				//else{FF
				var cmb_var = $("#" + grid_id).data("kendoGrid");
				var selectedItem = cmb_var.dataItem(cmb_var.select());
				var combobox_data = $("#" + cmbid).data("kendoComboBox");
				if (combobox_data != undefined && combobox_data.selectedIndex == -1) {
					selectedItem[datafield] = "";
					selectedItem[code_datafield] = "";
				}
				else {
					selectedItem[datafield] = combobox_data.dataItem(combobox_data.selectedIndex).desc;
					selectedItem[code_datafield] = combobox_data.dataItem(combobox_data.selectedIndex).code;
				}
			}
		});
		$("<span class='k-invalid-msg' data-for='" + datafield + "'></span>").appendTo(container);
	}
	function combo_editor_conditionvalue(container, cmbid, datasource, datafield, code_datafield, grid_id, Sdata) {
		var arr1 = [];
		var preprocess_code = $("#txtpreprocesscode").val();
		var in_user_code = sessionStorage.getItem("usrname");
		$.ajax({
			type: "POST",
			url: '../Preprocess/Preprocessfetch',
			dataType: 'json',
			async: false,
			data: JSON.stringify({ preprocess_code: preprocess_code,in_user_code:in_user_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				if (response != null) {
					var result = JSON.parse(response);
					if (result.comaggfun.length > 0) {
						for (i = 0; result.comaggfun.length > i; i++) {
							var list1 = {};
							list1.code = result.comaggfun[i].preprocessagg_field;
							list1.desc = result.comaggfun[i].preprocessaggfield_name;
							arr1.push(list1);
						}
					}
				}
			}
		});
		$('<input  id="' + cmbid + '" data-text-field="desc" data-value-field="desc" data-bind="value:' + datafield + '" name ="' + datafield + '"/>').appendTo(container).kendoComboBox({
			autoBind: false,
			filter: "contains",
			dataSource: arr1,
			change: function (e) {
				var cmb_value = this.value();
				if (cmb_value && this.selectedIndex == -1) {
					this.value("");
				}
				//else{FF
				var cmb_var = $("#" + grid_id).data("kendoGrid");
				var selectedItem = cmb_var.dataItem(cmb_var.select());
				var combobox_data = $("#" + cmbid).data("kendoComboBox");
				if (datafield == "preprocessagg_value") {
					if (datafield == "preprocessagg_value" && selectedItem.preprocessagg_value_input != undefined) {
						selectedItem[datafield] = selectedItem.preprocessagg_value_input;
					} else {
						selectedItem[datafield] = combobox_data.dataItem(combobox_data.selectedIndex).desc;
						selectedItem[code_datafield] = combobox_data.dataItem(combobox_data.selectedIndex).code;
					}
				}
			}
		});
		$("<span class='k-invalid-msg' data-for='" + datafield + "'></span>").appendTo(container);
	}
	function combo_editor_conditionCriteria(container, cmbid, datasource, datafield, code_datafield, grid_id, Sdata) {
		var arr1 = [];
		var cmb_var = $("#" + grid_id).data("kendoGrid");
		var selectedItem = cmb_var.dataItem(cmb_var.select());
		var preprocessagg_field_code = selectedItem.preprocessagg_field_code;
		var sourcedata = "COMPARISON";
		var in_preprocess_code = $("#txtpreprocesscode").val();
		var in_user_code = sessionStorage.getItem("usrname");
		$.ajax({
			type: "POST",
			url: '../Preprocess/getConditioncriteria',
			dataType: 'json',
			async: false,
			data: JSON.stringify({ in_condition_type: sourcedata, in_field_type: preprocessagg_field_code, in_preprocess_code: in_preprocess_code, in_user_code: in_user_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				if (response != null) {
					var res = JSON.parse(response);
					for (i = 0; res.length > i; i++) {
						var list = {};
						list.code = res[i].condition_desc;
						list.desc = res[i].condition_desc;
						arr1.push(list);
					}
				}
			}
		});
		$('<input  id="' + cmbid + '" data-text-field="desc" data-value-field="desc" data-bind="value:' + datafield + '" name ="' + datafield + '"/>').appendTo(container).kendoComboBox({
			autoBind: false,
			filter: "contains",
			dataSource: arr1,
			change: function (e) {
				var cmb_value = this.value();
				if (cmb_value && this.selectedIndex == -1) {
					this.value("");
				}
				//else{FF
				var cmb_var = $("#" + grid_id).data("kendoGrid");
				var selectedItem = cmb_var.dataItem(cmb_var.select());
				var combobox_data = $("#" + cmbid).data("kendoComboBox");
				if (datafield == "preprocessagg_criteria") {
					if (datafield == "preprocessagg_criteria" && selectedItem.preprocessagg_criteria_input != undefined) {
						selectedItem[datafield] = selectedItem.preprocessagg_criteria_input;
					} else {
						selectedItem[datafield] = combobox_data.dataItem(combobox_data.selectedIndex).desc;
					}
					selectedItem.preprocessagg_criteria_input = undefined;
				}
			}
		});
		$("<span class='k-invalid-msg' data-for='" + datafield + "'></span>").appendTo(container);
	}
	function saveaggcon() {
		try {
			var grid = $("#grid_aggcondition").data("kendoGrid");
			var model = grid.dataItem($(event.target).closest("tr"));
			var in_preprocess_code = $("#txtpreprocesscode").val();
			var preprocessagg_field = model.preprocessagg_field_code;
			var preprocessaggcondition_seqno = model.preprocessaggcondition_seqno;
			var preprocessagg_applied_on = model.preprocessagg_applied_on_code;
			var preprocessagg_criteria = model.preprocessagg_criteria;
			var preprocessagg_value_flag = model.preprocessagg_value_flag;
			if (model.preprocessagg_value_flag == 'Y') {
				var preprocessagg_value = model.preprocessagg_value;
			} else {
				var preprocessagg_value = model.preprocessagg_value_code;
			}
			var in_open_flag = model.open_parentheses_flag
			var in_close_flag = model.close_parentheses_flag;
			var in_join_condition = model.join_condition;
			if (in_join_condition == undefined) {
				in_join_condition = "";
			}
			var action = "";
			var action_by = sessionStorage.getItem("usrname");
			var preprocessaggcondition_gid = model.preprocessaggcondition_gid;
			if (preprocessaggcondition_gid == "0") {
				preprocessaggcondition_gid = 0;
				action = "INSERT"
			} else {
				action = "UPDATE"
			}
			var status = "Y";
			$.ajax({
				type: "POST",
				url: '../Preprocess/Aggconditionsave',
				dataType: 'json',
				data: JSON.stringify({
					preprocessaggcondition_gid: preprocessaggcondition_gid, in_preprocess_code: in_preprocess_code, preprocessaggcondition_seqno: preprocessaggcondition_seqno,
					in_action: action, in_action_by: action_by, in_active_status: status,
					preprocessagg_field: preprocessagg_field,
					preprocessagg_applied_on: preprocessagg_applied_on, preprocessagg_criteria: preprocessagg_criteria,
					preprocessagg_value: preprocessagg_value, preprocessagg_value_flag: preprocessagg_value_flag, in_open_flag: in_open_flag,
					in_close_flag: in_close_flag, in_join_condition: in_join_condition
				}),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					debugger;
					if (response != null) {
						if (response.out_result == "1") {
							$.alert({
								title: 'Recon',
								content: response.out_msg,
								type: 'green',
							});
							preprocessfetch($("#txtpreprocesscode").val());						
						} else {
							{
								$.alert({
									title: 'Recon',
									content: response.out_msg,
									type: 'red',
								});
							}
						}
					}
					else {
					}
				},
				error: function (er) {
					alert(er)
					console.log(er)
				}
			});
		}
		catch (e) {
			console.log(e)
		}
	}
	function myDeleteJsaggcon() {
		var grid = $("#grid_aggcondition").data("kendoGrid");
		var model = grid.dataItem($(event.target).closest("tr"));
		var preprocessaggcondition_gid = parseInt(model.preprocessaggcondition_gid);
		if (preprocessaggcondition_gid == 0) {
			grid.dataSource.remove(model);
		} else {
			$.confirm({
				icon: 'fa fa-warning',
				title: 'Recon',
				autoClose: 'cancel|10000',
				theme: 'dark',
				animationSpeed: 700,
				content: 'Are you sure do you want to delete this record!',
				type: 'orange',
				buttons: {
					confirm: function () {
						var in_preprocess_code = $("#txtpreprocesscode").val();
						var preprocessagg_field = model.preprocessagg_field_code;
						var preprocessaggcondition_seqno  = 0;
						var preprocessagg_applied_on  = "";
						var preprocessagg_criteria  = "";
						var preprocessagg_value_flag = "";
						var preprocessagg_value  = "";
						var in_open_flag  = "";
						var in_close_flag = "";
						var in_join_condition  = "";
						var action = "DELETE";
						var action_by = sessionStorage.getItem("usrname");
						var preprocessaggcondition_gid = model.preprocessaggcondition_gid;
						$.ajax({
							type: "POST",
							url: '../Preprocess/Aggconditionsave',
							dataType: 'json',
							data: JSON.stringify({
									preprocessaggcondition_gid: preprocessaggcondition_gid, in_preprocess_code: in_preprocess_code, preprocessaggcondition_seqno: preprocessaggcondition_seqno,
									in_action: action, in_action_by: action_by, in_active_status: status,
									preprocessagg_field: preprocessagg_field,
									preprocessagg_applied_on: preprocessagg_applied_on, preprocessagg_criteria: preprocessagg_criteria,
									preprocessagg_value: preprocessagg_value, preprocessagg_value_flag: preprocessagg_value_flag, in_open_flag: in_open_flag,
									in_close_flag: in_close_flag, in_join_condition: in_join_condition
							}),
							contentType: 'application/json; charset=utf-8',
							success: function (response) {
								if (response.out_result == "1") {
									$.alert({
										icon: 'fa fa-success',
										title: 'Recon',
										theme: 'dark',
										content: response.out_msg,
										type: 'green',
										animationSpeed: 700,
									});
									preprocessfetch($("#txtpreprocesscode").val());
								} else {
									$.alert({
										title: 'Recon',
										content: response.out_msg,
										type: 'red',
									});
								}
							}
						})
					},
					cancel: function () {
						$.alert({
							icon: 'fa fa-success',
							title: 'Recon',
							theme: 'dark',
							content: 'Delete Canceled.!',
							type: 'blue',
							animationSpeed: 700,
						});
					},
				}
			});
		}
	}
</script>