@model Recon_proto.Controllers.PreprocessController.partialfetchmodel
@using Newtonsoft.Json.Linq
@{
	JObject json = null;
	if (!string.IsNullOrEmpty(Model?.partialdata))
	{
		json = JObject.Parse(Model.partialdata);
	}
	var preprocesscondition = json?["preprocesscondition"];
}
<div class="accordion-wrapper">
	<div class="accordion" id="headingcomparsion">
		<input type="checkbox" name="radio-a" id="check12" style="display:none">
		<label class="accordion-label" for="check12">&nbsp;&nbsp;&nbsp;preprocess Condition</label>
		<div class="accordion-content" id="headingcomparsion">
			<div class="row" style="margin-bottom:5px;">
				<div class="col-xs-12" style="margin-top:5px;">
					<div id="gd_preprocesscondition">
						<div id="grid_preprocesscondition">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		var data1 = @Html.Raw(preprocesscondition?.ToString() ?? "[]")
		grid_preprocesscondition(data1);
	});
	function grid_preprocesscondition(data) {
		var source_field_desc_list = "";
		var extraction_criteria_list = "";
		var comparison_criteria_list = "";
		$("#grid_preprocesscondition").kendoGrid({
			dataSource: {
				data: data,
				pageSize: 5,
				sort: [{ field: "condition_seqno", dir: "asc" }],
				schema: {
					model: {
						fields: {
							preprocesscondition_gid: { type: "string", defaultValue: "0" },
							condition_seqno: { type: "string", defaultValue: 0 },
							preprocess_code: { type: "string" },
							source_field_code: { type: "string", defaultValue: "" },
							source_field_desc: { type: "string", defaultValue: "" },
							comparison_field: { type: "string", defaultValue: "" },
							comparison_field_desc: { type: "string" },
							extraction_criteria: { type: "string" },
							extraction_criteria_code: { type: "string" },
							comparison_criteria: { type: "string" },
							comparison_criteria_code: { type: "string" },
							active_status: { type: "string" },
							active_status_desc: { type: "string" },
							open_parentheses_flag: { type: "string", editable: false },
							close_parentheses_flag: { type: "string", editable: false },
							join_condition: { type: "string" },
						}
					}
				}
			},
			height: 185,
			groupable: false,
			//dataBinding: setDefaultValues,
			edit: OnEdit,
			dataBound: function (e) {
				resultData = e.sender._data;
				var rows = $('#grid_preprocesscondition').data('kendoGrid').tbody.children();
				setColor(rows, resultData);

				if ($("#txtmode").val() == "View") {
					$(".k-grid-save").hide();
					$(".k-grid-delete").hide();
					$(".k-grid-add").hide();
				}
			},
			sortable: false,
			selectable: "row",
			filterable: false,
			navigatable: true,
			resizable: true,
			pageable: true,
			pageable: {
				refresh: false,
				pageSizes: true,
				buttonCount: 5
			},
			toolbar: "<a href='javascript:void(0)' onclick='saveheader()' > <span class='fa fa-plus' style = 'color:white' > </span></a> ",
			columns: [{
				command: [
					{
						name: "save",
						id: "Save",
						template: "<a href=''onclick='savepreprocesscondition()' class='k-grid-save' data-bs-toggle='modal' ><img src = '../Assets/images/topsave.png' style='width:24%;'></a>&nbsp;&nbsp;&nbsp;",
					},
					{
						name: "Delete",
						id: "Delete",
						template: function (dataItem) {
							// Check your condition here to determine whether to show or hide the delete button
							if ($("#txtmode").val() == "View") {
								return ""; // Return empty string to hide the delete button
							} else {
								return "<a href='' onclick='myDeleteJsreprocesscondition()'  data-bs-toggle='modal'><img src = '../Assets/images/del.png'></a>&nbsp;&nbsp;&nbsp;"
							}
						}
					},
				], title: "Action&nbsp;", width: "50px",
			},
			{
				field: "condition_seqno",
				title: "Seq No.",
				width: 80,
				attributes: { style: "text-align: right;" },
				editor: function (container, options) {
					item_rate(container, options.field, '9', '3');
				},
			},
			{
				field: "open_parentheses_flag",
				title: "(", width: 20,filterable: false,
				template: function (dataItem) {
					if (dataItem.preprocesscondition_gid > 0) {
						return '<input type="checkbox" ' + (dataItem.open_parentheses_flag == "Y" ? 'checked="checked"' : '') + ' class="chkbx1">';
					} else {
						return '<input type="checkbox" ' + (dataItem.open_parentheses_flag == "Y" ? 'checked="checked"' : '') + ' class="chkbx1">';
					}
				}
			},
			{
				field: "preprocesscondition_gid",
				title: "preprocesscondition_gid",
				hidden: true,
			},
			{
				field: "source_field_code",
				title: "Source Field",
				width: 100,
				hidden: true,
			},
			{
				field: "source_field_desc",
				title: "Source Field",
				editor: function (container, options) {
					//combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "source_field_code", "grid_preprocesscondition")
					combo_editor_new(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "source_field_code", "grid_preprocesscondition","SOURCE")
				},
				width: 120,
			},
			{
				field: "extraction_criteria_code",
				title: "Extraction Criteria",
				hidden: true,
			},
			{
				field: "extraction_criteria",
				title: "Extraction Criteria",
				editor: function (container, options) {
					combo_editor_man1(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "extraction_criteria", "grid_preprocesscondition", "SOURCE")
				},
				editable: true,
				width: 170,
			},
			{
				field: "comparison_field",
				title: "comparison_field",
				width: 100,
				hidden: true,
			},
			{
				field: "comparison_field_desc",
				title: "Comparison Field",
				editor: function (container, options) {
					//combo_editor_new(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "comparison_field", "grid_preprocesscondition")
				combo_editor_new(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "comparison_field", "grid_preprocesscondition","Comparison")
				},
				width: 120,
			},
			{
				field: "comparison_criteria_code",
				title: "comparison_criteria_code",
				hidden: true,
			},
			{
				field: "comparison_criteria",
				title: "Comparison Criteria",
				editor: function (container, options) {
					combo_editor_man1(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "comparison_criteria", "grid_preprocesscondition", "COMPARISON")
				},
				width: 170,
			},
			{
				field: "active_status",
				title: "Status",
				hidden: true
			},
			{
				field: "active_status_desc",
				title: "Status",
				width: 80,
				hidden: true
			},
			{
				field: "close_parentheses_flag",
				title: ")", width: 20,filterable: false,
				template: function (dataItem) {
					if (dataItem.preprocesscondition_gid > 0) {
						return '<input type="checkbox" ' + (dataItem.close_parentheses_flag == "Y" ? 'checked="checked"' : '') + ' class="chkbx2">';
					} else {
						return '<input type="checkbox" ' + (dataItem.close_parentheses_flag == "Y" ? 'checked="checked"' : '') + ' class="chkbx2">';
					}
				},
			},

			{
				field: "join_condition",
				title: "Joins",
				editor: function (container, options) {
					combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "join_condition", "grid_preprocesscondition")
				},
				width: 60,
			}],
			editable: true,
		});
		//source_field_desc_list = cmbsourcefield();
		//comparison_field_desc_list = cmbsourcefield();
		join_condition_list = [{ code: '', desc: '' }, { code: 'AND', desc: 'AND' }, { code: 'OR', desc: 'OR' }];
	}
	function OnEdit(e) {
		try {
			setDefaultValues(e);
		}
		catch (err) {
			javascript_log4j_root(arguments.callee.name, err);
		}
	}
	function color() {
		$("#grid_preprocesscondition").data("kendoGrid").dataItem($(event.target).closest("tr")).css('backgroundColor', '#ff3333');
	}
	function combo_editor_man1(container, cmbid, datasource, datafield, code_datafield, grid_id, Sdata) {

		var arr = [];
		var cmb_var = $("#" + grid_id).data("kendoGrid");
		var selectedItem = cmb_var.dataItem(cmb_var.select());
		var sourcedata = Sdata;

		if (sourcedata == "SOURCE") {
			var codeValue = selectedItem.source_field_desc;
		} else {
			var codeValue = selectedItem.comparison_field_desc;
		}
		var in_recon_code = $("#cmbrecon").val();
		var in_user_code = sessionStorage.getItem("usrname");
		$.ajax({
			type: "POST",
			url: '../Rulesetup/rulefilterfetch',
			dataType: 'json',
			async: false,
			data: JSON.stringify({ in_condition_type: sourcedata, in_field_type: codeValue, in_recon_code: in_recon_code, in_user_code: in_user_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				if (response != null) {
					var res = JSON.parse(response);
					for (i = 0; res.length > i; i++) {
						var list = {};
						list.code = res[i].condition_desc;
						list.desc = res[i].condition_desc;
						arr.push(list);
					}
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}
		});
		$('<input  id="' + cmbid + '" data-text-field="desc" data-value-field="desc" data-bind="value:' + datafield + '" name ="' + datafield + '"/>').appendTo(container).kendoComboBox({
			autoBind: false,
			filter: "contains",
			dataSource: arr,
			change: function (e) {
				var cmb_var = $("#" + grid_id).data("kendoGrid");
				var selectedItem = cmb_var.dataItem(cmb_var.select());
				var combobox_data = $("#" + cmbid).data("kendoComboBox");
				if (datafield == "extraction_criteria") {
					if (datafield == "extraction_criteria" && selectedItem.extraction_criteria_input != undefined) {
						selectedItem[datafield] = selectedItem.extraction_criteria_input;
					} else {
						selectedItem[datafield] = combobox_data.dataItem(combobox_data.selectedIndex).desc;
					}
					selectedItem.extraction_criteria_input = undefined;
				}
				if (datafield == "comparison_criteria") {
					if (datafield == "comparison_criteria" && selectedItem.comparison_criteria_input != undefined) {
						selectedItem[datafield] = selectedItem.comparison_criteria_input;
					} else {
						selectedItem[datafield] = combobox_data.dataItem(combobox_data.selectedIndex).desc;
					}
					selectedItem.comparison_criteria_input = undefined;
				}
			},
		});
	}
	function cmbsourcefield() {
		var arr1 = [];
		var reconcode = $("#cmbrecon").val();
		var in_user_code = sessionStorage.getItem("usrname");
		$.ajax({
			type: "POST",
			url: '../Rulesetup/FieldAgainstRecon',
			dataType: 'json',
			async: false,
			data: JSON.stringify({ in_recon_code: reconcode, in_user_code: in_user_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				if (response != null) {
					var result = JSON.parse(response);
					for (i = 0; result.length > i; i++) {
						var list1 = {};
						list1.code = result[i].recon_field_name;
						list1.desc = result[i].recon_field_desc;
						arr1.push(list1);
					}
				}
			}
		});
		return arr1;
	}
	function combo_editor_new(container, cmbid, datasource, datafield, code_datafield, grid_id, Sdata) {
		var arr = [];
		var cmb_var = $("#" + grid_id).data("kendoGrid");
		var selectedItem = cmb_var.dataItem(cmb_var.select());
		var sourcedata = Sdata;
		if($("#Cmbprocessmethod").val() != "QCD_LOOKUP_COMPARISON"){
			if (Sdata == "SOURCE") {
				var dataset_code = $("#sourcedataset").val();
			} else {
				var dataset_code = $("#comdataset").val();
			}
			var in_recon_code = $("#cmbrecon").val();
			var in_user_code = sessionStorage.getItem("usrname");
			$.ajax({
				type: "POST",
				url: '../Rulesetup/getdatasetField',
				dataType: 'json',
				async: false,
				data: JSON.stringify({ in_dataset_code: dataset_code, in_recon_code: in_recon_code, in_user_code: in_user_code }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					if (response != null) {
						var res = JSON.parse(response);
						for (i = 0; res.length > i; i++) {
							var list = {};
							list.code = res[i].recon_field_name;
							list.desc = res[i].recon_field_desc;
							arr.push(list);
						}
					}
				},
				error: function (er) {
					alert(er)
				}
			});
		}else {
			if (Sdata == "SOURCE") {
				dataset_code = $("#sourcedataset").val();
			} else {
				dataset_code = $("#comdataset").val();
			}
			var in_user_code = sessionStorage.getItem("usrname");
			$.ajax({
				type: "POST",
				url: '../Recon/Datasetfieldlist',
				dataType: 'json',
				async: false,
				data: JSON.stringify({ datasetCode: dataset_code, in_user_code: in_user_code }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					if (response != null) {
						var result = JSON.parse(response);
						var res = result.DataSet;
						for (i = 0; res.length > i; i++) {
							var list1 = {};
							list1.code = res[i].dataset_table_field;
							list1.desc = res[i].field_name;
							arr.push(list1);
						}
					}
				}
			});
		}

		$('<input  id="' + cmbid + '" data-text-field="desc" data-value-field="desc" data-bind="value:' + datafield + '" name ="' + datafield + '"/>').appendTo(container).kendoComboBox({
			autoBind: false,
			filter: "contains",
			dataSource: arr,
			change: function (e) {
			var cmb_value = this.value();
			if (cmb_value && this.selectedIndex == -1) {
				this.value("");
			}
			var cmb_var = $("#" + grid_id).data("kendoGrid");
			var selectedItem = cmb_var.dataItem(cmb_var.select());
			var combobox_data = $("#" + cmbid).data("kendoComboBox");
			if (combobox_data != undefined && combobox_data.selectedIndex == -1) {
				selectedItem[datafield] = "";
				selectedItem[code_datafield] = "";
			}
			else {
				selectedItem[datafield] = combobox_data.dataItem(combobox_data.selectedIndex).desc;
				selectedItem[code_datafield] = combobox_data.dataItem(combobox_data.selectedIndex).code;
				}
			}
		});
		$("<span class='k-invalid-msg' data-for='" + datafield + "'></span>").appendTo(container);
		  if(datafield == "filter_value")
		  {
			var combo = $("#" + cmbid).data("kendoComboBox");
			combo.input.attr("readonly", true); // stop typing
		  }
	}
	function addRowcondition() {
		var grid = $("#grid_preprocesscondition").data("kendoGrid");
		var dataSource = grid.dataSource;
		var rowIndex = 2; // Change this to the index of the row you want to focus on
		grid.select("tr:eq(" + rowIndex + ")");
		var max = 0;
		// Get the last sequence number and increment it
		var lastSeqNo = grid.dataSource._data.length;
		for (var i = 0; i < grid.dataSource._data.length; i++) {
			if (parseInt(grid.dataSource._data[i].condition_seqno) > parseInt(max)) {
				max = grid.dataSource._data[i].condition_seqno;
			}
		}
		var newSeqNo = parseInt(max) + 1;
		// Add a new row with the incremented sequence number
		dataSource.add({ condition_seqno: newSeqNo, open_parentheses_flag: "N", close_parentheses_flag: "N", preprocesscondition_gid: 0 });
		var lastRow = grid.tbody.children().last();
		grid.content.scrollTop(lastRow.position().top);
	}
	$(function () {
		$('#grid_preprocesscondition').on('click', '.chkbx1', function () {
			var checked = $(this).is(':checked');
			var grid = $('#grid_preprocesscondition').data().kendoGrid;
			var dataItem = grid.dataItem($(this).closest('tr'));
			var row = $(this).closest('tr');
			if (checked == true) {
				dataItem._set('open_parentheses_flag', 'Y');
			}
			else {
				dataItem._set('open_parentheses_flag', 'N');
			}
		})
	})
	$(function () {
		$('#grid_preprocesscondition').on('click', '.chkbx2', function () {
			var checked = $(this).is(':checked');
			var grid = $('#grid_preprocesscondition').data().kendoGrid;
			var dataItem = grid.dataItem($(this).closest('tr'));
			var row = $(this).closest('tr');
			if (checked == true) {
				dataItem._set('close_parentheses_flag', 'Y');
			}
			else {
				dataItem._set('close_parentheses_flag', 'N');
			}
		})
	});
	function savepreprocesscondition() {
		try {
			var grid = $("#grid_preprocesscondition").data("kendoGrid");
			var model = grid.dataItem($(event.target).closest("tr"));
			var in_preprocess_code = $("#txtpreprocesscode").val();
			var in_source_field = "";
			var in_comparison_field = "";
			var in_source_field = model.source_field_code;
			var in_comparison_field = model.comparison_field;
			var in_extraction_criteria = model.extraction_criteria;
			var in_comparison_criteria = model.comparison_criteria;
			var condition_seqno = model.condition_seqno;
			var action = "";
			var action_by = sessionStorage.getItem("usrname");
			var preprocesscondition_gid = model.preprocesscondition_gid;
			if (preprocesscondition_gid == "0") {
				preprocesscondition_gid = 0;
				action = "INSERT"
			} else {
				action = "UPDATE"
			}
			var status = "Y";
			var in_open_flag = model.open_parentheses_flag
			var in_close_flag = model.close_parentheses_flag;
			var in_source_field_type = "COMPARISON";
			var in_join_condition = model.join_condition;
			var in_extraction_filter = "";
			var in_comparison_filter = "";
			$.ajax({
				type: "POST",
				url: '../Preprocess/preprocesscomparisonsave',
				dataType: 'json',
				data: JSON.stringify({
					in_preprocesscondition_gid: preprocesscondition_gid, in_preprocess_code: in_preprocess_code, source_field: in_source_field,
					comparison_field: in_comparison_field, in_open_flag: in_open_flag, in_close_flag: in_close_flag, in_condition_seqno: condition_seqno,
					in_extraction_criteria: in_extraction_criteria, in_comparison_criteria: in_comparison_criteria,in_extraction_filter:in_extraction_filter,in_comparison_filter:in_comparison_filter,
					in_action: action, in_action_by: action_by, in_active_status: status, in_join_condition: in_join_condition,in_source_field_type:in_source_field_type
				}),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					if (response.out_result == 1) {
						$.alert({
							title: 'Recon',
							content: response.out_msg,
							type: 'green',
						});
						preprocessfetch($("#txtpreprocesscode").val());
					}
					else {
						$.alert({
							title: 'Recon',
							content: response.out_msg,
							type: 'green',
						});
					}
				},
				error: function (er) {
					alert(er)
					console.log(er)
				}
			});
		}
		catch (e) {
			console.log(e)
		}
	}
	function myDeleteJsreprocesscondition() {
		var grid = $("#grid_preprocesscondition").data("kendoGrid");
		var model = grid.dataItem($(event.target).closest("tr"));
		var preprocesscondition_gid = parseInt(model.preprocesscondition_gid);
		if (preprocesscondition_gid == 0) {
			grid.dataSource.remove(model);
		} else {
			$.confirm({
				icon: 'fa fa-warning',
				title: 'Recon',
				autoClose: 'cancel|10000',
				theme: 'dark',
				animationSpeed: 700,
				content: 'Are you sure do you want to delete this record!',
				type: 'orange',
				buttons: {
					confirm: function () {
						var preprocesscondition_gid = model.preprocesscondition_gid;
						var in_preprocess_code = $("#txtpreprocesscode").val();
						var in_source_field = "";
						var in_comparison_field = "";
						var in_extraction_criteria = "";
						var in_comparison_criteria = "";
						var action = "Delete";
						var action_by = sessionStorage.getItem("usrname");
						var status = "";
						var condition_seqno = 0;
						var in_open_flag = "";
						var in_close_flag = "";
						var in_join_condition = "";
						var in_source_field_type = "COMPARISON";
						var in_extraction_filter = "";
						var in_comparison_filter = "";
						$.ajax({
							type: "POST",
							url: '../Preprocess/preprocesscomparisonsave',
							dataType: 'json',
							data: JSON.stringify({
									in_preprocesscondition_gid: preprocesscondition_gid, in_preprocess_code: in_preprocess_code, source_field: in_source_field,
									comparison_field: in_comparison_field, in_open_flag: in_open_flag, in_close_flag: in_close_flag, in_condition_seqno: condition_seqno,
									in_extraction_criteria: in_extraction_criteria, in_comparison_criteria: in_comparison_criteria,in_extraction_filter:in_extraction_filter,in_comparison_filter:in_comparison_filter,
									in_action: action, in_action_by: action_by, in_active_status: status, in_join_condition: in_join_condition,in_source_field_type:in_source_field_type
							}),
							contentType: 'application/json; charset=utf-8',
							success: function (response) {
								if (response.out_result == "1") {
									$.alert({
										icon: 'fa fa-success',
										title: 'Recon',
										theme: 'dark',
										content: response.out_msg,
										type: 'green',
										animationSpeed: 700,
									});
									preprocessfetch($("#txtpreprocesscode").val());
								} else {
									$.alert({
										title: 'Recon',
										content: response.out_msg,
										type: 'red',
									});
								}
							}
						})
					},
					cancel: function () {
						$.alert({
							icon: 'fa fa-success',
							title: 'Recon',
							theme: 'dark',
							content: 'Delete Canceled.!',
							type: 'blue',
							animationSpeed: 700,
						});
					},
				}
			});
		}
	}
</script>