@model Recon_proto.Controllers.PreprocessController.partialfetchmodel
@using Newtonsoft.Json.Linq
@{
	JObject json = null;

	if (!string.IsNullOrEmpty(Model?.partialdata))
	{
		json = JObject.Parse(Model.partialdata);
	}

	var header = json?["header"]?[0];
}
<div class="accordion-wrapper">
	<div class="accordion" id="headingquery">
		<input type="checkbox" name="radio-a" id="check8" checked style="display:none">
		<label class="accordion-label" for="check8">&nbsp;&nbsp;&nbsp;Query</label>
		<div id="collapsequery" class="accordion-content">
			<textarea id="querydata" name="querydata" rows="4" style="margin-top: 20px;height: 115px;width: 1155px;border-radius: 0.375rem;">@Html.Raw(header?["process_query"]?.ToString() ?? "")</textarea>
			@*<button type="button" id="validatequery" class="btn btn-sm btn btn-primary" onclick="validatequery1()">Validate</button>&nbsp;&nbsp;&nbsp;*@
		</div>
	</div>
</div>
<script>
	function validatequery1() {
		var in_sql = $("#querydata").val();
		var index = in_sql.toLowerCase().indexOf("where");
		if (index !== -1) {
			in_sql = in_sql + "  and 1=2"
		} else {
			in_sql = in_sql + "  where 1=2"
		}
		var in_action_by = sessionStorage.getItem("usrname");
		$.ajax({
			type: "POST",
			url: '../Preprocess/validatequery',
			dataType: 'json',
			async: false,
			data: JSON.stringify({ in_sql: in_sql, in_action_by: in_action_by }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				if (response != "[]") {
					var result = JSON.parse(response);
					var data = result[0];
					if (data.out_result == "1") {
						$.alert({
							title: 'Recon',
							content: data.out_msg,
							type: 'green',
						});
						$("#validquery").val("true");
					} else {
						$.alert({
							title: 'Recon',
							content: data.out_msg,
							type: 'red',
						});
					}
				} else {
					$.alert({
						title: 'Recon',
						content: "failed",
						type: 'red',
					});
					$("#validquery").val("false");
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}
		});
	}
</script>