@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-content {
            font-weight: normal;
            font-size: 13px;
        }

        .k-grid-header th.k-header > .k-link {
            /*//  width:100px;*/
        }

        .copy-text {
            bottom: 0;
            color: #757575;
            float: left;
            padding: 25px;
            width: 100%;
            margin-top: 30px;
        }

        #page-content-wrapper {
            min-height: 450px;
            padding: 20px;
            position: relative;
        }

        .sidebar-nav {
            width: 220px;
        }

        .status {
            width: 90%;
        }

        .new .btn:hover {
            background: #39C6F0 none repeat scroll 0 0;
            color: #fff;
            text-decoration: none;
            border: 1px solid #39C6F0;
        }

    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card-body" style="margin-top:-12px;height: 82%;"> 
                        <form class="form-horizontal" id="form" method="post" enctype="multipart/form-data" style="height:450px">
                    <div class="box-body" style="padding: 5% 35% 2% 21%;">
                                <div>
                                    <div>
                                        <input type="hidden" class="form-control" id="User_code" name="User_code" data-bind="value:User_code" readonly />
                                    </div>
                                    <div style="margin-bottom: 1%">
                                        <label> Old Password</label>
                                        <input type="password" class="form-control" id="old_pass" name="old_pass" data-bind="value:old_pass" />
                                    </div>
                                    <div style="margin-bottom: 1%">
                                        <label> New Password</label>
                                        <input type="password" value="" class="form-control" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                               id="password" placeholder="Enter the Password"><span id="result"></span>
                                    </div>
                                    <div>
                                        <label> Confirm Password</label>
                                        <input type="password" value="" class="form-control" name="confirm_password" id="confirm_password" placeholder="Enter the Confirm Password">
                                    </div>
                                </div>
                            </div>
                    <div class="box-footer" style="float: inline-start;">
                                <table align="center">
                                    <tr>
                                        <td width="420px"></td>
                                        <td>
                                            <input type="submit" name="btnsubmit" value="Update" onclick="validation()" id="btnsubmit" class="btn save_btn pull-right" />
                                        </td>
                                        <td width="5px"></td>
                                        <td>
                                        <td>
                                            <button type="button" class="btn cancel_btn pull-right" onclick="Redirecttologin()">Cancel</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="420px"></td>
                                        <td style="color:green;">
                                            <span class="Error_show"></span>
                                        </td>
                                    </tr>
                                </table>
                                <div style="height:10px">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
</body>
</html>

<script>
    $(document).ready(function () {
        $("#navhead").text("Change Password");
    });
    function Redirecttologin() {
        window.location.href = '../Dashboard/Dashboard';
    }
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");

    });
    function validation() {
        debugger;
        var msg = "";
        var allLetters = /^[a-zA-Z]+$/;
        var letter = /[a-zA-Z]/;
        var number = /[0-9]/;
        var password = $("#password").val();
        if ((password.length < 8 || !letter.test(password) || !number.test(password))) {
            msg += "please Enter Correct Format";
        }
        else {
        }
        var confirmPassword = $("#confirm_password").val();
        if (password != confirmPassword) {
            msg += "Passwords do not match";
        }
        else {

        }
        if (msg == "") {
            changepasswordsave()
        } else {
            $.dialog({
                title: 'Impact',
                content: msg,
                type: 'green',
            });
        }
        return msg;
    }
    function changepasswordsave() {
        debugger;


        var user_gid = $("#User_code").val();
        var oldpass = $("#old_pass").val();
        var password = $("#password").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("changepassword_Save", "Login")',
            data: JSON.stringify({
                user_gid: user_gid,
                oldpass: oldpass,
                newpass: password
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response[1] > 0) {
                    $.dialog({
                        title: 'Impact',
                        content: response[0],
                        type: 'green',
                    });
                    $("#slno").val("");
                    $("#listslno").val(response[1]);
                    $("#apply").show();
                }
                else {
                    $.dialog({
                        title: 'Impact',
                        content: response[0],
                        type: 'green',
                    });
                }

            }
        });
    };
    //$(document).ready(function () {
    //    debugger;
    //var baseUrl = (window.location).href;
    //var User_gid = baseUrl.substring(baseUrl.lastIndexOf('=') + 1);

    @*var user_code = @System.Web.Configuration.WebConfigurationManager.AppSettings["user_code"]*@

                                        //var user_code = @ViewBag.user_name;
            //var user_code = HttpContext.User.Identity.Name;

            //$("#User_code").val(user_code);
        //});
</script>

