@{
	ViewBag.Title = "ChangePassword";
	Layout = "~/Views/Shared/_layoutpassword.cshtml";
}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.error_show {
			color: red;
			margin-left: 10px;
		}

		.k-content {
			font-weight: normal;
			font-size: 13px;
		}

		.k-grid-header th.k-header > .k-link {
			/*//  width:100px;*/
		}

		.copy-text {
			bottom: 0;
			color: #757575;
			float: left;
			padding: 25px;
			width: 100%;
			margin-top: 30px;
		}

		#page-content-wrapper {
			min-height: 450px;
			padding: 20px;
			position: relative;
		}

		.sidebar-nav {
			width: 220px;
		}

		.status {
			width: 90%;
		}

		.new .btn:hover {
			background: #39C6F0 none repeat scroll 0 0;
			color: #fff;
			text-decoration: none;
			border: 1px solid #39C6F0;
		}

		.pass-box-body {
			background: rgba(0, 49, 86, 0.2);
			padding: 7px;
			border-top: 0;
			color: #666;
			margin-left: 58%;
			margin-top: 28%;
			border: 1px solid #d9dee3;
		}

		body {
			background-image: url('@Url.Content("~/content/images/background.jpg")');
			background-repeat: no-repeat;
			background-position: center center;
			background-attachment: fixed;
			background-size: cover;
		}

		.pass-box-body h3 {
			text-align: center;
			color: #fff;
			font-size: 24px;
		}

		.btn.btn-flat {
			border-radius: 0;
			box-shadow: none;
			border-width: 1px;
		}

		.btn {
			padding: 0.3375rem 1.15rem !important;
			font-size: 0.9175rem !important;
			line-height: 1.23 !important;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="pass-box-body">
			<h3>Change Password</h3>
			<div class="row" style="margin-bottom:5px">
				<label class="col-sm-4" style="margin-top:5px">Old Password </label>
				<div class="col-sm-8">
					<input type="password" class="form-control" id="old_pass" name="old_pass" data-bind="value:old_pass" />
					<input type="hidden" class="form-control" id="User_code" name="User_code" data-bind="value:User_code" readonly />
				</div>
			</div>
			<div class="row" style="margin-bottom:5px">
				<label class="col-sm-4" style="margin-top:5px"> New Password</label>
				<div class="col-sm-8">
					<input type="password" value="" class="form-control" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
						   id="password" placeholder="Enter the New Password"><span id="result"></span>
				</div>
			</div>
			<div class="row">
				<label class="col-sm-4" style="margin-top:5px"> Confirm Password</label>
				<div class="col-sm-8">
					<input type="password" value="" class="form-control" name="confirm_password" id="confirm_password" placeholder="Enter the Confirm Password">
				</div>
			</div>
			<div class="row" style="padding-bottom:3px;padding-left:5px;padding-right:5px;padding-top:9px">
				<div class="col-sm-12" style="text-align:right">
					<button type="button" class="btn btn-primary btn-block btn-flat" onclick="validation()" id="btnsubmit">Save</button>&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-primary btn-block btn-flat" style="margin-right:-3px" onclick="Redirecttologin()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<script>
	$(document).ready(function () {
		$("#navhead").text("Change Password");
	});
	function Redirecttologin() {
		var passflag = sessionStorage.getItem("passflag");
		if (passflag == 'N') {
			window.location.href = '../Home/index';
		} else {
			var url = '@Url.Action("Login", "Login")'
			window.location.href = url;
		}
	}
	$("#menu-toggle").click(function (e) {
		e.preventDefault();
		$("#wrapper").toggleClass("toggled");

	});
	function validation() {
		debugger;
		var msg = "";
		var allLetters = /^[a-zA-Z]+$/;
		var letter = /[a-zA-Z]/;
		var number = /[0-9]/;
		var password = $("#password").val();
		if (password.length < 8) {
			msg += "Password must be between 8 and 100 characters.";
		} else if (!letter.test(password)) {
			msg += "Password must contain at least one lowercase letter, one uppercase letter."
		} else if (!number.test(password)) {
			msg += "Password must contain at one number."
		}
		else {
		}
		var confirmPassword = $("#confirm_password").val();
		if (password != confirmPassword) {
			msg += "Passwords do not match";
		}
		else {

		}
		if (msg == "") {
			changepasswordsave()
		} else {
			$.dialog({
				title: 'Recon',
				content: msg,
				type: 'green',
			});
		}
		return msg;
	}
	function changepasswordsave() {
		var user_gid = sessionStorage.getItem("usrname");
		var oldpass = $("#old_pass").val();
		var password = $("#password").val();
		$.ajax({
			type: "POST",
			url: '@Url.Action("changepassword_Save", "Login")',
			data: JSON.stringify({
				user_gid: user_gid,
				oldpass: oldpass,
				newpass: password
			}),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				var result = JSON.parse(response);
				var data = result[0];
				if (data.out_result == "1") {
					$.dialog({
						title: 'Recon',
						content: data.out_msg,
						type: 'green',
					});
					$("#slno").val("");
					$("#apply").show();
					Signout();
				}
				else {
					$.dialog({
						title: 'Recon',
						content: data.out_msg,
						type: 'green',
					});
				}

			}
		});
	};
</script>

