@*@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<!Doctype html>
<html>
<head>
    <title></title>
    <style>
        .nav-item.me-2.me-xl-50 {
            margin-right: 28rem !important;
        }

        .k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
            color: #fff !important;
        }

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-grid.k-widget {
            height: 360px;
        }

 /*       .k-grid-header th.k-header > .k-link {
            width: 100px;
        }*/

        .k-grid-header {
            font-weight: bold;
        }

        .k-state-active {
            display: none;
        }

        .k-content {
            font-weight: normal;
            font-size: 13px;
        }

        .k-widget.k-window {
            padding-top: 35px;
            min-width: 90px;
            min-height: 50px;
            width: 700px !important;
            height: 300px !important;
            top: 180.766px !important;
            /*left: 120px !important;*/
            z-index: 10003;
            left: 300px !important;
        }

        .tooltip-container {
            position: relative;
            display: inline-block;
        }

        .info-icon {
            cursor: pointer;
        }

        .tooltip1 {
            display: none;
            position: absolute;
            background-color: lightslategray;
            color: #fff;
            padding: 10px;
            border-radius: 15px;
            white-space: nowrap;
            z-index: 1;
            top: 100%;
            margin-left: -142px;
            transform: translateX(-50%);
        }

        .tooltip-container:hover .tooltip1 {
            display: block;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card-body" style="margin-top:-1%;height: 84%;">
                <div class="row" style="margin-top:10px;margin-bottom: 2%;">
                    <div class="col-md-3">
                        <label for="" class="form-label">Date From</label>
                        <div>
                            <input class="cusDate" data-role='datepicker' id="initiated_from" name="initiated_from" onclick="Dateformat()" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Date To </label>
                        <div>
                            <input class="cusDate" data-role='datepicker2' id="initiated_to" name="initiated_to" onclick="Dateformat()" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top: 2%;">
                        <button type="button" onclick="runselected()" class="btn btn-sm save_btn me-2" style="width:40%;margin-top: 7px">
                            Run Selected
                        </button>
                    </div>
                </div>
                <div id="grid_preview"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="infomodal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 510px;left: 155px;">
                <div class="modal-header">
                </div>
                <div class="modal-body" style="margin-top: -26px;margin-bottom:10px">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">Info</h4>
                        </div>
                        <div class="col-sm-4">
                            <i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
                        </div>
                    </div>
                    <hr style="margin-top:-1px; width:100%;">
                    <div class="container">
                        <p><strong>Recon Name&nbsp;&nbsp;:&nbsp;</strong><span id="recon_name"></span></p>
                        <p><strong>Ko Initiated Date-Time&nbsp;&nbsp;:&nbsp;</strong><span id="initated_date"></span></p>
                        <p><strong>Ko Completed Date-Time&nbsp;&nbsp;:&nbsp;</strong><span id="completed_date"></span></p>
                        <p><strong>Ko Initiated By&nbsp;&nbsp;:&nbsp;</strong><span id="initatedby"></span></p>
                        <p><strong>KO Execution Status&nbsp;&nbsp;:&nbsp;</strong> <span id="status"></span></p>
                        <p><strong>Ko Remark&nbsp;&nbsp;:&nbsp;</strong><span id="remarks"></span></p>
                        <p><strong>Ko Exception Status&nbsp;&nbsp;:&nbsp;</strong><span id="execution_status"></span></p>
                    </div>
                </div>
                <div class="row" style="margin-top: -27px;margin-bottom: -12px;">
                    <div class="col-sm-4"> </div>
                    <div class="col-sm-4" style="margin-bottom:30px;float: right;">
                        <center><button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr1()">Close</button></center>
                    </div>
                    <div class="col-sm-4"> </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $("#navhead").text("Automatic Posting & Knockoff");
        kendodate_format();
        //getpreview();
        getreconlist();
    });
    function rr1() {
        debugger;
        $("#infomodal").hide();
    }

    function getpreview() {
        var in_master_code = "QCD_RC_PREVIEW_ON";
        var in_user_code = "sundar";
        $.ajax({
            type: "POST",
            url: '../Common/Qcdmaster',
            dataType: 'json',
            data: JSON.stringify({ in_user_code: in_user_code, in_master_code: in_master_code }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $("#matchon").empty();
                $("#matchon").append($('<option>', {
                    value: "",
                    text: "  Select  "
                }));
                $.each(response, function (index, item) {
                    $("#matchon").append($('<option>', {
                        value: item.masterCode,
                        text: item.masterName
                    }));
                });
            }
        });
    }

    function getreconlist() {
        debugger;
        var data = {};
        data.in_user_gid = 0;
        data.in_active_status = '';
        var Context = data;
        $.ajax({
            type: "POST",
            url: '../Recon/Reconlistknockoff',
            dataType: 'json',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                debugger;
                if (response.length > 0) {
                    grid_rule(response);
                }
                else {

                }
            },
            error: function (er) {
                alert(er)
                console.log(er)
            }
        });
    }

    function grid_rule(data) {
        $("#grid_preview").kendoGrid({
            dataSource: {
                data: data,
                pageSize: 15,
                schema: {
                    model: {
                        fields: {
                            recon_gid: { type: "string" },
                            recon_code: { type: "string" },
                            recon_name: { type: "string" },
                            recontype_code: { type: "string" },
                            recontype_desc: { type: "string" },
                            start_date: { type: "string" },
                            job_remark: { type: "string" },
                            job_status: { type: "string" },
                            jobstatus_desc: { type: "string" }
                        }
                    }
                }
            },
            height: 407,
            groupable: false,
            dataBound: function (e) {
                resultData = e.sender._data;
                var rows = $('#grid_preview').data('kendoGrid').tbody.children();
                setColor(rows, resultData);
            },
            sortable: true,
            selectable: true,
            filterable: true,
            navigatable: true,
            pageable: true,
            pageable: {
                refresh: false,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [
                {
                    field: "recon_gid",
                    title: "recon_gid",
                    hidden: true,
                },
                {
                    field: "job_status",
                    title: "job_status",
                    hidden: true,
                },
                {
                    field: "name",
                    title: "Action",
                    template: function (dataItem) {
                        if (dataItem.job_status == "P") {
                            return "<input id='preview_checkbox' onclick='rowselected(this)' name='job_status' type='radio' disabled />";

                        } else {
                            return "<input  id='preview_checkbox' onclick='rowselected(this)' name='job_status' type='radio' />";
                        }
                    },
                    width:30,
                    filterable: false,
                    attributes: {
                        style: "text-align: center;"
                    }
                },
                {
                    field: "recon_code",
                    title: "recon_code",
                    hidden: true,
                },
                {
                    field: "recon_name",
                    title: "Recon Name",
                    width: 200,
                },
                {
                    field: "recontype_code",
                    title: "recontype_code",
                    width: 10,
                    hidden: true
                },
                {
                    field: "recontype_desc",
                    title: "Recon Type",
                    width: 100,
                },
                {
                    field: "start_date",
                    title: "Last KO Execution Date",
                    width: 100,
                },
                {
                    field: "jobstatus_desc",
                    title: "Last KO Execution Status",
                    width: 100,
                },{
                    field: "Info",
                    title: "",
                    template: "<a href='' style='cursor:pointer;' onclick='openInfoModel(this)' value='edit' data-bs-toggle='modal'><img src = '../Assets/images/topnotes.png'></a>&nbsp;&nbsp;&nbsp;",
                    width: 50,
                    filterable: false,
                    attributes: {
                        style: "text-align: center;"
                    }

                }],
            editable: false,
        });
    }


    function runselected() {
        debugger;
        var rulepreview = $("#matchon").val();
        var period_from = $("#initiated_from").val();
        var ts = period_from.split("/");
        var pr = ts[2] + "-" + ts[1] + "-" + ts[0];
        var period_to = $("#initiated_to").val();
        var ts1 = period_to.split("/");
        var pr1 = ts1[2] + "-" + ts1[1] + "-" + ts1[0];
        var grid = $("#grid_preview").data("kendoGrid");
        var checkedrows = $("#preview_checkbox:checked", grid.tbody).closest("tr");
        var objpplmapupdlist = [];
        var dropdownid = "";
        for (var i = 0; i < checkedrows.length; i++) {
            dropdownid = grid.dataItem(checkedrows[i]);
        }
        var in_recon_code = dropdownid.recon_code;
        if (in_recon_code && period_from && period_to){
        $.ajax({
            type: "POST",
            url: '../KnockOff/previewRulebase',
            dataType: 'json',
            data: JSON.stringify({
                in_recon_code: in_recon_code + '$',
                in_period_from: pr,
                in_period_to: pr1,
                in_automatch_flag: 'Y',
                in_ip_addr: '',
                in_user_code: 'Hema'
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var res = JSON.parse(response);
                if (res[0].out_result == '1') {
                    $.alert({
                        title: 'Recon',
                        content: res[0].out_msg,
                        type: 'green',
                    });
                        getreconlist();
                }
                else if (res[0].out_result == '0') {
                    $.alert({
                        title: 'Recon',
                        content: res[0].out_msg,
                        type: 'red',
                    });
                } else {
                    $.alert({
                        title: 'Recon',
                        content: 'Something went wrong ..!',
                        type: 'red',
                    });
                }
            },
            error: function (er) {
                alert(er)
                console.log(er)
            }
        });
        } else if (!in_recon_code) {
            $.alert({
                title: 'Recon',
                content: 'Please select Recon Code',
                type: 'red',
            });
        } else if (!period_from) {
            $.alert({
                title: 'Recon',
                content: 'Please select Preiod From',
                type: 'red',
            });
        } else if (!period_to) {
            $.alert({
                title: 'Recon',
                content: 'Please select Preiod From',
                type: 'red',
            });
        }
    }

    function openInfoModel() {
        debugger;
        var grid = $("#grid_preview").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        document.getElementById('recon_name').innerHTML = selectedItem.recon_name;
        document.getElementById('initated_date').innerHTML = selectedItem.start_date;
        document.getElementById('completed_date').innerHTML = selectedItem.start_date;
        document.getElementById('initatedby').innerHTML = selectedItem.in_user_code;
        document.getElementById('status').innerHTML = selectedItem.jobstatus_desc;
        document.getElementById('remarks').innerHTML = selectedItem.job_remark;
        document.getElementById('execution_status').innerHTML = selectedItem.jobstatus_desc;
        $("#infomodal").modal("show");
    }

    function rowselected(val) {
        debugger;
        console.log(`val`, $("#dataset_selected").val());
        $("#infomodal").modal("hide");
    }


</script>*@

@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<!Doctype html>
<html>
<head>
    <title></title>
    <style>
        .k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
            color: transparent;
        }

        .k-header, .k-treemap-title, .k-grid-header .k-header > .k-link {
            color:white !important;
        }

        .k-header, .k-grid-header {
            color: white !important;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card-body" style="margin-top:-1%;height: 84%;">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <label class="form-label">Recon Name<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
                        <select id="reconname" onchange="showRule()" class="form-select form-control"> </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="" class="form-label">Version&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
                        <input class="form-control" disabled id="reconversion" type="text">
                    </div>
                    <div class="col-md-3" hidden>
                        <label class="form-label">Preview On</label>
                        <select id="prviewon" class="form-select form-control"> </select>
                    </div>
                    <div class="col-md-3" style="margin-top: 2%;" hidden>
                        <button type="button" class="btn btn-sm save_btn me-2" onclick="showRule()" style="width:40%;margin-top: 7px">
                            Show Rules
                        </button> &nbsp;&nbsp;&nbsp;

                        @*<button type="submit" class="btn btn-sm btn-success me-2" style="background: Green;border-color: Green;width:40%;margin-top: 7px">
                        KnockOff
                        </button>*@
                    </div>
                </div>

                <div class="row">
                    <div class="nav-align-top mt-3">
                        <ul class="nav nav-pills mb-2" role="tablist">
                            <li class="nav-item">
                                <button type="button"
                                        class="nav-link active"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#navs-pills-top-Rule"
                                        aria-controls="navs-pills-top-Rule"
                                        aria-selected="true">
                                    Rule
                                </button>
                            </li>

                            <li class="nav-item">
                                <button type="button"
                                        class="nav-link"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#navs-pills-top-Dataset"
                                        aria-controls="navs-pills-top-Dataset"
                                        aria-selected="true">
                                    Dataset
                                </button>
                            </li>

                        </ul>
                        <div class="tab-content" style="margin-top:2%;box-shadow:none !important;padding: 20px 0px;">
                            @*Rule*@
                            <div class="tab-pane fade show active" id="navs-pills-top-Rule" role="tabpanel" style="margin-top:-25px;">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="col-xs-12">
                                            <div id="grid_preview">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Dataset*@
                            <div class="tab-pane fade" id="navs-pills-top-Dataset" role="tabpanel" style="margin-top:-25px;">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="col-xs-12">
                                            <div id="dataset_grid"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" >
                        <label for="" class="form-label">Date From <span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
                        <div>
                            <input class="cusDate" data-role='datepicker' id="initiated_from" name="initiated_from" onclick="Dateformat()" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Date To <span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
                        <div>
                            <input class="cusDate" data-role='datepicker2' id="initiated_to" name="initiated_to" data-value="2022-12-21" onclick="Dateformat()" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top: 2%;">
                        <button type="button" onclick="showPreview()" class="btn btn-sm save_btn me-2" style="width:40%;margin-top: 7px">
                            Auto Match Off
                        </button> &nbsp;&nbsp;&nbsp;
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="infomodal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 510px;left: 155px;">
                <div class="modal-header">
                </div>
                <div class="modal-body" style="margin-top: -26px;margin-bottom:10px">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">Info</h4>
                        </div>
                        <div class="col-sm-4">
                            <i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
                        </div>
                    </div>
                    <hr style="margin-top:-1px; width:100%;">
                    <div class="container">
                        <p><strong>Rule Code&nbsp;&nbsp;:&nbsp;</strong><span id="rule_code"></span></p>
                        <p><strong>Rule Name&nbsp;&nbsp;:&nbsp;</strong><span id="rule_name"></span></p>
                        <p><strong>Rule Applied On&nbsp;&nbsp;:&nbsp;</strong><span id="rule_apply_on_desc"></span></p>
                        <p><strong>Rule Order&nbsp;&nbsp;:&nbsp;</strong><span id="rule_order"></span></p>
                        <p><strong>Rule Version&nbsp;&nbsp;:&nbsp;</strong><span id="rule_version"></span></p>
                        <p><strong>Group Flag&nbsp;&nbsp;:&nbsp;</strong><span id="group_flag"></span></p>
                        <p><strong>Source Dataset&nbsp;&nbsp;:&nbsp;</strong><span id="source_dataset"></span></p>
                        <p><strong>Comparision Dataset&nbsp;&nbsp;:&nbsp;</strong><span id="comparision_dataset"></span></p>
                        <p><strong>Rule Status&nbsp;&nbsp;:&nbsp;</strong><span id="active_status_desc"></span></p>

                    </div>
                </div>
                <div class="row" style="margin-top: -27px;margin-bottom: -12px;">
                    <div class="col-sm-4"> </div>
                    <div class="col-sm-4" style="margin-bottom:30px;float: right;">
                        <center><button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr1()">Close</button></center>
                    </div>
                    <div class="col-sm-4"> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="infoDatamodal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 700px; left: 0px;">
                <div class="modal-header">
                </div>
                <div class="modal-body" style="margin-top: -26px;margin-bottom:10px">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">Info</h4>
                        </div>
                        <div class="col-sm-4">
                            <i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
                        </div>
                    </div>
                    <hr style="margin-top:-1px; width:100%;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3" style="white-space: nowrap;"> <p><strong>Dataset Name </strong></p></div>
                            <div class="col-md-1">  <strong>:</strong> </div>
                            <div class="col-md-6"> <p><span id="dataset_code"> </span> <strong><span>&nbsp; - </span></strong> <span id="dataset_name"></span></p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="white-space: nowrap;"> <p><strong>Dataset Type </strong></p></div>
                            <div class="col-md-1">  <strong>:</strong> </div>
                            <div class="col-md-6" style="white-space: nowrap;"> <p><span id="dataset_type"></span></p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="white-space: nowrap;"> <p><strong>Last Sync Date </strong></p></div>
                            <div class="col-md-1">  <strong>:</strong> </div>
                            <div class="col-md-6" style="white-space: nowrap;"> <p><span id="last_sync_date"></span></p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="white-space: nowrap;"> <p><strong>Last Sync Status </strong></p></div>
                            <div class="col-md-1">  <strong>:</strong> </div>
                            <div class="col-md-6" style="white-space: nowrap;"> <p><span id="last_sync_status"></span></p></div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3" style="white-space: nowrap;"> <p><strong>Debit(Before) </strong></p></div>
                            <div class="col-md-1">  <strong>:</strong> </div>
                            <div class="col-md-6" style="white-space: nowrap;">
                                <p><strong>Count:</strong> <span id="debit_before_count"></span> &nbsp; <strong>Value:</strong> <span id="debit_before_value"></span> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="white-space: nowrap;"> <p><strong>Debit(After) </strong></p></div>
                            <div class="col-md-1">  <strong>:</strong> </div>
                            <div class="col-md-6" style="white-space: nowrap;">
                                <p><strong> Count:</strong> <span id="debit_after_count"></span> &nbsp; <strong>Value:</strong> <span id="debit_after_value"></span> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="white-space: nowrap;"> <p><strong>Credit(Before) </strong></p></div>
                            <div class="col-md-1">  <strong>:</strong> </div>
                            <div class="col-md-6" style="white-space: nowrap;">
                                <p><strong>Count:</strong> <span id="credit_before_count"></span> &nbsp; <strong>Value:</strong> <span id="credit_before_value"></span> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="white-space: nowrap;"> <p><strong>Credit(After) </strong></p></div>
                            <div class="col-md-1">  <strong>:</strong> </div>
                            <div class="col-md-6" style="white-space: nowrap;">
                                <p><strong>Count:</strong> <span id="credit_after_count"></span> &nbsp; <strong>Value:</strong> <span id="credit_after_value"></span> </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top: -27px;margin-bottom: -12px;">
                    <div class="col-sm-4"> </div>
                    <div class="col-sm-4" style="margin-bottom:30px;float: right;">
                        <center><button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%; cursor:pointer;" onclick="rr1()">Close</button></center>
                    </div>
                    <div class="col-sm-4"> </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {
        var selectedRule = [];
        $("#navhead").text("Automatic Posting & Knockoff");
        kendodate_format();
        $("#initiated_from").data("kendoDatePicker").value(new Date("1999-01-01"));
        getreconlist();
        grid_rule([]);
        grid_dataset([]);
    });

    function getreconlist() {
        debugger;
        var data = {};
        data.in_user_gid = 0;
        data.in_active_status = '';
        var Context = data;
        $.ajax({
            type: "POST",
            url: '../Recon/Reconlistfetch',
            dataType: 'json',
            data: JSON.stringify({ in_user_gid: '', in_active_status: '' }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                debugger;
                $("#reconname").empty();
                $("#reconname").append($('<option>', {
                    value: "",
                    text: "  Select  "
                }));
                $.each(response, function (index, item) {
                    if (item.active_status == 'Y') {
                    $("#reconname").append($('<option>', {
                        value: item.recon_code,
                        text: item.recon_name
                    }));
                    }
                });
            },
            error: function (er) {
                alert(er)
                console.log(er)
            }
        });
    }

    function showRule() {
        debugger;
        try {
            var in_recon_code = $("#reconname").val();
            $.ajax({
                type: "POST",
                url: '../KnockOff/RuleAgainstRecon',
                dataType: 'json',
                data: JSON.stringify({
                    in_recon_code: in_recon_code,
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    if (response != null) {
                        var result = JSON.parse(response);
                        grid_rule(result.ReconRule);
                        grid_dataset(result.ReconDataSet);
                        $("#reconversion").val(result.ReconRule[0].recon_rule_version)
                    } else {
                        grid_rule([]);
                        grid_dataset([]);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }
            });
        }
        catch (e) {
            console.log(e)
        }
    }

    function grid_dataset(data) {
        debugger;
        $("#dataset_grid").kendoGrid({
            dataSource: {
                data: data,
                pageSize: 5,
                schema: {
                    model: {
                        fields: {
                            dataset_code: { type: "string" },
                            dataset_name: { type: "string" },
                            dataset_type_desc: { type: "string" },
                            parent_dataset_name: { type: "string" },
                            last_sync_date: { type: "string" },
                            last_sync_status: { type: "string" },
                            active_status_desc: { type: "string" },
                        }
                    }
                }
            },
            height: 250,
            groupable: false,
            dataBound: function (e) {
                resultData = e.sender._data;
                var rows = $('#dataset_grid').data('kendoGrid').tbody.children();
                setColor(rows, resultData);
            },
            sortable: true,
            selectable: true,
            filterable: true,
            navigatable: true,
            pageable: true,
            pageable: {
                refresh: false,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [
                {
                    field: "dataset_code",
                    title: "Dataset Code",
                    width: 80,
                },
                {
                    field: "dataset_name",
                    title: "Dataset Name",
                    width: 100,
                },
                {
                    field: "dataset_type_desc",
                    title: "Dataset Type",
                    width: 80,
                },
                {
                    field: "last_sync_date",
                    title: "Last Sync Date",
                    width: 100,
                },
                {
                    field: "last_sync_status",
                    title: "Last Sync Status",
                    width: 80,
                },
                {
                    field: "parent_dataset_name",
                    title: "Parent Dataset",
                    width: 100,
                    hidden: true
                },
                {
                    field: "active_status_desc",
                    title: "Status",
                    width: 50,
                }, {
                    field: "Info",
                    title: "Info",
                    template: "<a href='' style='cursor:pointer;' onclick='openDataModel(this)' value='edit' data-bs-toggle='modal'><img src = '../Assets/images/topnotes.png'></a>&nbsp;&nbsp;&nbsp;",
                    width: 50,
                    filterable: false,
                    attributes: {
                        style: "text-align: center;"
                    }

                }],
            editable: false,
        });
    }

    function grid_rule(data) {
        $("#grid_preview").kendoGrid({
            dataSource: {
                data: data,
                pageSize: 5,
                schema: {
                    model: {
                        fields: {
                            rule_gid: { type: "string" },
                            rule_code: { type: "string" },
                            rule_name: { type: "string" },
                            rule_order: { type: "string" },
                            recon_rule_version: {type: "string"},
                            source_dataset_code: { type: "string" },
                            comparison_dataset_code: { type: "string" },
                            source_dataset_desc: { type: "string" },
                            comparison_dataset_desc: { type: "string" },
                            rule_apply_on_desc: { type: "string" },
                            group_flag: { type: "string" },
                            group_flag_desc: { type: "string" },
                            active_status_desc: { type: "string" }
                        }
                    }
                }
            },
            height: 250,
            groupable: false,
            dataBound: function (e) {
                resultData = e.sender._data;
                var rows = $('#grid_preview').data('kendoGrid').tbody.children();
                setColor(rows, resultData);
            },
            sortable: true,
            selectable: true,
            filterable: true,
            navigatable: true,
            pageable: true,
            pageable: {
                refresh: false,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [
                {
                    field: "rule_gid",
                    title: "rule_gid",
                    hidden: true,
                },
                {
                    field: "name",
                    title: "Action",
                    template: "<input id='preview_checkbox' type='checkbox' />",
                    width: 80,
                    hidden: true,
                },
                {
                    field: "rule_code",
                    title: "Rule Code",
                    width: 80,
                },

                {
                    field: "rule_name",
                    title: "Rule Name",
                    width: 100,
                },
                {
                    field: "rule_apply_on_desc",
                    title: "Rule Applied On",
                    width: 80,
                },
                {
                    field: "rule_order",
                    title: "Rule Order",
                    width: 50,
                    attributes: { style: "text-align: center;" }
                },
                {
                    field: "recon_rule_version",
                    title: "Rule Version",
                    width: 50,
                    hidden: true,
                },
                {
                    field: "group_flag_desc",
                    title: "Group Flag",
                    width: 50,
                },
                {
                    field: "active_status_desc",
                    title: "Status",
                    width: 50,
                },
                {
                    field: "source_dataset_desc",
                    title: "Source Dataset",
                    width: 150,
                    hidden: true
                },
                {
                    field: "source_dataset_desc",
                    title: "Comparision Dataset",
                    width: 150,
                    hidden: true
                },
                {
                    field: "source_dataset_code",
                    title: "Source Dataset",
                    width: 100,
                    hidden: true
                },
                {
                    field: "comparison_dataset_code",
                    title: "Comparision Dataset",
                    width: 100,
                    hidden: true

                }, {
                    field: "Info",
                    title: "Info",
                    template: "<a href='' style='cursor:pointer;' onclick='openInfoModel(this)' value='edit' data-bs-toggle='modal'><img src = '../Assets/images/topnotes.png'></a>&nbsp;&nbsp;&nbsp;",
                    width: 30,
                    filterable: false,
                    attributes: {
                        style: "text-align: center;"
                    }

                }],
            editable: false,
        });
    }


    function showPreview() {
        var in_recon_code = $("#reconname").val();
        var rulepreview = $("#prviewon").val();
       var period_from = $("#initiated_from").val();
        //var period_from = "1999/01/01";
        var ts = period_from.split("/");
        var pr = ts[2] + "-" + ts[1] + "-" + ts[0];
        var period_to = $("#initiated_to").val();
        var ts1 = period_to.split("/");
        var pr1 = ts1[2] + "-" + ts1[1] + "-" + ts1[0];
        var grid = $("#grid_preview").data("kendoGrid");
        var dataItems = grid.dataSource.data();
        var firstColumnValues = "";
        for (var i = 0; i < dataItems.length; i++) {
            var firstColumnValue = dataItems[i].rule_code + "#";
            firstColumnValues = firstColumnValues + firstColumnValue;
        }
        if (firstColumnValues != "") {
            firstColumnValues = firstColumnValues.slice(0, -1);
        }
        if (in_recon_code && period_from && period_to) {
            $.alert({
                title: 'Recon',
                content: "Job Initated, Please check the Job Status in Utility",
                type: 'green',
            });
            $.ajax({
                type: "POST",
                url: '../KnockOff/previewRulebase',
                dataType: 'json',
                data: JSON.stringify({
                    in_recon_code: in_recon_code,
                    in_period_from: pr,
                    in_period_to: pr1,
                    in_automatch_flag: 'Y',
                    in_ip_addr: '',
                    in_user_code: 'Hema'
                }),
                contentType: 'application/json; charset=utf-8',
                //success: function (response) {
                //    if (!response) {
                //        $.alert({
                //            title: 'Recon',
                //            content: "Something went wrong",
                //            type: 'red',
                //        });
                //    } else {
                //        var res = JSON.parse(response);
                //        $.alert({
                //            title: 'Recon',
                //            content: res[0].out_msg,
                //            type: 'green',
                //        });
                //    }
                //}
               
            });
        } else if (!in_recon_code) {
            $.alert({
                title: 'Recon',
                content: 'Please select Recon Code',
                type: 'red',
            });
        } else if (!period_from) {
            $.alert({
                title: 'Recon',
                content: 'Please select Preiod From',
                type: 'red',
            });
        } else if (!period_to) {
            $.alert({
                title: 'Recon',
                content: 'Please select Preiod To',
                type: 'red',
            });
        }
        hideProgress();
    }

    function rr1() {
        $("#infomodal").hide();
        $("infoDatamodal").hide();
    }

    function openInfoModel() {
        debugger;
        var grid = $("#grid_preview").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        document.getElementById('rule_code').innerHTML = selectedItem.rule_code;
        document.getElementById('rule_name').innerHTML = selectedItem.rule_name;
        document.getElementById('rule_apply_on_desc').innerHTML = selectedItem.rule_apply_on_desc;
        document.getElementById('group_flag').innerHTML = selectedItem.group_flag_desc;
        document.getElementById('rule_order').innerHTML = selectedItem.rule_order; 
        document.getElementById('rule_version').innerHTML = selectedItem.recon_rule_version;
        document.getElementById('source_dataset').innerHTML = selectedItem.source_dataset_desc;
        document.getElementById('comparision_dataset').innerHTML = selectedItem.source_dataset_desc;
        document.getElementById('active_status_desc').innerHTML = selectedItem.active_status_desc;
        $("#infomodal").modal("show");
    }

    function openDataModel() {
        debugger;
        var grid = $("#dataset_grid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        showDatacountGrid(selectedItem.dataset_code);
    }

    function showDatacountGrid(dataset_code) {
        debugger;
        $.ajax({
            type: "POST",
            url: '../KnockOff/recondatasetinfo',
            dataType: 'json',
            async: false,
            data: JSON.stringify({ in_recon_code: $("#reconname").val(), in_dataset_code: dataset_code, in_automatch_flag: 'Y' }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                debugger;
                if (response) {
                    var res = JSON.parse(response)
                    if (res.Table.length > 0) {
                        loadGrid(res.Table);
                    } else {
                        loadGrid([]);
                        $.alert({
                            title: 'Recon',
                            content: response,
                            type: 'red',
                        });
                    }
                } else {
                    $.alert({
                        title: 'Recon',
                        content: "Something Went Wrong..!",
                        type: 'red',
                    });
                }

            },
            error: function (er) {
                debugger;
                alert(er)
                console.log(er)
            }
        });
    }

    function loadGrid(data) {
        debugger;
        var grid = $("#dataset_grid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        document.getElementById('dataset_code').innerHTML = selectedItem.dataset_code;
        document.getElementById('dataset_name').innerHTML = selectedItem.dataset_name;
        document.getElementById('dataset_type').innerHTML = selectedItem.dataset_type_desc;
        document.getElementById('last_sync_date').innerHTML = selectedItem.last_sync_date;
        document.getElementById('last_sync_status').innerHTML = selectedItem.last_sync_status;
        document.getElementById('debit_before_count').innerHTML = data[0]["Dr Count Before"];
        document.getElementById('debit_before_value').innerHTML = data[0]["Dr Value Before"];
        document.getElementById('credit_before_count').innerHTML = data[0]["Cr Count Before"];
        document.getElementById('credit_before_value').innerHTML = data[0]["Cr Value Before"];
        document.getElementById('debit_after_count').innerHTML = data[0]["Dr Count After"];
        document.getElementById('debit_after_value').innerHTML = data[0]["Dr Value After"];
        document.getElementById('credit_after_count').innerHTML = data[0]["Cr Count After"];
        document.getElementById('credit_after_value').innerHTML = data[0]["Cr Value After"];
        $("#infoDatamodal").modal("show");
        //var columns = [];
        //var rows = [];
        //for (var key in data[0]) {
        //    var field = key.replace(/\s+/g, '_');
        //    var propType = typeof data[0][key];
        //    var bool = false;
        //    var txtalign = "right";
        //    var widthval = "";
        //    if (field == "forecolor" || field == "backcolor") {
        //        bool = true;
        //    } if (field == "Row_Labels") {
        //        txtalign = "left";
        //        widthval = 250;
        //    } else {
        //        txtalign = "right"
        //        widthval: 100;
        //    }
        //    columns.push({
        //        field: field,
        //        title: key,
        //        type: propType,
        //        attributes: { style: "text-align:" + txtalign },
        //        filterable: false,
        //        hidden: bool,
        //        width: 150
        //    });
        //}
        //$.each(data, function (i, e) {
        //    var entryObject = {};
        //    for (var key in e) {
        //        var field = key.replace(/\s+/g, '_');
        //        entryObject[field] = e[key];
        //    }
        //    rows.push(entryObject);
        //});

        //var configuration = {
        //    dataSource: {
        //        data: rows,
        //    },
        //    height: 80,
        //    navigatable: false,
        //    groupable: false,
        //    editable: false,
        //    sortable: false,
        //    scrollable: true,
        //    attributes: { style: "text-align: center;" },
        //    filterable: false,
        //    pageable: false,
        //    resizable: true,
        //    persistSelection: true,
        //    selectable: true,
        //    columns: columns,
        //    dataBound: function (e) {
        //        var grid = this; // "this" refers to the Kendo Grid

        //        grid.tbody.find("tr").each(function (index) {
        //            var rowData = grid.dataItem(this); // Get the data item for the current row
        //            $(this).css("background-color", rowData.backcolor);
        //            $(this).css("color", rowData.forecolor);
        //            //}
        //        });
        //    }
        //};

        //$("#example").remove();
        //$('#dataset_grid_model').append('<div id="example" style="position:relative;" class="k-content"><table id="dataset_grid_model" style="position:relative;overflow:scroll;width:100%"></table></div>');
        //var timeEditGrid = $("#dataset_grid_model").kendoGrid(configuration).data("kendoGrid");
    }

</script>