@{
	ViewBag.title = "Job Completed";
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 33rem !important;
		}

		.error_show {
			color: red;
			margin-left: 10px;
		}

		table {
			border: 1px solid #C5C5C5 !important;
		}

		.k-grid-content {
			overflow-x: hidden;
		}

		.k-grid.k-widget {
			height: 360px;
		}

		/*	.k-grid-header th.k-header > .k-link {
					width: 100px;
				}*/

		.k-grid-header {
			font-weight: bold;
		}

		.k-grid-filter.k-state-active {
			color: #ffffff;
			background-color: #1274AC;
		}

		.k-content {
			font-weight: normal;
			font-size: 13px;
		}

		.k-widget.k-window {
			padding-top: 35px;
			min-width: 90px;
			min-height: 50px;
			width: 700px !important;
			height: 300px !important;
			top: 180.766px !important;
			/*left: 120px !important;*/
			z-index: 10003;
			left: 300px !important;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top: -1%; min-height: 82%;">
				<div class="row" style="margin-bottom: 1%;">
					<div class="col-md-3">
						<label class="form-label">Process Type<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
						<select id="jobtype" class="form-select form-control"> </select>
					</div>
					<div class="col-md-3">
						<label for="" class="form-label">Initiated From Date<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
						<div>
							<input class="cusDate" data-role='datepicker' id="initiated_from" name="initiated_from" onclick="Dateformat()" style="width:100%" />
							<span data-for='valid' class='k-invalid-msg'></span>
						</div>
					</div>
					<div class="col-md-3">
						<label class="form-label"> Initiated To Date <span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
						<div>
							<input class="cusDate" data-role='datepicker2' id="initialed_to" name="initialed_to" data-value="2022-12-21" onclick="Dateformat()" style="width:100%" />
							<span data-for='valid' class='k-invalid-msg'></span>
						</div>
					</div>
					<div class="col-md-3" style="margin-top: 2%;">
						<button type="button" class="btn btn-sm save_btn me-2" style="width:40%;margin-top: 7px" onclick="searchJob()">
							Search
						</button>
					</div>
				</div>
				<div id="gd_jobinprogress">
					<div id="grid_jobinprogress"> </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/javascript">

	$(document).ready(function () {
		$("#navhead").text("Job Completed");
		$("#contextdiv").hide();
		kendodate_format();
		getjobtypelist();
	});

	function getjobtypelist() {
		$.ajax({
			type: "POST",
			url: '../Utility/jobtypelist',
			dataType: 'json',
			data: JSON.stringify({}),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				$("#jobtype").empty();
				$.each(response, function (index, item) {
					$("#jobtype").append($('<option>', {
						value: item.jobtype_code,
						text: item.jobtype_desc
					}));
				});
				searchJob();
			}
		});
	}


	function searchJob() {
		try {
			var job_type = $("#jobtype").val();
			var period_from = $("#initiated_from").val();
			var ts = period_from.split("/");
			var start_date = ts[2] + "-" + ts[1] + "-" + ts[0];
			var period_end = $("#initialed_to").val();
			var te = period_end.split("/");
			var end_date = te[2] + "-" + te[1] + "-" + te[0];
			$.ajax({
				type: "POST",
				url: '../Utility/Joblistfetch',
				dataType: 'json',
				data: JSON.stringify({ in_start_date: start_date, in_end_date: end_date, in_jobtype_code: job_type, in_jobstatus: 'C' }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					if (response != null) {
						$("#gd_jobinprogress").empty();
						$("#gd_jobinprogress").append("<div id='grid_jobinprogress'></div>");
						fetchGrid(response);
					}
					else {
						fetchGrid();
					}
				},
				error: function (er) {
					alert(er)
					console.log(er)
				}

			});
		}
		catch (e) {
			console.log(e)
		}

	}

	function fetchGrid(data) {
		try {
			$("#grid_jobinprogress").kendoGrid({
				dataSource: {
					data: data,
					pageSize: 10,
					schema: {
						model: {
							fields: {
								end_date: { type: "date" },
								job_gid: { type: "number" },
								job_name: { type: "string" },
								job_remark: { type: "string" },
								jobstatus_desc: { type: "string" },
								jobtype_code: { type: "string" },
								jobtype_desc: { type: "string" },
								start_date: { type: "date" },
								recon_code: { type: "string" },
								recon_name: { type: "string" },
								file_type: { type: "string" },
								job_initiated_by: { type: "string" },
								file_name: { type: "string" }
							}
						},
						parse: function (data) {
							$.each(data, function (i, item) {
								item.start_date = kendo.parseDate(item.start_date, "dd-MM-yyyy hh:mm tt");
								item.end_date = kendo.parseDate(item.end_date, "dd-MM-yyyy hh:mm tt");
							});
							return data;
						}
					}
				},
				height: 380,
				groupable: false,
				dataBound: function (e) {
					resultData = e.sender._data;
					var rows = $('#grid_jobinprogress').data('kendoGrid').tbody.children();
					setColor(rows, resultData);
				},
				pageable: {
					refresh: false,
					pageSizes: true,
					buttonCount: 5
				},
				sortable: true,
				selectable: true,
				filterable: true,
				navigatable: true,
				resizable: true,
				columns: [
					{
						command: [
							{
								name: "download",
								id: "btn_download",
								template: "<a href='' onclick='downloadJob(this)' value='job_id' data-bs-toggle='modal'><img style='height: 20px;width: 20px;' src = '../Assets/images/download.png'></a>&nbsp;&nbsp;&nbsp;",
							},
						],
						title: "Action&nbsp;",
						width: "50px",
						attributes: { style: "text-align: center;" },
					},
					{
						field: "job_gid",
						title: "Job ID",
						width: 70,
						attributes: { style: "text-align: right;" },
						filterable: {
							ui: "numeric",
							extra: false,
						},
					},
					{
						field: "job_name",
						title: "Job Name",
						width: 100,
					},
					{
						field: "jobtype_code",
						title: "Job Type Code",
						width: 100,
						hidden: true
					},
					{
						field: "jobtype_desc",
						title: "Job Type",
						width: 100,
					},
					{
						field: "recon_name",
						title: "Recon Name",
						width: 100,
					},
					{
						field: "start_date",
						title: "Start Date",
						format: "{0:dd-MM-yyyy hh:mm tt}",
						width: 120,
						filterable: {
							ui: "datetimepicker",
							format: "{0:dd-MM-yyyy hh:mm tt}",
							operators: {
								datetime: {
									eq: "Is equal to",
									neq: "Is not equal to",
									gte: "Is after or equal to",
									gt: "Is after",
									lte: "Is before or equal to",
									lt: "Is before",
								}
							},
						},
					},
					{
						field: "end_date",
						title: "End Date",
						format: "{0:dd-MM-yyyy hh:mm tt}",
						width: 120,
						filterable: {
							ui: "datetimepicker",
							format: "{0:dd-MM-yyyy hh:mm tt}",
							operators: {
								datetime: {
									eq: "Is equal to",
									neq: "Is not equal to",
									gte: "Is after or equal to",
									gt: "Is after",
									lte: "Is before or equal to",
									lt: "Is before",
								}
							},
						},
					},
					{
						field: "job_remark",
						title: "Job Remark",
						width: 100,
					},
					{
						field: "job_initiated_by",
						title: "Initated By",
						width: 80,
					},
					{
						field: "jobstatus_desc",
						title: "Job Status",
						width: 80,
					},
					{
						field: "jobtype_code",
						title: "Job Type Code",
						hidden: true
					},
					{
						field: "file_type",
						title: "File Type",
						width: 50,
						hidden: true
					},
					{
						filed: "file_name",
						title: "file_name",
						width: 10,
						hidden: true
					}
				],
				editable: false,
			});
		} catch (err) {
			console.log(err);
		}
	}

	function downloadJob(val) {
		var data = $(val).attr('value');
		var rows = $('#grid_jobinprogress').data('kendoGrid').tbody.children();
		var grid = $("#grid_jobinprogress").data("kendoGrid");
		var model = grid.dataItem($(event.target).closest("tr"));
		var job_gid = model.job_gid;
		var file_name = model.file_name;
		if (model.file_type != 'xlsx') {
			window.location.href = '@Url.Action("Downloads", "Utility")?jobid=' + job_gid + '&filetype=' + 'csv' + '&file_name=' + file_name + '';
		} else {
			window.location.href = '@Url.Action("Downloads", "Utility")?jobid=' + job_gid + '&filetype=' + 'xlsx' + '&file_name=' + file_name + '';
		}
	}
</script>