

<style>
    select:focus {
        outline: none;
    }

    .fa fa-trash {
        outline: none;
    }

    table thead th {
        color: white;
        font-size: 10pt;
    }

    .btn-success {
        padding: 2px 16px 4px 10px;
    }

    .k-grouping-header {
        color: #fff !important;
    }

    .accordion_head {
        /*background-color: #337ab7;*/
        background-color: rgb(135,46,123);
        color: white;
        cursor: pointer;
        /*font-family: arial;*/
        font-size: 14px;
        margin: 0 0 1px 0;
        padding: 1px 3px;
        /*font-weight: normal;*/
    }
</style>
<style>
    #overlayy {
        background-color: transparent;
        z-index: 999;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
    }
    /*th{

    text-align:center;
    }*/

    .table:not(.table-dark) th {
        color: #fff;
    }

    li {
        display: block;
    }

    .ms-options {
        min-height: 100px;
        max-height: 100px;
    }

    ul {
        padding-left: 0rem;
    }

    #loader {
        position: absolute;
        background: url('http://sampsonresume.com/labs/pIkfp.gif') no-repeat center center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    div#spinner {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
        display: block;
        opacity: 0.6;
        background: #aaaaaa url('~/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png');
        z-index: 1006;
        text-align: center;
        display: none;
        filter: Alpha(Opacity=30); /*{opacityOverlay}*/
    }

        div#spinner img {
            position: absolute;
            /*width:100px;
                               height:100px;*/
            top: 40%;
            left: 42%;
            opacity: 4.5;
            z-index: 1007;
        }

        div#spinner span {
            font-family: Arial Tahoma;
            font-size: large;
            font-weight: bold;
            opacity: 4.5;
            margin-top: 100px;
            color: white;
        }

    /*grid content should not be wrap*/
    .k-grid td {
        white-space: nowrap;
    }

    /*grid header should not be wrap*/
    .k-grid-header table {
        width: 100% !important;
    }

    .error_show {
        color: red;
        margin-left: 10px;
    }

    .k-state-active {
        display: none;
    }

    div.k-window {
        display: inline-block;
        position: absolute;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 1em;
        width: 40%;
        font-weight: normal;
    }

    .k-grid-header th.k-with-icon .k-link {
        margin-right: -11px;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
    }

    .k-grid-header th.k-with-icon .k-link {
        margin-right: -11px;
        color: #fff !important;
    }

    a.k-button.k-button-icontext.k-grid-Edit {
        background: transparent;
        border-color: transparent;
    }

    .k-grid-filter.k-state-active {
        background-color: rgb(51, 122, 183);
    }

    .k-state-active {
        display: block;
    }

    .k-link {
        color: #fff !important;
    }
    /*table thead th {  /*background-color: #337ab7;
            color: white;
            cursor: pointer;
            font-family: sans-serif;
            font-size: 14px;
            margin: 0 0 1px 0;
            padding: 1px 3px;}*/
</style>


<div class="row" style="padding-bottom:7px;margin-top: 20px;">
    <div class="col-md-3">
        <select id="report_name" onchange="getreportparamlist($('#report_name').val())" class="form-select form-control"> </select>

        @*@(Html.Kendo().DropDownList().Name("report_gid").DataTextField("report_desc").DataValueField("report_gid")
                   .HtmlAttributes(new { style = "width:100%;" }).Events(e => e.Change("iddrop"))
                         .DataSource(source => { source.Read(read => { read.Action("get_paginationreport", "Report"); }).ServerFiltering(true); }))*@
    </div>






    <div class="col-sm-3">
        <select id="report_param" class="form-select form-control"> </select>


       @* @(Html.Kendo().DropDownList()
                      .Name("reportid")
                      .DataTextField("reportparam_value")
                      .DataValueField("reportparam_code")
                    .HtmlAttributes(new { style = "width:100%;" })
                                                            .DataSource(source => { source.Read(read => { read.Action("dropdownvalue", "Report").Data("dropaddition"); }).ServerFiltering(true); }))
*@
    </div>


    <div class="col-sm-3">
        <button type="button" id="add" class="btn btn-sm save_btn me-2">Add</button>
        @*<i class="fa fa-plus" id="add" style="margin-top:7px;"></i>*@

    </div>

</div>

<div class="row" style="margin-left:0%;width:101%;margin-top:5px;">
    <table id="submissionTable" class="table table-bordered" style="display:none;width:100%">
        <thead>
            <tr style="background-color: rgb(135,46,123);margin-left:1%; color: #fff">
                <th style="text-align:center;width: 2%;margin-left:8px;width:22px;">(</th>

                <th class="accordion_head" style="width: 5%;margin-left:8px;width:22px;font-size:14px;">Attributes</th>

                <th style="width: 5%;margin-left:8px;width:22px;">Constraints</th>
                <th style="width:5%;margin-left:8px;width:22px;">Value</th>
                <th style="text-align:center;width: 2%;margin-left:8px;width:22px;">)</th>
                <th style="width: 3%;margin-left:8px;width:22px;">Joins</th>
                <th style="width:5%;margin-left:8px;width:22px;">Action</th>
            </tr>
        </thead>

    </table>
</div>
<script>
        var counter = 1;
        var attributes;
        var attributeforuser;
        var rk;
        var ran;
        var clicks = 0;
        var Table_Name = "";
        var parcheck = 0;
        var parchecksec = 0;
        var radfile = "";
        var radgridon = "";
        var valuedrop = 0;
        $(document).ready(function () {
            $('#add').attr('disabled', true);
            //$("#reportid").data("kendoDropDownList").dataSource.read();
            iddrop();
        });





        //$(function () {
        //    $('#add').click(function () {
        //        clicks += 1;
        //        // document.getElementById("add").innerHTML = clicks;
        //        $("#submissionTable").show();
        //    });
        //});


        $('#btn_close').click(function () {
            //location.href = "../ManualMatchOff/Manulmatchoffnew";
            location.href = '@Url.Action("Manulmatchoffnew", "ManualMatchOff")';
        });







        function getdata(reportcondition, reportconditions) {
            parcheck = 0;
            parchecksec = 0;
            for (let i = 1; i <= clicks; i++) {

                var j = 0; j = i + 1;
                var Transaction_Rpt = {};
                //Transaction_Rpt.Table_Name = "recon_trn_vtranrecon";
                //Transaction_Rpt.Table_Name = "recon_trn_ttran";
                ////var Table_Name = "recon_trn_vtranrecon";
                //var Table_Name = "recon_trn_ttran";



                var orderid = $("#txtorderidone" + i).val();
                var orderidforuser = $("#txtorderid" + i).val();
                var contselect = $("#contselect" + i).val();
                var contbtn = $("#contbtn" + i).val();

                var rt = $("#chkval" + i).is(":checked");
                var rty = $("#chkvalue" + i).is(":checked");

                if (rt == true) {
                    parcheck = parcheck + 1;
                }
                if (rty == true) {
                    parchecksec = parchecksec + 1;
                }

            var joins = $("#contbtn" + i).val();
            if (i != clicks && joins == "") {
                joins = "AND";
            }

            if (i == clicks && joins != "") {
                joins = " ";
            }

            var joinsvalidation = $("#contbtn" + clicks).val();

                ////if (clicks == j) {
                //reportcondition += contbtn;
                //if (reportconditions == undefined) {
                //    reportconditions = '';
                //}
                //reportconditions += contbtn;
                // }

                attributes = $("#txtvalue" + i).val();
                attributeforuser = $("#txtvalue" + i).val();
                if (attributes != "" && clicks != 0) {
                    ran = "";


                    if (contselect.toLowerCase() == "is equal to") {
                        if (rt == true && rty == true) {

                        reportcondition += " ( " + orderid + " = '" + attributes.toString() + "' " + ")" + joins;
                        reportconditions += " ( " + orderidforuser + " = '" + attributeforuser.toString() + "' " + ")" + joins;

                        }
                        else if (rt == true) {

                        reportcondition += " (" + orderid + " = '" + attributes.toString() + "' " + joins;
                        reportconditions += " (" + orderidforuser + " = '" + attributeforuser.toString() + "' " + joins;

                        }
                        else if (rty == true) {
                        reportcondition += " " + orderid + " = '" + attributes.toString() + "' " + ")" + joins;
                        reportconditions += " " + orderidforuser + " = '" + attributeforuser.toString() + "' " + ")" + joins;
                        }
                        else {
                        reportcondition += " " + orderid + " = '" + attributes.toString() + "' " + joins;
                        reportconditions += " " + orderidforuser + " = '" + attributeforuser.toString() + "' " + joins;

                        }
                    }
                    else if (contselect.toLowerCase() == "is not equal to") {
                        if (rt == true && rty == true) {

                        reportcondition += " ( " + orderid + " != '" + attributes.toString() + "' " + ")" + joins;
                        reportconditions += " ( " + orderidforuser + " != '" + attributeforuser.toString() + "' " + ")" + joins;

                        }
                        else if (rt == true) {

                        reportcondition += " (" + orderid + " != '" + attributes.toString() + "' " + joins;
                        reportconditions += " (" + orderidforuser + " != '" + attributeforuser.toString() + "' " + joins;

                        }
                        else if (rty == true) {
                            reportcondition += " " + orderid + " != '" + attributes.toString() + "' " + ")";
                            reportconditions += " " + orderidforuser + " != '" + attributeforuser.toString() + "' " + ")";
                        }
                        else {
                        reportcondition += " " + orderid + " != '" + attributes.toString() + "' " + joins;
                        reportconditions += " " + orderidforuser + " != '" + attributeforuser.toString() + "' " + joins;

                        }


                    }
                    else if (contselect.toLowerCase() == "begins with") {
                        if (rt == true && rty == true) {

                        reportcondition += " ( " + orderid + " like '" + attributes.toString() + '%' + "' " + ")" + joins;
                        reportconditions += " ( " + orderidforuser + " like '" + attributeforuser.toString() + '%' + "' " + ")" + joins;

                        }
                        else if (rt == true) {

                        reportcondition += " (" + orderid + " like '" + attributes.toString() + '%' + "' " + joins;
                        reportconditions += " (" + orderidforuser + " like '" + attributeforuser.toString() + '%' + "' " + joins;

                        }
                        else if (rty == true) {
                        reportcondition += " " + orderid + " like '" + attributes.toString() + '%' + "' " + ")" + joins;
                        reportconditions += " " + orderidforuser + " like '" + attributeforuser.toString() + '%' + "' " + ")" + joins;
                        }
                        else {
                        reportcondition += " " + orderid + " like '" + attributes.toString() + '%' + "' " + joins;
                        reportconditions += " " + orderidforuser + " like '" + attributeforuser.toString() + '%' + "' " + joins;

                        }



                    }
                    else if (contselect.toLowerCase() == "end with") {
                        if (rt == true && rty == true) {

                        reportcondition += " ( " + orderid + " like '" + '%' + attributes.toString() + "' " + ")" + joins;
                        reportconditions += " ( " + orderidforuser + " like '" + '%' + attributeforuser.toString() + "' " + ")" + joins;

                        }
                        else if (rt == true) {

                        reportcondition += " (" + orderid + " like '" + '%' + attributes.toString() + "' " + joins;
                        reportconditions += " (" + orderidforuser + " like '" + '%' + attributeforuser.toString() + "' " + joins;

                        }
                        else if (rty == true) {
                        reportcondition += " " + orderid + " like '" + '%' + attributes.toString() + "' " + ")" + joins;
                        reportconditions += " " + orderidforuser + " like '" + '%' + attributeforuser.toString() + "' " + ")" + joins;
                        }
                        else {
                        reportcondition += " " + orderid + " like '" + '%' + attributes.toString() + "' " + joins;
                        reportconditions += " " + orderidforuser + " like '" + '%' + attributeforuser.toString() + "' " + joins;

                        }
                    reportcondition += " and " + orderid + " like '" + '%' + attributes.toString() + "' " + joins;
                    reportconditions += " and " + orderidforuser + " like '" + '%' + attributeforuser.toString() + "' " + joins;
                    }
                    else if (contselect.toLowerCase() == "contains") {
                        if (rt == true && rty == true) {

                        reportcondition += " ( " + orderid + " like '" + '%' + attributes.toString() + '%' + "' " + ")" + joins;
                        reportconditions += " ( " + orderidforuser + " like '" + '%' + attributeforuser.toString() + '%' + "' " + ")" + joins;

                        }
                        else if (rt == true) {

                        reportcondition += " (" + orderid + " like '" + '%' + attributes.toString() + '%' + "' " + joins;
                        reportconditions += " (" + orderidforuser + " like '" + '%' + attributeforuser.toString() + '%' + "' " + joins;

                        }
                        else if (rty == true) {
                        reportcondition += " " + orderid + " like '" + '%' + attributes.toString() + '%' + "' " + ")" + joins;
                        reportconditions += " " + orderidforuser + " like '" + '%' + attributeforuser.toString() + '%' + "' " + ")" + joins;
                        }
                        else {
                        reportcondition += " " + orderid + " like '" + '%' + attributes.toString() + '%' + "' " + joins;
                        reportconditions += " " + orderidforuser + " like '" + '%' + attributeforuser.toString() + '%' + "' " + joins;

                        }

                    }
                    else if (contselect.toLowerCase() == "does not contains") {

                        if (rt == true && rty == true) {

                        reportcondition += " ( " + orderid + "not like '" + '%' + attributes.toString() + '%' + "' " + ")" + joins;
                        reportconditions += " ( " + orderidforuser + "not like '" + '%' + attributeforuser.toString() + '%' + "' " + ")" + joins;

                        }
                        else if (rt == true) {

                        reportcondition += " (" + orderid + " not like '" + '%' + attributes.toString() + '%' + "' " + joins;
                        reportconditions += " (" + orderidforuser + " not like '" + '%' + attributeforuser.toString() + '%' + "' " + joins;

                        }
                        else if (rty == true) {
                        reportcondition += " " + orderid + " not like '" + '%' + attributes.toString() + '%' + "' " + ")" + joins;
                        reportconditions += " " + orderidforuser + " not like '" + '%' + attributeforuser.toString() + '%' + "' " + ")" + joins;
                        }
                        else {
                        reportcondition += " " + orderid + " not like '" + '%' + attributes.toString() + '%' + "' " + joins;
                        reportconditions += " " + orderidforuser + " not like '" + '%' + attributeforuser.toString() + '%' + "' " + joins;

                        }

                    }
                    else if (contselect.toLowerCase() == "is greater than") {

                        if (rt == true && rty == true) {

                        reportcondition += " ( " + orderid + " > '" + attributes.toString() + "' " + ")" + joins;
                        reportconditions += " ( " + orderidforuser + " > '" + attributeforuser.toString() + "' " + ")" + joins;

                        }
                        else if (rt == true) {

                        reportcondition += " (" + orderid + " > '" + attributes.toString() + "' " + joins;
                        reportconditions += " (" + orderidforuser + " > '" + attributeforuser.toString() + "' " + joins;

                        }
                        else if (rty == true) {
                        reportcondition += " " + orderid + " > '" + attributes.toString() + "' " + ")" + joins;
                        reportconditions += " " + orderidforuser + " > '" + attributeforuser.toString() + "' " + ")" + joins;
                        }
                        else {
                        reportcondition += " " + orderid + " > '" + attributes.toString() + "' " + joins;
                        reportconditions += " " + orderidforuser + " > '" + attributeforuser.toString() + "' " + joins;

                        }


                    }

                    else if (contselect.toLowerCase() == "is less than") {

                        if (rt == true && rty == true) {

                        reportcondition += " ( " + orderid + " < '" + attributes.toString() + "' " + ")" + joins;
                        reportconditions += " ( " + orderidforuser + " < '" + attributeforuser.toString() + "' " + ")" + joins;

                        }
                        else if (rt == true) {

                        reportcondition += " (" + orderid + " < '" + attributes.toString() + "' " + joins;
                        reportconditions += " (" + orderidforuser + " < '" + attributeforuser.toString() + "' " + joins;

                        }
                        else if (rty == true) {
                            reportcondition += " " + orderid + " < '" + attributes.toString() + "' " + ")";
                        reportconditions += " " + orderidforuser + " < '" + attributeforuser.toString() + "' " + ")" + joins;
                        }
                        else {
                        reportcondition += " " + orderid + " < '" + attributes.toString() + "' " + joins;
                        reportconditions += " " + orderidforuser + " < '" + attributeforuser.toString() + "' " + joins;

                        }



                    }

                    else if (contselect.toLowerCase() == "is greater than or equal to") {
                        if (rt == true && rty == true) {

                        reportcondition += " ( " + orderid + " >= '" + attributes.toString() + "' " + ")" + joins;
                        reportconditions += " ( " + orderidforuser + " >= '" + attributeforuser.toString() + "' " + ")" + joins;

                        }
                        else if (rt == true) {

                        reportcondition += " (" + orderid + " >= '" + attributes.toString() + "' " + joins;
                        reportconditions += " (" + orderidforuser + " >= '" + attributeforuser.toString() + "' " + joins;

                        }
                        else if (rty == true) {
                        reportcondition += " " + orderid + " >= '" + attributes.toString() + "' " + ")" + joins;
                        reportconditions += " " + orderidforuser + " >= '" + attributeforuser.toString() + "' " + ")" + joins;
                        }
                        else {
                        reportcondition += " " + orderid + " >= '" + attributes.toString() + "' " + joins;
                        reportconditions += " " + orderidforuser + " >= '" + attributeforuser.toString() + "' " + joins;

                        }


                    }
                    else if (contselect.toLowerCase() == "is less than or equal to") {
                        if (rt == true && rty == true) {

                        reportcondition += " ( " + orderid + " <= '" + attributes.toString() + "' " + ")" + joins;
                        reportconditions += " ( " + orderidforuser + " <= '" + attributeforuser.toString() + "' " + ")" + joins;

                        }
                        else if (rt == true) {

                        reportcondition += " (" + orderid + " <= '" + attributes.toString() + "' " + joins;
                        reportconditions += " (" + orderidforuser + " <= '" + attributeforuser.toString() + "' " + joins;

                        }
                        else if (rty == true) {
                        reportcondition += " " + orderid + " <= '" + attributes.toString() + "' " + ")" + joins;
                        reportconditions += " " + orderidforuser + " <= '" + attributeforuser.toString() + "' " + ")" + joins;
                        }
                        else {
                        reportcondition += " " + orderid + " <= '" + attributes.toString() + "' " + joins;
                        reportconditions += " " + orderidforuser + " <= '" + attributeforuser.toString() + "' " + joins;

                        }

                    }




                }
                else {
                    ran = "emptyvalue";


                }

            }

            if (clicks > 0 && attributes != "") {

                Transaction_Rpt.Report_condition = reportcondition;

                res(reportcondition, reportconditions);
            }




        }


        function res(values, valuesuser) {
            dataresponse = values;

        $('#framevalue').text(valuesuser.slice(9));

        }

        $(function () {
            $('#add').click(function () {
                var res = "0";
                //var res = $("#reportid").data("kendoDropDownList").value();
                if (res == "-1") {
                    $.alert({
                        title: 'Impact',
                        content: "Attributes Should not be Empty..!",
                        type: 'red',


                    });
                    return;
                }
                clicks += 1;
                // document.getElementById("add").innerHTML = clicks;
                $("#submissionTable").show();
                $('<tr id="tablerow' + counter + '" style="margin-left:90px" ><td>' +
                '<input type="checkbox"  id="chkvalue' + counter + '" style="margin-left:8px;width:22px;"  name="checkvalueof[' + counter + ']"  value="Y">' +
                '</td>' +

                ' <td>' +
                '<input type="text"  class="form-control" id="txtorderid' + counter + '" disabled class="text-box single-line" name="ClientSampleID[' + counter + ']" value="" required="required" style="width:150px;" />' +
                                ' <input type="text" id="txtorderidone' + counter + '" hidden name="ClientSampleID[' + counter + ']" value="" ;" />' +
                                 '</td>' +



                    ' <td>' +
                '<select id="contselect' + counter + '"  class="form-control form-select"  name="drpCondition[' + counter + ']" value="" required="required" style="width:150px;" /></select>' +
                   '</td>' +


                ' <td>' +
                '<input type="text" class="form-control" id="txtvalue' + counter + '" class="form-control form-select" name="Valueof[' + counter + ']" value="" required="required"  onclick="textinput(' + counter + ')" style="width:250px;" />' +
                '</td>' +

                 ' <td>' +
                '<input type="checkbox"  id="chkval' + counter + '" style="margin-left:8px;width:22px;" name="checkvalof[' + counter + ']"  value="Y">' +
                  '</td>' +


                 ' <td>' +
                '<select id="contbtn' + counter + '"  class="form-control form-select" name="jointst[' + counter + ']" value="" required="required" style="width:150px;" /></select>' +
                   '</td>' +
                     
                      
                     
                
                   ' <td>' +
                '<button type="button" span class="fa fa-trash" style="color:#357ab8;font-size: 12px;margin-left:10px;border:none;" onclick="removeTr(' + counter + ');"></button>' +


                  '</td>' +
                //  ' <td>' +
                //'<button type="button" class="btn btn-primary" onclick="ApplyFilter(' + counter + ');">Save</button>' +
                //  '</td>' +
                   '</tr>').appendTo('#submissionTable');


               var indexval = counter;
                $('#contselect' + indexval).append('<option value="' + "Is equal to" + '">' + "Is equal to" + '</option>');
                $('#contselect' + indexval).append('<option value="' + "Is not equal to" + '">' + "Is not equal to" + '</option>');
                $('#contselect' + indexval).append('<option value="' + "Begins with" + '">' + "Begins with" + '</option>');
                $('#contselect' + indexval).append('<option value="' + "End with" + '">' + "End with" + '</option>');
                $('#contselect' + indexval).append('<option value="' + "Contains" + '">' + "Contains" + '</option>');
                $('#contselect' + indexval).append('<option value="' + "Is greater Than" + '">' + "Is greater Than" + '</option>');
                $('#contselect' + indexval).append('<option value="' + "Is less than" + '">' + "Is less than" + '</option>');
                $('#contselect' + indexval).append('<option value="' + "Is less than or equal to" + '">' + "Is less than or equal to" + '</option>');
                $('#contselect' + indexval).append('<option value="' + "Is greater than or equal to" + '">' + "Is greater than or equal to" + '</option>');
                $('#contselect' + indexval).append('<option value="' + "Does not contains" + '">' + "Does not contains" + '</option>');
                $('#contbtn' + indexval).append('<option value="' + "AND" + '">' + "AND" + '</option>');
                $('#contbtn' + indexval).append('<option value="' + "OR" + '">' + "OR" + '</option>');
                $('#contbtn' + indexval).append('<option value="' + "" + '" selected>' + "" + '</option>');
                $('#txtorderid' + indexval).val($("#report_param").find(":selected").text());
                $('#txtorderidone' + indexval).val($("#report_param").val());
                counter++;

                //var res = $('#counttxt').val(counter);
                //var chkcount = $('#')
                //rks = $('#txtvalue' + indexval).text();

                return false;
            });
        });
        function removeTr(index) {
            if (counter > 1) {
                $('#tablerow' + index).remove();
                counter -= 1;
                clicks -= 1;
            }
            return false;
        }

        function dropaddition() {

            // dro();
            return {
                value_drop: valuedrop
            }
        }

        function iddrop() {
            valuedrop = $('#report_gid').val();
            //$("#reportid").data("kendoDropDownList").dataSource.read();
            // $("#reportid").data("kendoDropDownList").select(0);
            $("#add").attr('disabled', false);
            $("#add").show();

        }




</script>
