@{
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 28rem !important;
		}


	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-1%;">
				<div class="row" style="margin-top:10px;margin-bottom: 2%;">

					<div class="col-md-3">
						<label for="" class="form-label">
							Date From
						</label>
						<div>
							<input class="cusDate" data-role='datepicker' id="from_date" name="from_date" onclick="Dateformat()" style="width:100%" />
							<span data-for='valid' class='k-invalid-msg'></span>
						</div>
					</div>
					<div class="col-md-3">
						<label for="" class="form-label">
							Date To
						</label>
						<div>
							<input class="cusDate" data-role='datepicker' id="to_date" name="to_date" onclick="Dateformat()" style="width:100%" />
							<span data-for='valid' class='k-invalid-msg'></span>
						</div>
					</div>
					<div class="col-md-3">
						<label for="organization" class="form-label">Recon Name</label><br>
						<select id="reconname" class="form-select form-control">
							
						</select>

					</div>
					<div class="col-md-3" style="margin-top: 2%;">
						<button type="button" onclick="run()" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%;margin-top: 7px">
							View
						</button> &nbsp;&nbsp;
						<button type="button" onclick="exportexcel()" id="exportExcel" aria-hidden="true"  class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:40%;margin-top: 7px">
							<i class="fa-solid fa-file-excel"></i>
						</button>
					</div>		
				</div>

				<div class="row">
					<table class="table table-bordered table-sm">
						<thead style="background: #c1c1c1;">
							<tr class="text-nowrap">
								<th>Row Labels</th>
								<th>Dr Count</th>
								<th>Dr Amount</th>
								<th>Cr Count</th>
								<th>Cr Amount</th>
								<th>Total Count</th>
								<th>Total Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr style="height:25px;">
								<td align="center"> </td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr style="height:25px;">
								<td align="center"> </td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>

							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	$(document).ready(function () {
		$("#navhead").text("Recon - KnockoffMIS");
		kendodate_format();
		getreconlist();
	});

	function getreconlist() {
		var data = {};
		var txtusername = JSON.parse(localStorage.getItem("recon_userdetail"));
		data.in_user_gid = 0;
		data.in_active_status = '';
		data.in_user_code = txtusername.user_name;
		var Context = data;
		$.ajax({
			type: "POST",
			url: '../Recon/Reconlistfetch',
			dataType: 'json',
			data: JSON.stringify(data),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				debugger;
				$("#reconname").empty();
				$("#reconname").append($('<option>', {
					value: "",
					text: "  Select  "
				}));
				$.each(response, function (index, item) {
					$("#reconname").append($('<option>', {
						value: item.recon_code,
						text: item.recon_name
					}));
				});
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}
		});
	}

	function run() {
		debugger;
		var in_recon_code = $("#reconname").val();
		var in_tran_date = $("#from_date").val();
		var ts = in_tran_date.split("/");
		var pr = ts[2] + "-" + ts[1] + "-" + ts[0];
		var in_todate = $("#to_date").val();
		var ts1 = in_todate.split("/");
		var pr1 = ts[2] + "-" + ts1[1] + "-" + ts1[0];
		$.ajax({
			type: "POST",
			//url: '/Reports/reconbetweenacc',
			dataType: 'json',
			async: false,
			data: JSON.stringify({ in_recon_code: in_recon_code, in_from_date: pr, in_to_date: pr1 }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				debugger;
				alert(response)
			},
			error: function (er) {
				debugger;
				alert(er)
				console.log(er)
			}
		});
	}

	function exportexcel() {
		var in_recon_code = $("#reconname").val();
		var in_tran_date = $("#from_date").val();
		var ts = in_tran_date.split("/");
		var pr = ts[2] + "-" + ts[1] + "-" + ts[0];
		var in_todate = $("#to_date").val();
		var ts1 = in_todate.split("/");
		var pr1 = ts[2] + "-" + ts1[1] + "-" + ts1[0];
		window.location.href = '@Url.Action("KOMISreport", "Report")?period_from=' + periodfrom + '&period_to=' + periodto + '&Recongid=' + arrString + '';

	}
</script>