@{
    ViewBag.title = "Recon Rule Version History";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!Doctype html>
<html>
<head>
    <title></title>
    <style>
        .nav-item.me-2.me-xl-50 {
            margin-right: 33rem !important;
        }

        .error_show {
            color: red;
            margin-left: 10px;
        }

        .k-grid.k-widget {
            height: 360px;
        }

        table {
            border: 1px solid #C5C5C5 !important;
        }

        .k-grid-content {
            overflow-x: hidden;
            height: 347px !important;
        }

        .k-grid-header {
            font-weight: bold;
        }

        .k-content {
            font-weight: normal;
            font-size: 13px;
        }

        .k-widget.k-window {
            padding-top: 35px;
            min-width: 90px;
            min-height: 50px;
            width: 700px !important;
            height: 300px !important;
            top: 180.766px !important;
            /*left: 120px !important;*/
            z-index: 10003;
            left: 300px !important;
        }

        .km-switch.km-widget.km-switch-off {
            background-color: aqua;
            font-size: 14px;
            border-radius: 0.375rem;
            height: 23px;
        }

        .km-switch.km-widget.km-switch-on {
            background-color: lightblue;
            font-size: 14px;
            border-radius: 0.375rem;
            height: 23px;
        }

        .km-switch-label-on {
            left: -159%;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card-body" style="margin-top: -1%; min-height: 82%;">
                <div class="row">
                    <div class="row" style="padding-bottom:1px;margin-top:-13px;padding-right:5px">
                        <div class="col-sm-4">
                            <label for="" class="form-label">Recon Name&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
                            <select id="cmbreconname" class="form-select form-control" onchange="reconchange()">
                            </select>
                        </div>
                        <div class="col-sm-2" id="cmbversion">
                            <label for="" class="form-label">History Version&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
                            <select id="comreconversion" class="form-select form-control" style=" width: 100%;">
                            </select>
                        </div>
                        <div class="col-md-2" style="margin-top: 2%;">
                            <button type="button" class="btn btn-sm save_btn me-2" style="margin-top: 7px" onclick="reconversionhistory()">
                                View History
                            </button>
                        </div>
                        <div class="col-md-2" style="margin-top: 2%;">
                            <button type="button" onclick="pdfFiledownload()" class="btn btn-sm me-2" id="pdf_gen" style="margin-top: 7px; border: 1px solid gray;">
                                PDF Generation
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="nav-align-top mt-3">
                            <ul class="nav nav-pills mb-2" role="tablist">
                                <li class="nav-item">
                                    <button type="button"
                                            class="nav-link active"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#navs-pills-top-Rule"
                                            aria-controls="navs-pills-top-Rule"
                                            aria-selected="true">
                                        Rule
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button type="button"
                                            class="nav-link"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#navs-pills-top-Theme"
                                            aria-controls="navs-pills-top-Theme"
                                            aria-selected="true">
                                        Theme
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button type="button"
                                            class="nav-link"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#navs-pills-top-preprocess"
                                            aria-controls="navs-pills-top-preprocess"
                                            aria-selected="true">
                                        Preprocess
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content" style="box-shadow:none !important;padding: 20px 0px;">
                                @*Rule*@
                                <div class="tab-pane fade show active" id="navs-pills-top-Rule" role="tabpanel" style="margin-top:-25px;">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-xs-12">
                                                <div id="gd_reconverion">
                                                    <div id="grid_reconverion">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Theme*@
                                <div class="tab-pane fade" id="navs-pills-top-Theme" role="tabpanel" style="margin-top:-25px;">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-xs-12">
                                                <div id="gd_themerecon">
                                                    <div id="themerecon_grid"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="navs-pills-top-preprocess" role="tabpanel" style="margin-top:-25px;">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-xs-12">
                                                <div id="gd_preprocess">
                                                    <div id="preprocess_grid"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        grid_reconverion([]);
        theme_grid([]);
        grid_preprocess([]);
        $("#navhead").text("Recon Version History");
        gridlist();
    });
    function reconversionhistory() {
        $("#cmbversion").show();
        $("#txtversion").hide();
        $("#btnsubmit").hide();
    }
    function gridlist() {
        //recon name
        var data = {};       
        data.in_user_gid = 0;
        data.in_active_status = '';
        data.in_user_code = sessionStorage.getItem("usrname");
        var Context = data;
        $.ajax({
            type: "POST",
            url: '../Recon/Reconlistfetch',
            dataType: 'json',
            async: false,
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                var res = JSON.parse(response);
                $("#cmbreconname").empty();
                $("#cmbreconname").append($('<option>', {
                    value: "",
                    text: "  Select  "
                }));
                $.each(res, function (index, item) {
                    if (item.active_status == 'Y') {
                        $("#cmbreconname").append($('<option>', {
                            value: item.recon_code,
                            text: item.recon_name
                        }));
                    }
                });
                if (sessionStorage.getItem("reconcode") != null) {
                    $("#cmbreconname").val(sessionStorage.getItem("reconcode"));
                    jQuery('#cmbreconname').trigger("change");
                }
            },
            error: function (er) {
                alert(er)
                console.log(er)
            }
        });
    }
    function reconchange() {
        grid_reconverion([]);
        theme_grid([]);
        grid_preprocess([]);
        if ($("#cmbreconname").val() != '') {
            sessionStorage.setItem("reconcode", $("#cmbreconname").val());
            sessionStorage.setItem("reconname", $("#cmbreconname :selected").text());
            setcon();
        }
        var in_recon_code = $("#cmbreconname").val();
        var in_user_code = sessionStorage.getItem("usrname");
        $.ajax({
            type: "POST",
            url: '../Reconversion/ReconversionListfetch',
            dataType: 'json',
            data: JSON.stringify({ in_recon_code: in_recon_code, in_user_code: in_user_code }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                debugger;
                if (response != null) {
                    var res = JSON.parse(response);
                    $("#comreconversion").empty();
                    $("#comreconversion").append($('<option>', {
                        value: "",
                        text: "  Select  "
                    }));
                    $.each(res.Reconversion, function (index, item) {
                        $("#comreconversion").append($('<option>', {
                            value: item.recon_rule_version,
                            text: item.recon_rule_version
                        }));
                    });
                }
                else {
                }
            },
            error: function (er) {
                alert(er)
                console.log(er)
            }
        });
    }

    function grid_reconverion(data) {
        $("#grid_reconverion").kendoGrid({
            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {
                            rule_gid: { type: "string" },
                            rule_name: { type: "string" },
                            source_dataset_name: { type: "string" },
                            comparsion_dataset_name: { type: "string" },
                            system_match_flag_desc: { type: "string" },
                            hold_flag_desc: { type: "string" },
                            rule_code: { type: "string" },
                        }
                    }
                }
            },
            height: 380,
            groupable: false,
            sortable: true,
            selectable: true,
            filterable: true,
            navigatable: true,
            resizable: true,
            pageable: false,
            columns: [
                {
                    field: "rule_gid",
                    title: "rule_gid",
                    width: 100,
                    hidden: true,
                },
                {
                    field: "rule_code",
                    title: "rule_code",
                    width: 100,
                    hidden: true,
                },
                {
                    field: "rule_name",
                    title: "Rule Name",
                    width: 100,
                },
                {
                    field: "source_dataset_code",
                    title: "source_dataset_code",
                    width: 100,
                    hidden: true,
                },
                {
                    field: "source_dataset_desc",
                    title: "Source Dataset Name",
                    width: 100,
                },
                {
                    field: "comparison_dataset_code",
                    title: "comparison_dataset_code",
                    width: 100,
                    hidden: true,
                },
                {
                    field: "comparison_dataset_desc",
                    title: "Comparsion Dataset Name",
                    width: 120,
                },
                {
                    field: "system_match_flag_desc",
                    title: "System Matchoff Flag",
                    width: 100,
                },
                {
                    field: "hold_flag_desc",
                    title: "Hold Flag",
                    width: 80,
                },
                {
                    field: "probable_match_desc",
                    title: "Probable Flag",
                    width: 80,
                },
            ],
            editable: false,
        });
    }
    function reconversionhistory() {
        var in_recon_code = $("#cmbreconname").val();
        var in_version_code = $("#comreconversion").val();
        var in_user_code = sessionStorage.getItem("usrname");

        $.ajax({
            type: "POST",
            url: '../Reports/Reconversionhistoryfetch',
            dataType: 'json',
            data: JSON.stringify({ in_recon_code: in_recon_code, in_version_code: in_version_code, in_action_by: in_user_code }),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response != null) {
                    var res = JSON.parse(response);
                    if (res.versionlist.length > 0) {
                        grid_reconverion(res.versionlist);
                    } else {
                        grid_reconverion([]);
                    }
                    if (res.theme.length > 0) {
                        theme_grid(res.theme);
                    } else {
                        theme_grid([]);
                    }
                    if (res.preprocess.length > 0) {
                        grid_preprocess(res.preprocess);
                    } else {
                        grid_preprocess([]);
                    }
                }
            },
            error: function (er) {
                alert(er)
                console.log(er)
            }
        });
    }
    function theme_grid(data) {
        $("#themerecon_grid").kendoGrid({
            dataSource: {
                data: data,
                pageSize: 15,
                schema: {
                    model: {
                        fields: {
                            themehistory_gid: { type: "string" },
                            theme_code: { type: "string" },
                            theme_desc: { type: "string" },
                            theme_order: { type: "number" },
                            hold_flag_desc: { type: "string" }
                        }
                    }
                }
            },
            height: 380,
            groupable: false,
            scrollable: true,
            sortable: true,
            filterable: true,
            navigatable: false,
            resizable: true,
            columns: [
                {
                    field: "themehistory_gid",
                    title: "Row id",
                    width: 50,
                    hidden: true,
                },
                {
                    field: "theme_order",
                    title: "Theme Order",
                    width: 30,
                    attributes: { style: "text-align: right;" },
                    filterable: {
                        ui: "numericInput",
                        extra: false,
                    },
                },
                {
                    field: "theme_code",
                    title: "Theme Code",
                    width: 40,
                },
                {
                    field: "theme_desc",
                    title: "Theme Description",
                    width: 150,
                },
                {
                    field: "hold_flag_desc",
                    title: "Hold Flag",
                    width: 30,
                }
            ],
            editable: false,

        });

    }
    function grid_preprocess(data) {
        $("#preprocess_grid").kendoGrid({
            dataSource: {
                data: data,
                pageSize: 15,
                schema: {
                    model: {
                        fields: {
                            preprocesshistory_gid: { type: "string" },
                            preprocess_code: { type: "string" },
                            preprocess_desc: { type: "string" },
                            preprocess_order: { type: "number" },
                            hold_flag_desc: { type: "string" }
                        }
                    }
                }
            },
            height: 380,
            groupable: false,
            dataBound: function (e) {

            },
            sortable: true,
            selectable: false,
            filterable: true,
            navigatable: true,
            pageable: false,
            resizable: true,
            columns: [
                {
                    field: "preprocesshistory_gid",
                    title: "Row id",
                    width: 100,
                    hidden: true,
                },
                {
                    field: "preprocess_order",
                    title: "Preprocess Order",
                    width: 40,
                    attributes: { style: "text-align: right;" },
                    filterable: {
                        ui: "numeric",
                        extra: false,
                    },
                },
                {
                    field: "preprocess_code",
                    title: "Preprocess Code",
                    width: 50,
                },
                {
                    field: "preprocess_desc",
                    title: "Preprocess Name",
                    width: 130,
                },
                {
                    field: "hold_flag_desc",
                    title: "Hold Flag",
                    width: 30,
                }
            ],
            editable: false,

        });
    }

    $('#pdf_gen').click(function () {
        
        var in_recon_name = $("#cmbreconname").find(":selected").text();
        var in_recon_code = $("#cmbreconname").val();
        var in_version_code = $("#comreconversion").val();
        var slice_recon_name = in_recon_name.slice(0, 20);
        var in_user_code = sessionStorage.getItem("usrname");

        if (in_recon_code && in_version_code) {
            window.location.href = '@Url.Action("GeneratePdf", "Reports")?in_recon_code=' + in_recon_code + '&in_version_code=' + in_version_code + '&in_action_by=' + in_user_code '';
        } else if (!in_recon_code) {
            $.alert({
                title: 'Recon',
                content: 'Please Select Recon Name .!',
                type: 'red',
            });
        } else if (!in_version_code) {
            $.alert({
                title: 'Recon',
                content: 'Please Select Version .!',
                type: 'red',
            });
        }

        //var exportURL = getRootUrl() + "Reports/GeneratePdf";
        //window.location.href = exportURL;
    });

    function getRootUrl() {
        debugger;

       return window.location.origin ? window.location.origin + '/' : window.location.protocol + '/' + window.location.host + '/';
    }

    function pdfFiledownload(){
        var in_recon_name = $("#cmbreconname").find(":selected").text();
        var in_recon_code = $("#cmbreconname").val();
        var in_version_code = $("#comreconversion").val();
        var slice_recon_name = in_recon_name.slice(0, 20);
        var data = {};
        
    }
</script>

