@{
	ViewBag.title = "Recon Rule Version History";
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 33rem !important;
		}

		.error_show {
			color: red;
			margin-left: 10px;
		}

		.k-grid.k-widget {
			height: 360px;
		}

		.k-grid-header {
			font-weight: bold;
		}

		.k-content {
			font-weight: normal;
			font-size: 13px;
		}

		.k-widget.k-window {
			padding-top: 35px;
			min-width: 90px;
			min-height: 50px;
			width: 700px !important;
			height: 300px !important;
			top: 180.766px !important;
			/*left: 120px !important;*/
			z-index: 10003;
			left: 300px !important;
		}

		.km-switch.km-widget.km-switch-off {
			background-color: aqua;
			font-size: 14px;
			border-radius: 0.375rem;
			height: 23px;
		}

		.km-switch.km-widget.km-switch-on {
			background-color: lightblue;
			font-size: 14px;
			border-radius: 0.375rem;
			height: 23px;
		}

		.km-switch-label-on {
			left: -159%;
			text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top: -1%; min-height: 82%;">
				<div class="row">
					<div class="row" style="padding-bottom:5px;margin-top:5px;padding-right:5px">
						<div class="col-sm-4">
							<label for="" class="form-label">Recon Name&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
							<select id="cmbreconname" class="form-select form-control" onchange="reconchange()">
							</select>
						</div>
						<div class="col-sm-2" id="cmbversion">
							<label for="" class="form-label">History Version&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
							<select id="comreconversion" class="form-select form-control" style=" width: 100%;">
							</select>
						</div>
						<div class="col-md-2" style="margin-top: 2%;">
							<button type="button" class="btn btn-sm save_btn me-2" style="margin-top: 7px" onclick="reconversionhistory()">
								View History
							</button>
						</div>
					</div>
					<div class="col-xs-12">
						<div id="gd_reconverion">
							<div id="grid_reconverion"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	$(document).ready(function () {
		grid_reconverion([]);
		$("#navhead").text("Recon Rule Version History");
		gridlist();
	});
	function reconversionhistory() {
		$("#cmbversion").show();
		$("#txtversion").hide();
		$("#btnsubmit").hide();
	}
	function gridlist() {
		//recon name
		var data = {};
		var txtusername = JSON.parse(localStorage.getItem("recon_userdetail"));
		data.in_user_gid = 0;
		data.in_active_status = '';
		data.in_user_code = txtusername.user_name;
		var Context = data;
		$.ajax({
			type: "POST",
			url: '../Recon/Reconlistfetch',
			dataType: 'json',
			async: false,
			data: JSON.stringify(data),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				$("#cmbreconname").empty();
				$("#cmbreconname").append($('<option>', {
					value: "",
					text: "  Select  "
				}));
				$.each(response, function (index, item) {
					if (item.active_status == 'Y') {
						$("#cmbreconname").append($('<option>', {
							value: item.recon_code,
							text: item.recon_name
						}));
					}
				});
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}
		});
	}
	function reconchange() {
		var in_recon_code = $("#cmbreconname").val();
		$.ajax({
			type: "POST",
			url: '../Reconversion/ReconversionListfetch',
			dataType: 'json',
			data: JSON.stringify({ in_recon_code: in_recon_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				debugger;
				if (response != null) {
					var res = JSON.parse(response);
					$("#comreconversion").empty();
					$("#comreconversion").append($('<option>', {
						value: "",
						text: "  Select  "
					}));
					$.each(res.Reconversion, function (index, item) {
						$("#comreconversion").append($('<option>', {
							value: item.recon_rule_version,
							text:  item.recon_rule_version
						}));
					});
				}
				else {
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}
		});
	}

	function grid_reconverion(data) {
		$("#grid_reconverion").kendoGrid({
			dataSource: {
				data: data,
				pageSize: 10,
				schema: {
					model: {
						fields: {
							rule_gid: { type: "string" },
							rule_name: { type: "string" },
							source_dataset_name: { type: "string" },
							comparsion_dataset_name: { type: "string" },
							system_match_flag_desc: { type: "string" },
							hold_flag_desc: { type: "string" },
							rule_code: { type: "string" },
						}
					}
				}
			},
			height: 400,
			groupable: false,
			sortable: true,
			selectable: true,
			filterable: true,
			navigatable: true,
			resizable: true,
			pageable: true,
			pageable: {
				refresh: false,
				pageSizes: true,
				buttonCount: 5
			},
			columns: [
				{
					field: "rule_gid",
					title: "rule_gid",
					width: 100,
					hidden: true,
				},
				{
					field: "rule_code",
					title: "rule_code",
					width: 100,
					hidden: true,
				},
				{
					field: "rule_name",
					title: "Rule Name",
					width: 100,
				},
				{
					field: "source_dataset_code",
					title: "source_dataset_code",
					width: 100,
					hidden: true,
				},
				{
					field: "source_dataset_desc",
					title: "Source Dataset Name",
					width: 100,
				},
				{
					field: "comparison_dataset_code",
					title: "comparison_dataset_code",
					width: 100,
					hidden: true,
				},
				{
					field: "comparison_dataset_desc",
					title: "Comparsion Dataset Name",
					width: 100,
				},
				{
					field: "system_match_flag_desc",
					title: "System Matchoff Flag",
					width: 100,
				},
				{
					field: "hold_flag_desc",
					title: "Hold Flag",
					width: 100,
				},
				{
					field: "probable_match_desc",
					title: "Probable Flag",
					width: 100,
				},
			],
			editable: false,
		});
	}
	function reconversionhistory() {
		var in_recon_code = $("#cmbreconname").val();
		var in_version_code = $("#comreconversion").val();
		$.ajax({
			type: "POST",
			url: '../Reports/Reconversionhistoryfetch',
			dataType: 'json',
			data: JSON.stringify({ in_recon_code: in_recon_code, in_version_code: in_version_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				if (response != null) {
					$("#gd_reconverion").empty();
					$("#gd_reconverion").append("<div id='grid_reconverion'></div>");
					var res = JSON.parse(response);
					grid_reconverion(res);
				}
				else {
					grid_reconverion([]);
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}
		});
	}
</script>

