@{
	ViewBag.title = "Custom Report Templete";
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 28rem !important;
		}

	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-1%;height: 82%;">
				<div class="row" style="margin-top:-19px">
					<div class="col-sm-4" style="margin-bottom:5px;">
						<label for="" class="form-label">Recon Name&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
						<select id="cmbreconname" class="form-select form-control" onchange="gridlist()">
						</select>
					</div>
					</div>
				<div class="row">
					<div class="col-xs-12">
						<a href='' onclick='getSerializedRows()' data-bs-toggle='modal'>
							<i class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green;font-size:15px;"></i>
						</a>
						<div id="gd_reporttemplist">
							<div id="grid_reporttemplist"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="show-popup" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body" style="margin-top: -26px;">
					<div class="row">
						<div class="col-sm-4">
						</div>
						<div class="col-sm-4">
							<h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">Report Templete</h4>
						</div>
						<div class="col-sm-4">
							<i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
						</div>
					</div>
					<hr style="margin-top:-1px; width:100%;">
					<div class="row">
						<div class="col-md-6">
							<label>Report Templete Name</label>
							<span style="font-size: 12px;color: red;font-weight: bold;">*</span>
							<input class="form-control" id="reportTempleteName" type="text" />
							<input class="form-control" id="mode" type="text" hidden />
							<input class="form-control" id="reporttemplate_gid" type="number" hidden />
							<input class="form-control" id="reporttemplate_code" type="text" hidden />
						</div>
						<div class="col-md-6">
							<label>Report Name</label> 
							<select id="report_name" class="form-select form-control">
							</select>
						</div>
					</div>


					<div class="row" style="margin-top: 2%;">
						<div class="col-sm-4"></div>
						<div class="col-sm-4" style="margin-top:20px;float: right;">
							<center>
								<button type="button" class="btn btn-sm save_btn me-2" onclick="saveReportTemplete()">Save</button>&nbsp;&nbsp;&nbsp;
								<button type="button" class="btn btn-sm cancel_btn me-2" data-bs-dismiss="modal">Cancel</button>
							</center>
						</div>
						<div class="col-sm-4"></div>

					</div>

				</div>
			</div>
		</div>
	</div>

</body>
</html>
<script type="text/javascript">
	$(document).ready(function () {
		$("#navhead").text("Custom Report Templete");
		kendodate_format();
		grid_reportTemplist([]);
		//recon name
		gridreconlist();
	});

	function gridreconlist() {
		var data = {};
		var txtusername = JSON.parse(localStorage.getItem("recon_userdetail"));
		data.in_user_gid = 0;
		data.in_active_status = '';
		data.in_user_code = txtusername.user_name;
		var Context = data;
		$.ajax({
			type: "POST",
			url: '../Recon/Reconlistfetch',
			dataType: 'json',
			data: JSON.stringify(data),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				var res = JSON.parse(response);
				$("#cmbreconname").empty();
				$("#cmbreconname").append($('<option>', {
					value: "",
					text: "  Select  "
				}));
				$.each(res, function (index, item) {
					if (item.active_status == "Y") {
						$("#cmbreconname").append($('<option>', {
							value: item.recon_code,
							text: item.recon_name
						}));						
					}
					$("#cmbreconname").val(sessionStorage.getItem("reconcode"));
					jQuery('#cmbreconname').trigger("change");
				});
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}

		});
	}

	function getSerializedRows(){
		debugger;
		btn_onClick('Create');
		var selectedItem = $("#cmbreconname").val();
		if ($("#cmbreconname").val()) {
		setlocalStorage("ls_pageList", selectedItem);
		document.location = "../Reports/ReportTempletedetail";
		} else {
			$.alert({
				title: 'Recon',
				content: 'Please select Recon',
				type: 'red',
			});
		}
	}

	function gridlist() {
		if ($("#cmbreconname").val() != '') {
			sessionStorage.setItem("reconcode", $("#cmbreconname").val());
			sessionStorage.setItem("reconname", $("#cmbreconname :selected").text());
			setcon();
		}
		var data = {};
		data.in_recon_code = $("#cmbreconname").val();
		if (data.in_recon_code) {
		$.ajax({
			type: "POST",
			url: '../Reports/reportTempletelist',
			dataType: 'json',
			contentType: 'application/json; charset=utf-8',
			data: JSON.stringify(data),
			success: function (response) {				
				if (response != null) {
					var res = JSON.parse(response)
					$("#gd_reporttemplist").empty();
					$("#gd_reporttemplist").append("<div id='grid_reporttemplist'></div>");
					grid_reportTemplist(res);
				}
				else {
					grid_reportTemplist([]);
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}

		});
	}
	}

	function grid_reportTemplist(data){
		try {
			$("#grid_reporttemplist").kendoGrid({
				dataSource: {
					data: data,
					pageSize: 15,
					schema: {
						model: {
							fields: {
								reporttemplate_gid: { type: "string" },
								reporttemplate_code: { type: "string" },
								reporttemplate_name: { type: "string" },
								report_code: { type: "string" },
								report_desc: { type: "string" },
								system_flag: {type: "string"},
								system_flag_desc: {type: "string"},
								active_status: { type: "string" },
								active_status_desc: { type: "string" }
							}
						}
					}
				},
				height: 343,
				groupable: false,
				dataBound: function (e) {
					resultData = e.sender._data;
					var rows = $('#grid_reporttemplist').data('kendoGrid').tbody.children();
					setColor(rows, resultData);
				},
				pageable: {
					refresh: false,
					pageSizes: true,
					buttonCount: 5
				},
				sortable: true,
				selectable: true,
				filterable: true,
				navigatable: true,
				change: selectRow,
				resizable: true,
				columns: [{
					command: [
						{
							name: "edit",
							id: "btn_Edit",
							template: "<a href='' onclick='getSerializedSelectedRows(this)' value='edit' data-bs-toggle='modal'><img src = '../Assets/images/editicons.png'></a>&nbsp;&nbsp;&nbsp;",
						},
						{
							name: "view",
							id: "View",
							template: "<a href=''onclick='getSerializedSelectedRows(this)' value='view' data-bs-toggle='modal'><img src = '../Assets/images/viewicons.png'></a>&nbsp;&nbsp;&nbsp;",
						},
						{
							name: "Delete",
							id: "Delete",
							template: "<a href='' onclick='myDeleteJs()' data-bs-toggle='modal'><img src = '../Assets/images/del.png'></a>&nbsp;&nbsp;&nbsp;",
						},
					],
					title: "Action&nbsp;",
					width: "40px",
				},
				{
					field: "reporttemplate_gid",
					title: "reporttemplate_gid",
					width: 10,
					hidden: true,
				},

				{
					field: "reporttemplate_code",
					title: "Report Templete Code",
					width: 70,
				},
				{
					field: "reporttemplate_name",
					title: "Recon Templete Name",
					width: 100,
				},
				{
					field: "report_code",
					title: "report_code",
					width: 10,
					hidden: true,
				},
				{
					field: "report_desc",
					title: "Report Name",
					width: 90,
				},
				{
					field: "system_flag_desc",
					title: "Templete Type",
					width: 60,
				},					
				{
					field: "active_status",
					title: "active_status",
					width: 75,
					hidden: true
				},
				{
					field: "active_status_desc",
					title: "Status",
					width: 50,
				}],
				editable: false,

			});
		}
		catch (err) {
			console.log(err)

		}
	}

	function selectRow() {
		try {
			var grid = $("#grid_reporttemplist").data("kendoGrid");
			var selectedItem = grid.dataItem(grid.select());
			setlocalStorage("ls_pageList", selectedItem.reporttemplate_code);
		}
		catch (err) {

		}
	}

	function saveReportTemplete(){
		var data = {};
		data.in_reporttemplate_gid = $("#reporttemplate_gid").val();
		data.in_reporttemplate_code = $("#reporttemplate_code").val();
		data.in_reporttemplate_name = $("#reportTempleteName").val();
		data.in_report_code = $("#report_name").val();
		data.in_action = $("#mode").val();
		data.in_active_status = 'Y';
		$.ajax({
			type: "POST",
			url: '../Reports/reporttemplate',
			dataType: 'json',
			data: JSON.stringify(data),
			//data: JSON.stringify({ in_reporttemplate_gid: data.in_reporttemplate_gid, in_reporttemplate_code: data.in_reporttemplate_code, in_reporttemplate_name: data.in_reporttemplate_name, in_report_code: data.in_report_code, in_action: data.in_action, in_active_status: data.in_active_status }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				var result = JSON.parse(response);
				if (result.length > 0) {
					if (result[0].out_result == '1') {
						$.alert({
							title: 'Recon',
							content: result[0].out_msg,
							type: 'green',
						});
						$("#show-popup").modal('hide');
						gridlist();
					} else {
						$.alert({
							title: 'Recon',
							content: result[0].out_msg,
							type: 'red',
						});
					}
				}
			}
		});
	}

	function getSerializedSelectedRows(mode){
		try {
			if (getlocalStorage("ls_pageList") != undefined || getlocalStorage("ls_pageList") != "") {
				var items = getlocalStorage("ls_pageList");
				if (items.length == 0) {
					kendoAlert("Please select records");
				}
				else {
					if ($(mode).attr('value') == "edit") {
						btn_onClick("Edit");
						document.location = '../Reports/ReportTempletedetail';
					}
					else if (mode == "view") {
						btn_onClick('View');
						document.location = "../Reports/ReportTempletedetail";
					} else {
						btn_onClick('Create');
						document.location = "../Reports/ReportTempletedetail";
					}
				}
			}
		}
		catch (err) {

		}
	}

	function myDeleteJs(){

		$.confirm({
			icon: 'fa fa-warning',
			title: 'Recon',
			autoClose: 'cancel|10000',
			theme: 'dark',
			animationSpeed: 700,
			content: 'Are you sure do you want to delete this record!',
			type: 'orange',
			buttons: {
				confirm: function () {
					deleteconfirm();
				},
				cancel: function () {
					$.alert({
						icon: 'fa fa-success',
						title: 'Recon',
						theme: 'dark',
						content: 'Delete Canceled.!',
						type: 'blue',
						animationSpeed: 700,
					});
				},
			}
		});
	}

	function deleteconfirm(data){
		var grid = $("#grid_reporttemplist").data("kendoGrid");
		var selectedItem = grid.dataItem(grid.select());
		var data = {};
		data.in_reporttemplate_gid = selectedItem.reporttemplate_gid;
		data.in_reporttemplate_code = selectedItem.reporttemplate_code;
		data.in_reporttemplate_name = selectedItem.reporttemplate_name;
		data.in_report_code = selectedItem.report_code;
		data.in_action = 'DELETE';
		data.in_active_status = 'N';
		debugger;
		$.ajax({
			type: "POST",
			url: '../Reports/reporttemplate',
			dataType: 'json',
			data: JSON.stringify(data),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				var result = JSON.parse(response);
				if (result.length > 0) {
					if (result[0].out_result == '1') {
						$.alert({
							title: 'Recon',
							content: result[0].out_msg,
							type: 'green',
						});
						gridlist();
					} else {
						$.alert({
							title: 'Recon',
							content: result[0].out_msg,
							type: 'red',
						});
					}
				}
			}
		});
	}
</script>