@{
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 28rem !important;
		}


		.k-grid-header th.k-header, .k-filter-row th {
			font-weight: 700 !important;
		}

		.k-grid td {
			border: unset !important;
			font-weight: 800;
			line-height: 1em;
			border-left: 1px solid #c5c5c5 !important;
		}

		.k-header, .k-treemap-title, .k-grid-header .k-header > .k-link {
			color: #fff !important;
		}

	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-1%;">
				<div class="row" style="margin-top:10px;margin-bottom: 2%;">
					
					<div class="col-md-3">
						<label for="" class="form-label">
							Tran Date <span style="font-size: 12px;color: red;font-weight: bold;">*</span>
						</label> 
						<div>
							<input class="cusDate" data-role='datepicker' id="tran_date" name="tran_date" onclick="Dateformat()" style="width:100%" />
							<span data-for='valid' class='k-invalid-msg'></span>
						</div>
					</div>
					<div class="col-md-3">
						<label for="organization" class="form-label">Recon Name<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label><br>
						<select id="reconname" class="form-select form-control"> </select>

					</div>
					<div class="col-md-2" style="margin-top: 2.5%;">
						<button type="button" onclick="run()" class="btn btn-sm save_btn me-2" style="width:50%">
							View
						</button>
						<button type="button" onclick="monthbrs()" id="exportExcel" aria-hidden="true" class="btn btn-sm btn-success me-2" style="background: #38b55a;border-color: #38b55a;width:23%;">
							<i class="fa-solid fa-file-excel"></i>
						</button>
					</div>
					<div class="col-md-2">
					</div>
					<div class="col-md-2">
					</div>
					
				</div>

				<div id="grid_withinaccount"></div>

			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	$(document).ready(function () {
		$("#navhead").text("Recon - Within A/cs");
		kendodate_format();
		getreconlist();
		$("#exportExcel").hide();
	});

	function getreconlist() {
		var data = {};
		data.in_recontype_code = 'W';
		//data.in_recontype_code = 'B';

		var Context = data;
		$.ajax({
			type: "POST",
			url: '../Recon/getReconAgainstTypeCode',
			dataType: 'json',
			data: JSON.stringify(data),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				debugger;
				$("#reconname").empty();
				$("#reconname").append($('<option>', {
					value: "",
					text: "  Select  "
				}));
				$.each(response, function (index, item) {
					$("#reconname").append($('<option>', {
						value: item.recon_code,
						text: item.recon_name
					}));
				});
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}
		});
	}


	function run() {
		debugger;
		var in_recon_code = $("#reconname").val();
		var in_tran_date = $("#tran_date").val();
		var ts = in_tran_date.split("/");
		var pr = ts[2] + "-" + ts[1] + "-" + ts[0];
		if (in_recon_code && in_tran_date) {
		$.ajax({
			type: "POST",
			url: '../Reports/reconwithinacc',
			dataType: 'json',
			async: false,
			data: JSON.stringify({ in_recon_code: in_recon_code, in_tran_date: pr }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				debugger;
				var data = JSON.parse(response)
				if (data.length > 0){
					loadGrid(data);
					$("#exportExcel").show();
				}
				
				debugger;
			},
			error: function (er) {
				debugger;
				console.log(er)
			}
		});
		} else if (!in_recon_code) {
			$.alert({
				title: 'Recon',
				content: 'Please select Recon Code',
				type: 'red',
			});
		} else if (!in_tran_date) {
			$.alert({
				title: 'Recon',
				content: 'Please select Tran Date',
				type: 'red',
			});
		}
		}

	function loadGrid(data) {
		debugger;
		try {
			$("#grid_withinaccount").kendoGrid({
				dataSource: {
					data: data,
					pageSize: 10,
					schema: {
						model: {
							fields: {
								bal_value: { type: "string" },
								particulars: { type: "string" },
								proof_gid: { type: "string" },
								tran_acc_mode: { type: "string" },
								tran_value: { type: "string" }
							}
						}
					}
				},
				height: 250,
				groupable: false,
				dataBound: function (e) {
					var grid = this; // "this" refers to the Kendo Grid
					var rows = grid.tbody.children();

					rows.each(function () {
						var rowDataItem = grid.dataItem(this);
						if (rowDataItem.particulars === "Add" || rowDataItem.particulars === "Subtotal" || rowDataItem.particulars === "Less" || rowDataItem.particulars === "Arrived Balance") {
							$(this).css("color", "red");
						}
						if (rowDataItem.tran_acc_mode === "CR" || rowDataItem.tran_acc_mode === "DR") {
							$(this).css("color", "blue");
						}
					});
				},
				pageable: false,
				sortable: false,
				selectable: false,
				filterable: false,
				navigatable: true,
				columns: [
				{
						field: "proof_gid",
						title: "proof_gid",
						width: 100,
						hidden: true,
				},
				{
						field: "particulars",
						title: "Particular",
						width: 200,
				},
				{
						field: "tran_value",
						title: "Amount",
						width: 100,
						attributes: { style: "text-align: right;" },
				},
				{
						field: "tran_acc_mode",
						title: "Account Mode",
						width: 50,
				},
				{
						field: "bal_value",
						title: "Balance Amount",
						width: 100,
						attributes: { style: "text-align: right;" },
				},
				],
				editable: false,

			});
		}
		catch (err) {
			console.log(err)

		}
	}

	function monthbrs() {
		var in_recon_code = $("#reconname").val();
		var in_recon_name = $("#reconname").find(":selected").text();
		var in_tran_date = $("#tran_date").val();
		var ts = in_tran_date.split("/");
		var pr = ts[2] + "-" + ts[1] + "-" + ts[0];
		var slice_recon_name = in_recon_name.slice(0, 20);
		window.location.href = '@Url.Action("kendogrid_download_withinaccount", "Reports")?in_tran_date=' + pr + '&in_recon_code=' + in_recon_code + '&in_recon_name=' + slice_recon_name + '';
	}


</script>