@{
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 33rem !important;
		}
		.error_show {
			color: red;
			margin-left: 10px;
		}
		.k-grid-filter.k-state-active {
			background-color: initial !important;
		}
		.k-grid.k-widget {
			height: 360px;
		}

		.k-grid-header th.k-header > .k-link {
			width: 100px;
		}

		.k-grid-header {
			font-weight: bold;
		}

		.k-content {
			font-weight: normal;
			font-size: 13px;
		}

		.k-widget.k-window {
			padding-top: 35px;
			min-width: 90px;
			min-height: 50px;
			width: 700px !important;
			height: 300px !important;
			top: 180.766px !important;
			/*left: 120px !important;*/
			z-index: 10003;
			left: 300px !important;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-12px;height: 82%;">
				<form method="post" class="form-horizontal" id="form" enctype="multipart/form-data">
					<div class="row" style="margin-top: -18px;margin-bottom: 10px;">
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-4">
									<label for="lbldatasetcode" class="form-label">Dataset Code</label>
									<input class="form-control" type="text" id="txtdatasetcode" disabled>
								</div>
								<div class="col-sm-4">
									<label for="lblmode" class="form-label">Mode</label>
									<input class="form-control" type="text" id="txtmode" value="Create" disabled>
								</div>
								<div class="col-sm-4">
									<label for="lblstatus" class="form-label">Status</label><br>
									<input class="form-control" type="text" id="txtstatus" value="Active" disabled>
								</div>
							</div>
						</div>
						<div class="col-sm-5">
						</div>
						<div class="col-sm-1" style="margin-top:20px;">
							<center>
								<a href="../DataSet/DataSetList"><img style="cursor:pointer;" src="~/Content/images/toplist.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
							</center>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-sm-4">
							<label class="form-label" for="">Dataset Name&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
							<input class="form-control" type="text" id="datasetname">
							<input class="form-control" type="hidden" id="datasetgid" value=0;>
						</div>
						<div class="col-sm-4">
							<label class="form-label" for="">Category&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
							<select id="cmbcategory" class="form-select form-control">
							</select>
						</div>
						<div class="col-sm-2">
							<label class="form-label" for="">Clone Dataset&nbsp;</label>
							<select id="Cmbclone" class="form-select form-control">
							</select>
						</div>
						<div class="col-sm-2" style="margin-top:30px">
							<button type="button" class="btn btn-sm me-2 save_btn" id="btnclone" onclick="saveclone()">Clone</button>&nbsp;&nbsp;&nbsp;
						</div>
					</div>

					<div class="row" style="margin-top:20px;">
						<div class="col-xs-12">

							@*<i data-bs-toggle="modal" data-bs-target="#newdebit" onclick="saveheader()" id="adddataset" class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green"></i>*@

							<i data-bs-toggle="modal" onclick='getdetailSelectedRows(this)' id="datasetfieldadd" value='create' class="fa fa-plus cursor-pointer" style="color:green"></i>
							<div id="gd_datasetfield">
								<div id="grid_datasetfield">
								</div>
							</div>
						</div>

					</div>
					<div class="row" style="padding-bottom:8px;padding-top:8px;padding-left:10px;padding-right:10px">
						<div class="col-sm-4">
						</div>
						<div class="col-sm-4" style="margin-top:2%;margin-left:58px;">
							<button type="button" id="savesubmit" class="btn btn-sm save_btn me-2" onclick="saveheadersubmit()">Submit</button>&nbsp;&nbsp;&nbsp;
							<a href="../DataSet/DataSetList" class="btn btn-sm cancel_btn me-2">Cancel</a>
						</div>
						<div class="col-sm-4">
						</div>
					</div>

					<div class="modal fade" id="newdebit" tabindex="-1" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
								</div>
								<div class="modal-body" style="margin-top: -26px;">
									<div class="row">
										<div class="col-sm-4">
										</div>
										<div class="col-sm-4">
											<h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">Dataset Mapping</h4>
										</div>
										<div class="col-sm-4">
											<i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
										</div>
									</div>
									<hr style="margin-top:-1px; width:100%;">
									<div class="row" style="padding-bottom:2px;margin-top:5px;">
										<div class="col-sm-4">
											<label for="" class="form-label">Dataset Field&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
											<input class="form-control" id="datasetfield" type="text" style="width:100%;">
											<input class="form-control" type="number" id="datasetdetail_id" hidden>
											<input class="form-control" type="text" id="txtmodeflag" value="Create" hidden>
										</div>

										<div class="col-sm-4">
											<label for="" class="form-label">Field Type&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
											<select id="cmbFieldType" class="form-select form-control" onchange="fieldtype()">
											</select>
										</div>
										<div class="col-sm-4" id="fielddataset">
											<label for="" class="form-label">Field Length&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
											<input class="form-control" id="fieldlength" type="text" style=" width:100%;">
										</div>
										<div class="col-sm-4" style="display:none" id="numeric">
											<label for="" class="form-label">Precision&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
											<input class="form-control" id="fieldPrecision" type="text" style=" width:50%;" value="5">
											<div style="margin-left: 107px;margin-right: -51px;margin-top: -63px;">
												<label for="" class="form-label">scale&nbsp;</label>
												<input class="form-control" id="fieldscale" type="text" style=" width:50%;" value="2">
											</div>
											<label for="" class="form-label">(Ex : 00000.00)</label>
										</div>
									</div>
									<div class="row" style="padding-bottom:3px;padding-top:8px;">
										<div class="col-sm-4">
											<label for="" class="form-label">Mandatory&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
											<div style="margin-left:2px;margin-top:5px">
												<input type="radio" id="mandatory1" name="mandatory" value="Y">&nbsp;&nbsp;Yes&nbsp;
												<input type="radio" id="mandatory2" style="margin-left: 10px;" name="mandatory" checked value="N">&nbsp;&nbsp;No&nbsp;
											</div>
										</div>
										<div class="col-sm-4"></div>
										<div class="col-sm-4" style="margin-top:20px;float: right;">
											<center>
												<button type="button" class="btn btn-sm save_btn me-2" onclick="savedetail()">Save</button>&nbsp;&nbsp;&nbsp;
												<button type="button" class="btn btn-sm cancel_btn me-2" data-bs-dismiss="modal">Cancel</button>
											</center>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	$(document).ready(function () {
		getGridComboList();
		$("#navhead").text("Dataset");
		grid_datasetfield([]);
	});
	function fieldtype() {
		var FieldType = $("#cmbFieldType").val();
		if (FieldType == "NUMERIC") {
			$("#fielddataset").hide();
			$("#numeric").show();
		} else {
			$("#fielddataset").show();
			$("#numeric").hide();
		}
	}
	function load() {
		if (getlocalStorage('btn_clk_val') == "Create") {
			$("#txtmode").val(getlocalStorage('btn_clk_val'));
			$("#txtstatus").val("Draft");
		}
		else if (getlocalStorage('btn_clk_val') == "Edit") {
			if (getlocalStorage("ls_pageList") != undefined) {
				var data = getlocalStorage("ls_pageList");
				var cat = data.dataset_category;
				$("#txtmode").val(getlocalStorage('btn_clk_val'));
				$("#datasetname").val(data.dataset_name);
				$("#cmbcategory").val(cat);
				$("#txtdatasetcode").val(data.dataset_code);
				$("#txtstatus").val(data.active_status_desc);
				$("#datasetgid").val(data.dataset_gid);
				$("#datasetfieldadd").show();
				detailsfetch(data.dataset_gid);
				$("#Cmbclone").prop('disabled', true)
				$("#btnclone").prop('disabled', true)
			}
		} else if (getlocalStorage('btn_clk_val') == "View") {
			if (getlocalStorage("ls_pageList") != undefined) {
				var data = getlocalStorage("ls_pageList");
				var cat = data.dataset_category;
				$("#txtmode").val(getlocalStorage('btn_clk_val'));
				$("#datasetname").val(data.dataset_name);
				$("#cmbcategory").val(cat);
				$("#txtdatasetcode").val(data.dataset_code);
				$("#txtstatus").val(data.active_status_desc);
				$("#datasetgid").val(data.dataset_gid);
				detailsfetch(data.dataset_gid)
				$("#Cmbclone").prop('disabled', true)
				$("#btnclone").prop('disabled', true)
				$("#savesubmit").prop('disabled', true)
				$("#adddataset").hide();
				$("#datasetfieldadd").hide();
				$("#grid_datasetfield .k-grid-edit").hide();
			}
		}
	}
	function detailsfetch(datasetgid) {
		$.ajax({
			type: "POST",
			url: '../DataSet/Datasetdetailreadlist',
			dataType: 'json',
			data: JSON.stringify({ dataset_gid: datasetgid }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				debugger;
				if (response != null) {
					var result = JSON.parse(response);
					$("#datasetname").val(result.Header[0].dataset_name);
					$("#cmbcategory").val(result.Header[0].dataset_category);
					$("#txtdatasetcode").val(result.Header[0].dataset_code);
					$("#txtstatus").val(result.Header[0].active_status_desc);
					$("#datasetgid").val(result.Header[0].dataset_gid);
					$("#gd_datasetfield").empty();
					$("#gd_datasetfield").append("<div id='grid_datasetfield'></div>");
					grid_datasetfield(result.DataSet);
					if (response.length > 0) {
						$("#Cmbclone").val();
						$("#Cmbclone").prop('disabled', true)
						$("#btnclone").prop('disabled', true)
					}
				}
				else {
					grid_datasetfield([]);
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}

		});
	}
	function saveheader() {
		try {
			var dataset_name = $("#datasetname").val();
			var dataset_category = $("#cmbcategory").val();
			var dataset_code = $("#txtdatasetcode").val();
			var clone_dataset = $("#Cmbclone").val();
			var action = "";
			var dataset_id = $("#datasetgid").val();

			if (dataset_id > 0) {
				dataset_id = $("#datasetgid").val();
				return;
			} else {
				dataset_id = 0;
			}

			if ($("#txtmode").val() == "Create") {
				action = "INSERT"
			} else if ($("#txtmode").val() == "Edit") {
				action = "UPDATE"
			}
			var action_by = "vijay";
			var status = "D"
			var inactive_reason = "";
			$.ajax({
				type: "POST",
				url: '../DataSet/Datasetheader',
				dataType: 'json',
				data: JSON.stringify({ dataset_name: dataset_name, dataset_category: dataset_category, datasetCode: dataset_code, clone_dataset: clone_dataset, in_action: action, in_action_by: action_by, dataset_id: dataset_id, active_status: status, inactive_reason: inactive_reason }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					var result = JSON.parse(response);
					var data = result[0];
					if (data.out_result == "1") {
						//$.alert({
						//	title: 'Recon',
						//	content: data.out_msg,
						//	type: 'green',
						//});
						detailsfetch(data.in_dataset_gid);
						$("#datasetgid").val(data.in_dataset_gid);
					} else {
						$.alert({
							title: 'Recon',
							content: data.out_msg,
							type: 'red',
						});
					}
				},
				error: function (er) {
					alert(er)
					console.log(er)
				}

			});
		}
		catch (e) {
			console.log(e)
		}
	}
	function grid_datasetfield(data) {
		$("#grid_datasetfield").kendoGrid({
			dataSource: {
				data: data,
				pageSize: 5,
				schema: {
					model: {
						fields: {
							datasetfield_gid: { type: "string" },
							slno: { type: "string" },
							field_name: { type: "string" },
							field_type: { type: "string" },
							fieldtype_desc: { type: "string" },
							field_length: { type: "string" },
							precision_length: { type: "string" },
							scale_length: { type: "string" },
							field_mandatory: { type: "string" },
							In_mode_flag: { type: "string", defaultValue: "I" }
						}
					}
				},
			},
			height: 270,
			groupable: false,
			dataBound: function (e) {
				resultData = e.sender._data;
				var rows = $('#grid_datasetfield').data('kendoGrid').tbody.children();
				setColor(rows, resultData);
			},
			sortable: false,
			selectable: true,
			filterable: false,
			navigatable: true,
			pageable: true,
			pageable: {
				refresh: false,
				pageSizes: true,
				buttonCount: 5
			},
			columns: [{
				command: [
					{
						name: "edit",
						id: "Edit",
						template: "<a href='' onclick='getdetailSelectedRows(this)' value='edit' data-bs-toggle='modal'><img src = '../Assets/images/editicons.png'></a>&nbsp;&nbsp;&nbsp;",
					},
					{
						name: "Delete",
						id: "Delete",
						template: "<a href='' onclick='myDeleteJs()' data-bs-toggle='modal'><img src = '../Assets/images/del.png' href='../DataSet/DataSetForm'></a>&nbsp;&nbsp;&nbsp;"
					},
				], title: "Action&nbsp;", width: "40px",
			},
			{
				field: "datasetfield_gid",
				title: "datasetfield_gid",
				width: 100,
				hidden: true,
			},
			{
				field: "slno",
				title: "Sl no",
				width: 100,
				hidden: true,
			},
			{
				field: "field_name",
				title: "Dataset Field",
				width: 100,
			},
			{
				field: "field_type",
				title: "Field Type",
				width: 100,
				hidden: true,
			},
			{
				field: "fieldtype_desc",
				title: "Field Type",
				width: 100,
			},
			{
				field: "field_length",
				title: "Field Length",
				width: 100,
			},
			{
				field: "precision_length",
				title: "precision_length",
				width: 100,
				hidden: true,
			},
			{
				field: "scale_length",
				title: "scale_length",
				width: 100,
				hidden: true,
			},
			{
				field: "field_mandatory",
				title: "Mandatory",
				width: 100,
			},

			{
				field: "In_mode_flag",
				title: "Mode",
				hidden: true
			}],
			editable: false,

		});
	}
	function savedetail() {

		try {
			var datasetfield = $("#datasetfield").val();
			var FieldType = $("#cmbFieldType").val();
			var fieldlength ="";
			if (FieldType != "NUMERIC") {
			fieldlength = $("#fieldlength").val();
			}
			var dataset_code = $("#txtdatasetcode").val();
			var datasetdetail_id = $("#datasetdetail_id").val();
			var precision_length = $("#fieldPrecision").val();
			var scale_length = $("#fieldscale").val();
			var action = "";
			var action_by = "vijay"
			if (datasetdetail_id > 0) {
				datasetdetail_id = $("#datasetdetail_id").val();
				action = "UPDATE"
			} else {
				datasetdetail_id = 0;
				action = "INSERT"
			}
			var status = "Y";
			var mandatory = $("input[name='mandatory']:checked").val();
			$.ajax({
				type: "POST",
				url: '../DataSet/Datasetdetail',
				dataType: 'json',
				data: JSON.stringify({ datasetCode: dataset_code, datasetdetail_id: datasetdetail_id, field_name: datasetfield, in_action: action, in_action_by: action_by, field_length: fieldlength, precision_length: precision_length, scale_length: scale_length, field_type: FieldType, field_mandatory: mandatory }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {

					if (response.out_result == "1") {
						$.alert({
							title: 'Recon',
							content: response.out_msg,
							type: 'green',
						});
						$("#newdebit").modal('hide');
						detailsfetch($("#datasetgid").val())
					}
					else {
						$.alert({
							title: 'Recon',
							content: response.out_msg,
							type: 'green',
						});
					}
				},
				error: function (er) {
					alert(er)
					console.log(er)
				}

			});
		}
		catch (e) {
			console.log(e)
		}
	}

	function getdetailSelectedRows(mode) {
		if ($("#txtmode").val() != "View") {
			if ($(mode).attr('value') == "edit") {
				var grid = $("#grid_datasetfield").data("kendoGrid");
				var selectedItem = grid.dataItem(grid.select());
				$("#datasetfield").val(selectedItem.field_name);
				$("#datasetdetail_id").val(selectedItem.datasetfield_gid);
				$("#txtmodeflag").val("edit");
				$("#cmbFieldType").val(selectedItem.field_type);
				$("#fieldlength").val(selectedItem.field_length);
				if (selectedItem.field_mandatory == "Yes") {
					$("#mandatory1").prop("checked", true);
				} else {
					$("#mandatory2").prop("checked", true);
				}
				fieldtype();
				$("#fieldPrecision").val(selectedItem.precision_length);
				$("#fieldscale").val(selectedItem.scale_length);
				$("#newdebit").modal('show');
			} else if ($(mode).attr('value') == "create") {
				var dataset_id = $("#datasetgid").val();
				if (dataset_id > 0) {
					dataset_id = $("#datasetgid").val();
					$("#newdebit").modal('show');
					$("#datasetfield").val("");
					$("#datasetdetail_id").val(0);
					$("#cmbFieldType").val("");
					$("#fieldlength").val("");
					$("#mandatory2").prop("checked", true);
					$("#fieldPrecision").val(5);
					$("#fieldscale").val(2);
					fieldtype();
					return;
				} else {
					dataset_id = 0;
				}
				var dataset_name = $("#datasetname").val();
				var dataset_category = $("#cmbcategory").val();
				var dataset_code = $("#txtdatasetcode").val();
				var clone_dataset = $("#Cmbclone").val();
				var action = "";
				var dataset_id = $("#datasetgid").val();

				if (dataset_id > 0) {
					dataset_id = $("#datasetgid").val();

					return;
				} else {
					dataset_id = 0;
				}
				action = "INSERT"

				var action_by = "vijay"
				var status = "D"

				$.ajax({
					type: "POST",
					url: '../DataSet/Datasetheader',
					dataType: 'json',
					data: JSON.stringify({ dataset_name: dataset_name, dataset_category: dataset_category, datasetCode: dataset_code, clone_dataset: clone_dataset, in_action: action, in_action_by: action_by, dataset_id: dataset_id, active_status: status }),
					contentType: 'application/json; charset=utf-8',
					success: function (response) {
						var result = JSON.parse(response);
						var data = result[0];

						if (data.out_result == "1") {
							detailsfetch(data.in_dataset_gid);
							$("#datasetgid").val(data.in_dataset_gid);
							$("#newdebit").modal('show');
							$("#datasetfield").val("");
							$("#datasetdetail_id").val(0);
							$("#cmbFieldType").val("");
							$("#fieldlength").val("");
							$("#mandatory2").prop("checked", true);
							$("#fieldPrecision").val(5);
							$("#fieldscale").val(2);
						} else {
							$.alert({
								title: 'Recon',
								content: data.out_msg,
								type: 'red',
							});
						}
					},
					error: function (er) {
						alert(er)
						console.log(er)
					}

				});
			}
		}
	}
	function getGridComboList() {
		var data = {};
		data.in_user_gid = 0;
		data.in_active_status = '';
		var Context = data;
		$.ajax({
			type: "POST",
			url: '../DataSet/Datasetlistfetch',
			dataType: 'json',
			data: JSON.stringify({ in_user_gid: Context.in_user_gid, in_active_status: Context.in_active_status }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				var result = JSON.parse(response);
				$("#Cmbclone").empty();
				$("#Cmbclone").append($('<option>', {
					value: "",
					text: "  Select  "
				}));
				$.each(result, function (index, item) {
					if (item.active_status == "Y") {
						$("#Cmbclone").append($('<option>', {
							value: item.dataset_code,
							text: item.dataset_name
						}));
					}
				});
			}
		});
		var in_master_code = "QCD_DS_CATEGORY";
		var in_user_code = "sundar";
		$.ajax({
			type: "POST",
			url: '../Common/Qcdmaster',
			dataType: 'json',
			data: JSON.stringify({ in_user_code: in_user_code, in_master_code: in_master_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				$("#cmbcategory").empty();
				$("#cmbcategory").append($('<option>', {
					value: "",
					text: "  Select  "
				}));
				$.each(response, function (index, item) {
					$("#cmbcategory").append($('<option>', {
						value: item.masterCode,
						text: item.masterName
					}));
				});
				load();
			}
		});

		var in_master_code = "QCD_RC_FIELD_TYPE";
		var in_user_code = "sundar";
		$.ajax({
			type: "POST",
			url: '../Common/Qcdmaster',
			dataType: 'json',
			data: JSON.stringify({ in_user_code: in_user_code, in_master_code: in_master_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				$("#cmbFieldType").empty();
				$("#cmbFieldType").append($('<option>', {
					value: "",
					text: "  Select  "
				}));
				$.each(response, function (index, item) {
					$("#cmbFieldType").append($('<option>', {
						value: item.masterCode,
						text: item.masterName
					}));
				});
			}
		});
	}
	function myDeleteJs() {
		if ($("#txtmode").val() != "View") {
			var grid = $("#grid_datasetfield").data("kendoGrid");
			var model = grid.dataItem($(event.target).closest("tr"));

			$.confirm({
				icon: 'fa fa-warning',
				title: 'Recon',
				autoClose: 'cancel|10000',
				theme: 'dark',
				animationSpeed: 700,
				content: 'Are you sure do you want to delete this record!',
				type: 'orange',
				buttons: {
					confirm: function () {
						var datasetfield = model.field_name;
						var FieldType = model.field_type;
						var fieldlength = model.field_length;
						var dataset_code = model.datasetCode;
						var action = "DELETE";
						var action_by = "vijay"
						var datasetdetail_id = model.datasetfield_gid;
						var mandatory = "";
						$.ajax({
							type: "POST",
							url: '../DataSet/Datasetdetail',
							dataType: 'json',
							data: JSON.stringify({ datasetCode: dataset_code, datasetdetail_id: datasetdetail_id, field_name: datasetfield, in_action: action, in_action_by: action_by, field_length: fieldlength, field_type: FieldType, field_mandatory: mandatory }),
							contentType: 'application/json; charset=utf-8',
							success: function (response) {

								var data = response;
								if (data.out_result == "1") {
									$.alert({
										icon: 'fa fa-success',
										title: 'Recon',
										theme: 'dark',
										content: data.out_msg,
										type: 'green',
										animationSpeed: 700,
									});
									load();
									//window.location.reload(1);
								} else {
									$.alert({
										title: 'Recon',
										content: data.out_msg,
										type: 'red',
									});
								}
							},
						});
					},
					cancel: function () {
						$.alert({
							icon: 'fa fa-success',
							title: 'Recon',
							theme: 'dark',
							content: 'Delete Canceled.!',
							type: 'blue',
							animationSpeed: 700,
						});
					},
				}
			});
		}
	}
	function saveclone() {
		$.confirm({
			icon: 'fa fa-info',
			title: 'Recon',
			theme: 'dark',
			content: 'Are you sure to Clone ?',
			type: 'orange',
			buttons: {
				confirm: function () {
					saveheader();
				},
				cancel: function () {
					$.alert({
						icon: 'fa fa-success',
						title: 'Recon',
						theme: 'dark',
						content: 'clone Canceled.!',
						type: 'blue',
						animationSpeed: 700,
					});
				},
			},
		});
	}
	function saveheadersubmit() {
		var grid = $("#grid_datasetfield").data("kendoGrid");
		var dataSource = grid.dataSource;
		var recordsOnCurrentView = dataSource.view().length;
		if (recordsOnCurrentView >= 1) {
			var dataset_name = $("#datasetname").val();
			var dataset_category = $("#cmbcategory").val();
			var dataset_code = $("#txtdatasetcode").val();
			var clone_dataset = $("#Cmbclone").val();
			var action = "";
			var action_by = "vijay"
			var dataset_id = $("#datasetgid").val();
			if (dataset_id > 0) {
				dataset_id = $("#datasetgid").val();
				action = "UPDATE"
			} else {
				dataset_id = 0;
				action = "INSERT"
			}
			var status = "Y";
			var inactive_reason = "";
			$.ajax({
				type: "POST",
				url: '../DataSet/Datasetheader',
				dataType: 'json',
				data: JSON.stringify({ dataset_name: dataset_name, dataset_category: dataset_category, datasetCode: dataset_code, clone_dataset: clone_dataset, in_action: action, in_action_by: action_by, dataset_id: dataset_id, active_status: status, inactive_reason: inactive_reason }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					var result = JSON.parse(response);
					var data = result[0];

					if (data.out_result == "1") {
						$.alert({
							title: 'Recon',
							content: data.out_msg,
							type: 'green',
						});
						detailsfetch(data.in_dataset_gid);
						$("#datasetgid").val(data.in_dataset_gid);
						window.location.href = "../DataSet/DataSetList";
					} else {
						$.alert({
							title: 'Recon',
							content: data.out_msg,
							type: 'red',
						});
					}
				},
				error: function (er) {
					alert(er)
					console.log(er)
				}

			});
		} else {
			$.alert({
				title: 'Recon',
				content: "List Empty",
				type: 'red',
			});
		}
	}
</script>


