
@{
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@*<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-1%;height: 84%;">
				<embed src="http://140.238.247.210/ConnectorWeb/Pipeline/PipelineList/" title="description" style="height: 556px;width: 98%;padding-left: 23px;padding-bottom: -5px;margin-top: -13px;border:1px white">
			</div>
	</div>
</div>
</body>*@

<body>
	<div>
		<embed src="http://140.238.247.210/ConnectorWeb/Pipeline/PipelineList/" title="description" style="height: 550px;width: 98%;padding-left: 23px;padding-bottom: -5px;margin-top: -13px;border:1px white">
		@* <embed src="http://localhost:5544/Pipeline/PipelineList/" title="description" style="height: 550px;width: 98%;padding-left: 23px;padding-bottom: -5px;margin-top: -13px;border:1px white"> *@
	</div>
</body>
<script>
	$(document).ready(function () {
		$("#navhead").text("Pipeline");
	});
</script>

