
@{
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}



<body>
	<div>
@*		<embed src="http://140.238.247.210/ConnectorWeb/Pipeline/PipelineList/" title="description" style="height: 550px;width: 98%;padding-left: 23px;padding-bottom: -5px;margin-top: -13px;border:1px white">
*@@*		<embed src="http://140.238.247.210/ConnectorUatWeb/Pipeline/PipelineList/" title="description" style="height: 550px;width: 98%;padding-left: 23px;padding-bottom: -5px;margin-top: -13px;border:1px white">
*@

		<embed src="http://150.230.238.12/ConnectorDevWeb/Pipeline/PipelineList/" title="description" style="height: 550px;width: 98%;padding-left: 23px;padding-bottom: -5px;margin-top: -13px;border:1px white">

		</div>
</body>
<script>
	$(document).ready(function () {
		$("#navhead").text("Pipeline");
	});
</script>

