@{
    ViewBag.title = "Pipeline";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <div>
        <embed src=@ViewBag.pipe title="description" style="height: 99vh;width: 98%;padding-left: 23px;padding-bottom: -5px;margin-top: -13px;border:1px white">
    </div>
    <script>
        $(document).ready(function () {
    	$("#navhead").text("Pipeline");
        	$("#contextdiv").hide();
        });
    </script>
    </body>
</html>
