@{
	ViewBag.title = "Recon Theme Update";
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<!Doctype html>
<html>
<head>
	<title></title>

	<style>
		.selectedRule {
			font-size: 13px;
			font-weight: 600;
			color: brown;
		}

		.nav-item.me-2.me-xl-50 {
			margin-right: 28rem !important;
		}

	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-1%;height: 82%;">

				<div class="row" style="margin-top:-19px">
					<div class="col-sm-4" style="margin-bottom:5px;">
						<label for="" class="form-label">Base Recon Name&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
						<select id="cmbreconname" class="form-select form-control" onchange="gridlist()">
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div id="gd_themelist">
							<div id="grid_themelist"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="infomodal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
				</div>
				<div class="modal-body" style="margin-top: -26px;">
					<div class="row">
						<div class="col-sm-4">
						</div>
						<div class="col-sm-4">
							<h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">Recon Theme Update</h4>
						</div>
						<div class="col-sm-4">
							<i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
						</div>
					</div>
					<hr style="margin-top:-1px; width:100%;">
					<div class="container">
						<div class="row">
							<div class="selectedRule col-md-12" id="selected_theme_name"></div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label for="" class="form-label">Update Recon&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
								<select id="updatereconname" class="form-select form-control" onchange="updateTheme()">
								</select>
								<input class="form-control" type="hidden" id="selectedTheme">
							</div>
							<div class="col-md-6">
								<label for="" class="form-label">
									Update Theme&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span>
									<span>
										<img style="cursor:pointer" src='../Assets/images/viewicons.png' onclick="viewThemeDetails()" />
									</span>
								</label>
								<select id="updatethemename" class="form-select form-control" onchange="gridlist()">
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4"> </div>
					<div class="col-sm-4" style="margin-bottom:30px;float: right;">
						<center>
							<button type="button" class="btn btn-sm btn-success me-2" onclick="updateRecon()" style="padding: 4px 25px;"> Update</button>
							<button type="submit" class="btn btn-sm btn-success me-2" data-bs-dismiss="modal" style="background: red;border-color: red;width:40%" onclick="rr1()">Close</button>
						</center>
					</div>
					<div class="col-sm-4"> </div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal" id="ReconThemedetail">
		<div class="modal-dialog modal-xl">
			<div class="modal-content" style="height:585px;">
				<div class="modal-header">
				</div>
				<div class="modal-body" style="margin-top: -26px;">
					<div class="row">
						<div class="col-sm-4">
						</div>
						<div class="col-sm-4">
							<h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;">Theme Detail</h4>
						</div>
						<div class="col-sm-4">
							<i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
						</div>
					</div>
					<hr style="margin-top:-1px; width:100%;">
					<div class="container" style="padding:0px !important;">
					 @await Html.PartialAsync("_UpdateThemedetail")
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
<script type="text/javascript">
	var themeList = [];
	$(document).ready(function () {
		$("#navhead").text("Recon Theme Update");
		kendodate_format();
		grid_themelist([]);
		gridreconlist();
	});

	function gridreconlist() {
		var data = {};
		data.in_user_gid = 0;
		data.in_active_status = '';
		data.in_user_code = sessionStorage.getItem("usrname");
		var Context = data;
		$.ajax({
			type: "POST",
			url: '../Recon/Reconlistfetch',
			dataType: 'json',
			data: JSON.stringify(data),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				var res = JSON.parse(response);
				$("#cmbreconname").empty();
				$("#updatereconname").empty();
				$("#cmbreconname").append($('<option>', {
					value: "",
					text: "  Select  "
				}));
				$("#updatereconname").append($('<option>', {
					value: "",
					text: "  Select  "
				}));
				$.each(res, function (index, item) {
					if (item.active_status == "Y") {
						$("#cmbreconname").append($('<option>', {
							value: item.recon_code,
							text: item.recon_name
						}));
					}
				});
				$.each(res, function (index, item) {
					if (item.active_status == "Y") {
						$("#updatereconname").append($('<option>', {
							value: item.recon_code,
							text: item.recon_name
						}));
					}
				});

				if (sessionStorage.getItem("reconcode") != null) {
					$("#cmbreconname").val(sessionStorage.getItem("reconcode"));
					jQuery('#cmbreconname').trigger("change");
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}

		});
	}

	//function getSerializedRows() {
	//	btn_onClick('Create');
	//	document.location = "../Reports/ReportTempletedetail";
	//}

	function gridlist() {
		if ($("#cmbreconname").val() != '') {
			sessionStorage.setItem("reconcode", $("#cmbreconname").val());
			sessionStorage.setItem("reconname", $("#cmbreconname :selected").text());
			setcon();
		}
		var data = {};
		data.recon_code = $("#cmbreconname").val();
		data.in_user_code = sessionStorage.getItem("usrname");
		if (data.recon_code) {
			$.ajax({
				type: "POST",
				url: '../Theme/Themelistfetch',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify(data),
				success: function (response) {
					if (response != " " && response != null && response != "{}" && response != "[]") {
						var res = JSON.parse(response)
						$("#gd_themelist").empty();
						$("#gd_themelist").append("<div id='grid_themelist'></div>");
						var activeItems = res.filter(item => item.active_status == 'Y');
						grid_themelist(activeItems);
					}
					else {
						grid_themelist([]);
					}
				},
				error: function (er) {
					alert(er)
					console.log(er)
				}
			});
		} else {
			grid_themelist([]);
		}
	}

	function grid_themelist(data) {
		try {
			$("#grid_themelist").kendoGrid({
				dataSource: {
					data: data,
					pageSize: 15,
					schema: {
						model: {
							fields: {
								theme_gid: { type: "string" },
								theme_code: { type: "string" },
								theme_desc: { type: "string" },
								theme_order: { type: "number" },
								recon_code: { type: "string" },
								recon_name: { type: "string" },
								active_status: { type: "string" },
								hold_flag: { type: "string" },
								active_status_desc: { type: "string" }
							}
						}
					}
				},
				height: 420,
				groupable: false,
				dataBound: function (e) {
					resultData = e.sender._data;
					var rows = $('#grid_themelist').data('kendoGrid').tbody.children();
					setColor(rows, resultData);
				},
				pageable: {
					refresh: false,
					pageSizes: [10, 15, 20, 25, 50],
					buttonCount: 5
				},
				sortable: true,
				selectable: true,
				filterable: true,
				navigatable: true,
				change: selectRow,
				resizable: true,
				columns: [{
					command: [
						{
							name: "edit",
							id: "btn_Edit",
							template: "<a href='' onclick='getSerializedSelectedRows(this)' class='k-grid-process' value='edit' data-bs-toggle='modal'><img style='height: 16px;width: 16px; cursor: pointer;' src = '../Assets/images/update.png' title='Update'></a>&nbsp;&nbsp;&nbsp;",
						},
						{
							name: "view",
							id: "View",
							template: "<a href=''onclick='getSerializedSelectedRows(this)' class='k-grid-view' value='view' data-bs-toggle='modal'><img title='View' style='cursor: pointer;' src = '../Assets/images/viewicons.png'></a>&nbsp;&nbsp;&nbsp;",
						},
					],
					title: "Action&nbsp;",
					width: "40px",
					attributes: { style: "text-align: center;" },
				},
				{
					field: "theme_gid",
					title: "Row id",
					width: 50,
					hidden: true,
				},
				{
					field: "theme_order",
					title: "Theme Order",
					width: 40,
					attributes: { style: "text-align: right;" },
					filterable: {
						ui: "numericInput",
						extra: false,
					},
				},
				{
					field: "theme_code",
					title: "Theme Code",
					width: 40,
				},
				{
					field: "theme_desc",
					title: "Theme Description",
					width: 120,
				},
				{
					field: "recon_code",
					title: "Recon Code",
					width: 60,
					hidden: true,
				},
				{
					field: "recon_name",
					title: "Recon Name",
					width: 120,
					hidden: true,
				},
				{
					field: "theme_type_code",
					title: "Recon Name",
					width: 120,
					hidden: true,
				},
				{
					field: "theme_type_desc",
					title: "Theme Type",
					width: 40,
				},
				{
					field: "hold_flag_desc",
					title: "Hold Flag",
					width: 40,
					hidden: true,
				},
				{
					field: "active_status",
					title: "Status",
					width: 100,
					hidden: true
				},
				{
					field: "hold_flag",
					title: "hold_flag",
					width: 40,
					hidden: true,
				},
				{
					field: "active_status_desc",
					title: "Status",
					width: 40,
					resizable: false,
					filterable: {
						ui: priorityFilter,
						extra: false,
						operators: {
							string: {
								eq: "Is equal to",
								neq: "Not equal to"
							}
						},
					},
				},

				{
					field: "In_mode_flag",
					title: "Mode",
					width: 50,
					hidden: true
				}],
				editable: false,

			});
		}
		catch (err) {
			console.log(err)

		}
	}

	function selectRow() {
		try {
			var grid = $("#grid_themelist").data("kendoGrid");
			var selectedItem = grid.dataItem(grid.select());
			$("#selectedTheme").val(selectedItem.theme_code);
		}
		catch (err) {

		}
	}

	function priorityFilter(element) {
		element.kendoDropDownList({
			dataSource: status_Priority,
			optionLabel: "--Select Value--"
		});
	}

	function viewThemeDetails() {
		if ($("#updatethemename").val()) {
			event.preventDefault();
			var selectedItem = themeList.filter(item => item.theme_code == $("#updatethemename").val());
			setlocalStorage("theme_details", selectedItem[0]);
			btn_onClick('Edit');
			getGridthemeComboList();
			$("#ReconThemedetail").on("click", function (event) {
				event.stopPropagation();
			});
			$("#ReconThemedetail").modal('show');
		} else {
			$.alert({
				title: 'Recon',
				content: "Please Select Updated Theme .!",
				type: 'green',
			});
		}

	}

	function getSerializedSelectedRows(mode) {
		try {
			var grid = $("#grid_themelist").data("kendoGrid");
			var selectedItem = grid.dataItem(grid.select());
			$('#selected_theme_name').text('Selected Theme :' + selectedItem.theme_desc);
			if ($(mode).attr('value') == "edit") {
				$("#updatereconname").val("");
				$("#updatetemename").val("");
				$("#infomodal").modal("show");
			} else if ($(mode).attr('value') == "view") {
				event.preventDefault();
				var grid = $("#grid_themelist").data("kendoGrid");
				var selectedItem = grid.dataItem(grid.select());
				setlocalStorage("theme_details", selectedItem);
				btn_onClick('Edit');
				getGridthemeComboList();
				$("#ReconThemedetail").on("click", function (event) {
					event.stopPropagation();
				});
				$("#ReconThemedetail").modal('show');
			}
		}
		catch (err) {

		}
	}

	function rr1() {
		$("#updatereconname").val("");
		$("#updatethemename").val("");
		$("#selectedTheme").val("");
		$("#infomodal").modal("hide");
	}

	function updateRecon() {
		var data = {};
		data.in_base_recon_code = $("#cmbreconname").val();
		data.in_base_theme_code = $("#selectedTheme").val();
		data.in_update_recon_code = $("#updatereconname").val();
		data.in_update_theme_code = $("#updatethemename").val();
		data.in_user_code = sessionStorage.getItem("usrname");
		if (data.in_update_recon_code && data.in_update_theme_code) {
			$.ajax({
				type: "POST",
				url: '../Reconupdate/ReconUpdateTheme',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify(data),
				success: function (response) {
					if (response != " " && response != null && response != "{}" && response != "[]") {
						var res = JSON.parse(response);
						if (res[0]["out_result"] == 1) {
							$.alert({
								title: 'Recon',
								content: res[0]["out_msg"],
								type: 'green',
							});
							rr1();
						} else {
							$.alert({
								title: 'Recon',
								content: res[0]["out_msg"],
								type: 'red',
							});
						}
					} else {

					}
				},
				error: function (er) {
					alert(er)
					console.log(er)
				}
			});
		} else if (!data.in_update_recon_code) {
			$.alert({
				title: 'Recon',
				content: "Please Select Update Recon .!",
				type: 'red',
			});

		} else if (!data.in_update_theme_code) {
			$.alert({
				title: 'Recon',
				content: "Please Select Update Theme .!",
				type: 'red',
			});
		}
	}

	function updateTheme() {
		var grid = $("#grid_themelist").data("kendoGrid");
		var selectedItem = grid.dataItem(grid.select());
		var data = {};
		data.recon_code = $("#updatereconname").val();
		data.in_user_code = sessionStorage.getItem("usrname");
		if (data.recon_code) {
			$.ajax({
				type: "POST",
				url: '../Theme/Themelistfetch',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify(data),
				success: function (response) {
					if (response != " " && response != null && response != "{}" && response != "[]") {
						var res = JSON.parse(response);
						$("#updatethemename").empty();
						$("#updatethemename").append($('<option>', {
							value: "",
							text: "  Select  "
						}));
						$.each(res, function (index, item) {
								themeList.push(item);
								$("#updatethemename").append($('<option>', {
									value: item.theme_code,
									text: item.theme_desc
								}));
						});
					} else {
						$.alert({
							title: 'Recon',
							content: "No Theme Found .!",
							type: 'red',
						});
					}
				},
				error: function (er) {
					alert(er)
					console.log(er)
				}
			});
		} else {
			$("#updatethemename").val("");
		}
	}

</script>