@{
	ViewBag.title = "Roles";
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 33rem !important;
		}

		.error_show {
			color: red;
			margin-left: 10px;
		}

		table {
			border: 1px solid #C5C5C5 !important;
		}

		.k-grid-content {
			overflow-x: hidden;
		}

		.k-grid.k-widget {
			height: 360px;
		}

		.k-grid-header th.k-header > .k-link {
			width: 100px;
		}

		.k-grid-header {
			font-weight: bold;
		}

		.k-grid-filter.k-state-active {
			color: #ffffff;
			background-color: #1274AC;
		}

		.k-content {
			font-weight: normal;
			font-size: 13px;
		}

		.k-widget.k-window {
			padding-top: 35px;
			min-width: 90px;
			min-height: 50px;
			width: 700px !important;
			height: 300px !important;
			top: 180.766px !important;
			/*left: 120px !important;*/
			z-index: 10003;
			left: 300px !important;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top: -1%; min-height: 82%;">
				<div class="row" style="margin-top:-15px;">
					<div class="col-xs-12">
						@*<a href='' onclick='getSerializedRows()' data-bs-toggle='modal'>
							<i class="fa fa-plus cursor-pointer" aria-hidden="true" style="color:green;font-size:15px;"></i>
						</a>*@
							<i class="fa fa-plus cursor-pointer" onclick="roleAccess('Create')" aria-hidden="true" style="color:green;font-size:15px;"></i>
						<div id="grid_role"> 
							<div id="grid_rolelist"> </div>
						</div>
					</div>
				</div>
				<div class="modal" id="Roleform" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
							</div>
							<div class="modal-body" style="margin-top: -26px;">
								<div class="row">
									<div class="col-sm-4">
									</div>
									<div class="col-sm-4">
										<h4 style="font-size: 14px;text-align: center;color: #1a9950;font-weight: 600;">Add Roles</h4>
									</div>
									<div class="col-sm-4">
										<i class="bx bx-x cursor-pointer" data-bs-dismiss="modal" style="color: #000000;float:right"></i>
									</div>
								</div>
								<hr style="margin-top:-1px; width:100%;">
								<div class="container">
									<div class="row" style="padding-bottom:5px;margin-top:5px;padding-left:30px;padding-right:5px">
										<div class="col-sm-4">
											<label for="" class="form-label">Role Code&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
											<input class="form-control" disabled id="role_code" name="RoleCode" type="text" value="">
											<input type="hidden" id="role_gid" value="0" />
											<input type="hidden" id="txtmodedataset" value="Create" />
										</div>
										<div class="col-sm-4">
											<label for="" class="form-label">Role Name&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
											<input class="form-control" id="role_name" name="RoleName" type="text" value="">
										</div>
										<div class="col-sm-4">
											<label for="" class="form-label">Status&nbsp;</label>
											<select id="cmbstatus" class="form-select form-control" disabled>
												<option value="Y" selected>ACTIVE</option>
											</select>
										</div>
										
									</div>
								</div>
								<div class="col-sm-4" style="margin-top:30px;float: right;">
									<center>
										<button type="button" class="btn btn-sm save_btn me-2" onclick="saveRole()">Save</button>&nbsp;&nbsp;&nbsp;
										<button type="button" class="btn btn-sm cancel_btn me-2" data-bs-dismiss="modal">Cancel</button>
									</center>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	$(document).ready(function () {
		grid_role();
		$("#navhead").text("Roles");
		setlocalStorage("ls_pageList", "");
		setlocalStorage("getRoleCode", "");

	});

	function grid_role() {
		var in_user_code = sessionStorage.getItem("usrname");
		grid_role_details([]);
		$.ajax({
			type: "POST",
			url: '../Admin/rolelist',
			dataType: 'json',
			data: JSON.stringify({ in_user_code: in_user_code}),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				var result = JSON.parse(response);
				if (result != null) {
					$("#grid_role").empty();
					$("#grid_role").append("<div id='grid_rolelist'></div>");
					grid_role_details(result);
				}
				else {
					grid_role_details([]);
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}

		});
		
	}
	var status_Priority = [];
	function grid_role_details(data) {
		$("#grid_role").kendoGrid({
			dataSource: {
				data: data,
				pageSize: 15,
				schema: {
					model: {
						fields: {
							role_gid: { type: "string" },
							role_code: { type: "string" },
							role_name: { type: "string" },
							active_status: { type: "string" },
							active_status_desc: { type: "string" }
						}
					}
				}
			},
			height: 458,
			groupable: false,
			dataBound: function (e) {
				resultData = e.sender._data;
				var rows = $('#grid_role').data('kendoGrid').tbody.children();
				setColor(rows, resultData);
			},
			pageable: {
				refresh: false,
				pageSizes: true,
				buttonCount: 5
			},
			sortable: true,
			selectable: true,
			filterable: true,
			navigatable: true,
			resizable: true,
			change: selectRow,
			columns: [{
				command: [
					{
						name: "edit",
						id: "btn_Edit",
						template: "<a href='' onclick='getSerializedSelectedRows(this)' value='edit' data-bs-toggle='modal'><img src = '../Assets/images/editicons.png'></a>&nbsp;&nbsp;&nbsp;",
					},
					{
						name: "view",
						id: "View",
						template: "<a href='' onclick='getSerializedSelectedRows(this)' value='view' data-bs-toggle='modal'><img src = '../Assets/images/viewicons.png'></a>&nbsp;&nbsp;&nbsp;",
					},
					{
						name: "Delete",
						id: "Delete",
						template: "<a href='' onclick='myDeleteJs()' data-bs-toggle='modal'><img src = '../Assets/images/del.png'></a>&nbsp;&nbsp;&nbsp;",
					},
					//{
					//	name: "Role Access",
					//	id: "Role Access",
					//	template: "<a href='' title='Role Mapping' id='rolemapping' onclick='roleAccess()' data-bs-toggle='modal' value='role'><img style='height:16px' src = '../Assets/images/participant.jpg'></a>&nbsp;&nbsp;&nbsp;",
					//},
				], title: "Action&nbsp;", width: "40px",
			},
			{
				field: "role_gid",
				title: "role_gid",
				width: 100,
				hidden: true,
			},

			{
				field: "role_code",
				title: "Role Code",
				width: 100,
			},
			{
				field: "role_name",
				title: "Role Name",
				width: 100,
			},
			
			{
				field: "active_status",
				title: "Status",
				width: 100,
				hidden: true
			},
			{
				field: "active_status_desc",
				title: "Status",
				width: 50,				
			}],
			editable: false,

		});
	}

	function getSerializedRows() {
		btn_onClick('Create');
		$("#role_code").val('');
		$("#role_gid").val(0);
	}
	
	function selectRow() {
		try {
			var grid = $("#grid_role").data("kendoGrid");
			var selectedItem = grid.dataItem(grid.select());
			setlocalStorage("ls_pageList", selectedItem);
			$("#role_gid").val(selectedItem.role_gid);
			$("#role_code").val(selectedItem.role_code);
		}
		catch (err) {

		}
	}
	function saveRole(){
		try {
			var rolecode = $("#role_code").val() ? $("#role_code").val() : '';
			var rolename = $("#role_name").val();
			var status = $("#cmbstatus").val();
			var rolegid = $("#role_gid").val();
			var action_by = sessionStorage.getItem("usrname");
			var action = (rolegid && rolecode) ? 'UPDATE' : 'INSERT'
			$.ajax({
				type: "POST",
				url: '../Admin/rolesave',
				dataType: 'json',
				data: JSON.stringify({ in_role_gid: rolegid, in_role_code: rolecode, in_role_name: rolename, in_active_status: 'Y', in_active_reason: '', in_action: action, action_by: action_by }),
				contentType: 'application/json; charset=utf-8',
				success: function (res) {
					if(res) {
					var response = JSON.parse(res);
					if (response[0].out_result == "1") {
						$.alert({
							title: 'Recon',
							content: response[0].out_msg,
							type: 'green',
						});
							$("#role_code").val("");
							$("#role_name").val("");
							$("#role_gid").val(response[0].in_role_gid);
							$("#Roleform").modal('hide');
							grid_role();
					}
					else {
						$.alert({
							title: 'Recon',
							content: response[0].out_msg,
							type: 'green',
						});
					}
					}
				},
				error: function (er) {
					alert(er)
					console.log(er)
				}
			});
		}
		catch (e) {
			console.log(e)
		}
	}

	function detailfetch(role_gid){
		var in_user_code = sessionStorage.getItem("usrname");
		try {
			$.ajax({
				type: "POST",
				url: '../Admin/roledetails',
				dataType: 'json',
				data: JSON.stringify({ in_role_gid: role_gid, in_user_code: in_user_code }),
				contentType: 'application/json; charset=utf-8',
				success: function (res) {
					if (res) {
						var response = JSON.parse(res);
						if(response.length > 0) {
							$("#role_code").val(response[0].role_code);
							$("#role_name").val(response[0].role_name);
							$("#role_gid").val(response[0].role_gid);
						}

						
					}
				},
				error: function (er) {
					alert(er)
					console.log(er)
				}
			});
		}
		catch (e) {
			console.log(e)
		}
	}


	function getSerializedSelectedRows(mode) {
		try {
			if (getlocalStorage("ls_pageList") != undefined || getlocalStorage("ls_pageList") != "") {
				var items = getlocalStorage("ls_pageList");
				if (items.length == 0) {
					kendoAlert("Please select records");
				}
				else {
					if ($(mode).attr('value') == "edit") {
						if (items.active_status != "N") {
							btn_onClick("Edit");
							//$("#Roleform").modal('show');
							var grid = $("#grid_role").data("kendoGrid");
							var selectedItem = grid.dataItem(grid.select());
							detailfetch(selectedItem.role_gid);
							document.location = "../Admin/Rolemapping";
						}
					}
					else if ($(mode).attr('value') == "view") {
						btn_onClick('View');
						//$("#Roleform").modal('show');
						var grid = $("#grid_role").data("kendoGrid");
						var selectedItem = grid.dataItem(grid.select());
						detailfetch(selectedItem.role_gid);
						document.location = "../Admin/Rolemapping";

					} else if ($(mode).attr('value') == "role") {
						btn_onClick('role');
						var grid = $("#grid_role").data("kendoGrid");
						var selectedItem = grid.dataItem(grid.select());
						document.location = "../Admin/Rolemapping";
					}
				}
			}
		}
		catch (err) {

		}
	}

	function myDeleteJs() {
		var grid = $("#grid_role").data("kendoGrid");
		var model = grid.dataItem($(event.target).closest("tr"));
		var role_gid = model.role_gid;
		$.confirm({
			icon: 'fa fa-warning',
			title: 'Recon',
			autoClose: 'cancel|10000',
			theme: 'dark',
			animationSpeed: 700,
			content: 'Are you sure do you want to delete this record!',
			type: 'orange',
			buttons: {
				confirm: function () {
					$.confirm({
						title: 'Delete Reason',
						content: '' +
							'<form action="" class="formName">' +
							'<div class="form-group">' +
							'<label>Reason</label>' +
							'<input type="text" placeholder="Reason" class="name form-control" required />' +
							'</div>' +
							'</form>',
						buttons: {
							formSubmit: {
								text: 'Submit',
								btnClass: 'btn-blue',
								action: function () {
									var name = this.$content.find('.name').val();
									if (!name) {
										$.alert('Reason cannot be empty');
										return false;
									}
									var rolename = model.role_name;
									var rolecode = model.role_code;
									var action = "DELETE";
									var rolegid = model.role_gid;
									var action_by = sessionStorage.getItem("usrname");
									$.ajax({
										type: "POST",
										url: '../Admin/rolesave',
										dataType: 'json',
										data: JSON.stringify({ in_role_gid: rolegid, in_role_code: rolecode, in_role_name: rolename, in_active_status: 'Y', in_active_reason: name, in_action: action, action_by: action_by }),
										contentType: 'application/json; charset=utf-8',
										success: function (response) {
											var result = JSON.parse(response);
											var data = result[0];
											if (data.out_result == "1") {
												$.alert({
													icon: 'fa fa-success',
													title: 'Recon',
													theme: 'dark',
													content: data.out_msg,
													type: 'green',
													animationSpeed: 700,
												});
												grid_role();
											} else {
												$.alert({
													title: 'Recon',
													content: data.out_msg,
													type: 'red',
												});
											}
										}
									})
								}
							},
							cancel: function () {
								//close
							},
						},

					});
				},
				cancel: function () {
					$.alert({
						icon: 'fa fa-success',
						title: 'Recon',
						theme: 'dark',
						content: 'Delete Canceled.!',
						type: 'blue',
						animationSpeed: 700,
					});
				},
			}
		});
	}

	function roleAccess(mode){
		btn_onClick('Create'); 
		document.location = "../Admin/Rolemapping";
	}
</script>
