@{
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 33rem !important;
		}

		.error_show {
			color: red;
			margin-left: 10px;
		}

		.k-grid.k-widget {
			height: 360px;
		}

		.k-grid-header th.k-header > .k-link {
			width: 100px;
			color: white !important;
		}

		.k-grid-header {
			font-weight: bold;
		}

		.k-content {
			font-weight: normal;
			font-size: 13px;
		}

		.k-widget.k-window {
			padding-top: 35px;
			min-width: 90px;
			min-height: 50px;
			width: 700px !important;
			height: 300px !important;
			top: 180.766px !important;
			/*left: 120px !important;*/
			z-index: 10003;
			left: 300px !important;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top:-12px;height: 84%;">
				<form method="post" class="form-horizontal" id="form" enctype="multipart/form-data">
					<div class="row" style="margin-top: -18px;margin-bottom: 10px;">
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-4">
									<label for="lblmode" class="form-label">Mode</label>
									<select class="form-control form-select" name="mode" id="txtmode">
										<option value="create">Create</option>
										<option value="edit">Modify</option>
										<option value="view">View</option>
									</select>
								</div>
								<div class="col-sm-4">
									<label for="lbluserid" class="form-label">User ID</label>
									<input class="form-control" type="text" id="txtuserid" value="ID : 0" disabled>
								</div>
								<div class="col-sm-4">
									<label for="lblstatus" class="form-label">Status</label><br>
									<input class="form-control" type="text" id="txtstatus" value="Active" disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-sm-3">
							<label class="form-label" for="">User Name&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
							<input class="form-control" type="text" id="username">
							<input class="form-control" type="hidden" id="usergid" value=0;>
						</div>
						<div class="col-sm-3">
							<label class="form-label" for="">Mobile No&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
							<input class="form-control" type="text" id="username">
						</div>
						<div class="col-sm-3">
							<label class="form-label" for="">User ID&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
							<input class="form-control" type="text" id="userid">
						</div>
						<div class="col-sm-3">
							<label class="form-label" for="">Email ID&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
							<input class="form-control" type="text" id="emailid">
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-sm-3">
							<label class="form-label" for="">Password&nbsp;<span style="font-size: 12px;color: red;font-weight: bold;">*</span></label>
							<input class="form-control" type="text" id="password">
						</div>
						<div class="col-sm-3">
							<label class="form-label" for="">Role&nbsp;</label>
							<select id="Cmbrole" class="form-select form-control">
							</select>
						</div>
						<div class="col-sm-2" style="margin-top:30px">
							<button type="button" class="btn btn-sm btn-primary me-2" id="btnreconstatus" onclick="saveclone()">Recon Status</button>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="col-sm-1" style="margin-top:30px">
							<button type="button" class="btn btn-sm btn-primary me-2" id="btnsave" onclick="saveclone()">Save</button>&nbsp;&nbsp;&nbsp;
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-xs-12">
							<div id="gd_user">
								<div id="grid_user">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	$(document).ready(function () {
		$("#navhead").text("User Creation");
		griduserlist();
		gridlist();
	});
	function gridlist() {
		var data = {};
		data.user_code = '';
		data.role_code = '';
		data.lang_code = '';
		var Context = data;
		$.ajax({
			type: "POST",
			url: '../Admin/userlistfetch',
			dataType: 'json',
			data: JSON.stringify({ user_code: Context.user_code, role_code: Context.role_code, lang_code: Context.lang_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				if (response != null) {
					var result = JSON.parse(response);
					$("#gd_user").empty();
					$("#gd_user").append("<div id='grid_user'></div>");
					griduserlist(result);
				}
				else {
					griduserlist([]);
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}

		});
	}
	function griduserlist(data) {
		try {
			$("#grid_user").kendoGrid({
				dataSource: {
					data: data,
					pageSize: 15,
					schema: {
						model: {
							fields: {
								user_gid: { type: "string" },
								user_code: { type: "string" },
								user_name: { type: "string" },
								user_contactno: { type: "string" },
								user_emailid: { type: "string" },
								role_code: { type: "string" },
								role_name: { type: "string" },
								user_password: { type: "string" },
								status: { type: "string" }
							}
						}
					}
				},
				height: 290,
				groupable: false,
				pageable: {
					refresh: false,
					pageSizes: true,
					buttonCount: 5
				},
				sortable: true,
				selectable: true,
				filterable: false,
				navigatable: true,
				columns: [
					{
						field: "user_gid",
						title: "User gId",
						width: 100,
						hidden: true,
					},

					{
						field: "user_code",
						title: "User ID",
						width: 100,
					},
					{
						field: "user_name",
						title: "User Name",
						width: 100,
					},
					{
						field: "user_contactno",
						title: "Contact No",
						width: 100,
					},
					{
						field: "user_emailid",
						title: "Email ID",
						width: 100,
					},
					{
						field: "role_name",
						title: "Role",
						width: 100,
					},
					{
						field: "role_code",
						title: "role_code",
						width: 100,
						hidden: true,
					},
					{
						field: "user_password",
						title: "user_password",
						width: 100,
						hidden: true,
					},
					{
						command: [
							{
								name: "edit",
								id: "btn_Edit",
								template: "<a href='' value='edit' data-bs-toggle='modal'><img src = '../Assets/images/editicons.png'></a>&nbsp;&nbsp;&nbsp;",
							},							
							{
								name: "Delete",
								id: "Delete",
								template: "<a href='' data-bs-toggle='modal'><img src = '../Assets/images/del.png'></a>&nbsp;&nbsp;&nbsp;",
							},
						], title: "Action&nbsp;", width: "40px",
					}],
				editable: false,

			});
		}
		catch (err) {
			console.log(err)

		}
	}
</script>