@{
	ViewBag.title = "Dataset To Recon";
	Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!Doctype html>
<html>
<head>
	<title></title>
	<style>
		.nav-item.me-2.me-xl-50 {
			margin-right: 33rem !important;
		}

		.error_show {
			color: red;
			margin-left: 10px;
		}

		.k-grid.k-widget {
			height: 360px;
		}

	
		.k-grid-header {
			font-weight: bold;
		}

		.k-state-active {
			display: none;
		}

		.k-content {
			font-weight: normal;
			font-size: 13px;
		}

		.k-widget.k-window {
			padding-top: 35px;
			min-width: 90px;
			min-height: 50px;
			width: 700px !important;
			height: 300px !important;
			top: 180.766px !important;
			/*left: 120px !important;*/
			z-index: 10003;
			left: 300px !important;
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card-body" style="margin-top: -1%; min-height: 82%;">
				<div class="row">
					<div class="col-xs-12">
						<div id="grid_datasettorecon"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	$(document).ready(function () {
		grid_datasettorecon([]);
		$("#navhead").text("Dataset To Recon");
		gridlist();
	});
	function gridlist() {
		var data = {};
		data.in_user_gid = 0;
		var Context = data;
		var in_user_code = sessionStorage.getItem("usrname");
		$.ajax({
			type: "POST",
			url: '../DatasettoRecon/DatasettoReconListfetch',
			dataType: 'json',
			data: JSON.stringify({ in_user_gid: Context.in_user_gid, in_user_code: in_user_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				if (response != null) {
					var res = JSON.parse(response);
					grid_datasettorecon(res);
				}
				else {
					grid_datasettorecon([]);
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}
		});
	}
	function grid_datasettorecon(data) {
		$("#grid_datasettorecon").kendoGrid({
			dataSource: {
				data: data,
				pageSize: 10,
				schema: {
					model: {
						fields: {
							scheduler_gid: { type: "string" },						
							scheduled_date: { type: "string" },
							scheduler_start_date: { type: "string" },
							scheduler_end_date: { type: "string" },
							scheduler_initiated_by: { type: "string" },
							pipeline_code: { type: "string" },
							pipeline_name: { type: "string" },
							file_name: { type: "string" },
							dataset_code: { type: "string" },
							dataset_name: { type: "string" },
							last_sync_date: { type: "string" },
							last_sync_status: { type: "string" },							
						}
					}
				}
			},
			height: 400,
			groupable: false,
			dataBound: function (e) {
				resultData = e.sender._data;
				var rows = $('#grid_datasettorecon').data('kendoGrid').tbody.children();
				//setColor(rows, resultData);
			},
			sortable: true,
			selectable: true,
			filterable: true,
			navigatable: true,
			resizable: true,
			pageable: true,
			pageable: {
				refresh: false,
				pageSizes: true,
				buttonCount: 5
			},
			columns: [
				{
					command: [
						{
							name: "Process",
							id: "Edit",
							click: function (e) {
								process()
							},
						},
					], title: "Action&nbsp;", width: "80px",
				},
				{
					field: "scheduler_gid",
					title: "scheduler_gid",
					width: 100,
					hidden: true,
				},
				{
					field: "scheduled_date",
					title: "Scheduler Date",
					width: 150,
				},
				{
					field: "scheduler_start_date",
					title: "Scheduler Start Date",
					width: 180,
				},
				{
					field: "scheduler_end_date",
					title: "Scheduler End Date",
					width: 180,
				},
				{
					field: "scheduler_initiated_by",
					title: "Scheduler initiated By",
					width: 180,
				},				
				{
					field: "pipeline_code",
					title: "Pipeline Code",
					width: 180,
				},
				{
					field: "pipeline_name",
					title: "Pipeline Name",
					width: 180,
				},
				{
					field: "file_name",
					title: "File Name",
					width: 120,
				},
				{
					field: "dataset_code",
					title: "Dataset Code",
					width: 100,
					hidden: true,
				},
				{
					field: "dataset_name",
					title: "Dataset Name",
					width: 180,
				}, 
				{
					field: "last_sync_date",
					title: "Last Sync Date",
					width: 180,
				}, 
				{
					field: "last_sync_date",
					title: "Last Sync Date",
					width: 180,
				}],
			editable: false,

		});
	}
	function process() {
		var grid = $("#grid_datasettorecon").data("kendoGrid");
		var model = grid.dataItem($(event.target).closest("tr"));
		var scheduler_gid = model.scheduler_gid;	
		var in_ip_addr="";
		var in_user_code = sessionStorage.getItem("usrname");
		$.ajax({
			type: "POST",
			url: '../DatasettoRecon/DatasettoReconprocess',
			dataType: 'json',
			data: JSON.stringify({ in_scheduler_gid: scheduler_gid, in_ip_addr: in_ip_addr, in_user_code: in_user_code }),
			contentType: 'application/json; charset=utf-8',
			success: function (response) {
				var result = JSON.parse(response);
				var data = result[0];
				if (data.out_result == "1") {
					$.alert({
						title: 'Recon',
						content: data.out_msg,
						type: 'green',
					});
				} else {
					$.alert({
						title: 'Recon',
						content: data.out_msg,
						type: 'red',
					});
				}
			},
			error: function (er) {
				alert(er)
				console.log(er)
			}

		});
	}
</script>

